@import "../vars";

.audit {
  margin-bottom: 10rem;
  overflow: hidden;

  @include breakpoint($jb-bp) {
    margin-bottom: 8rem;
  }

  &-container {
    background-color: $green;
    background-image: url(../images/Ellipse.png), url(../images/Ellipse.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 120% -35%, 120% -80%;
    background-size: 60rem 60rem;
    padding: 4rem;
    display: flex;
    gap: 4rem;

    @include breakpoint($jb-bp) {
      background-position: 240% -15%, 240% -36%;
    }

    @include breakpoint($lb-bp) {
      flex-direction: column;
      padding: 4rem 2rem;
      background-position: 25rem 5rem, 25rem 15rem;
    }
  }

  &-info {
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpoint($xl-bp) {
      max-width: 36rem;
    }

    @include breakpoint($lb-bp) {
      gap: 4rem;
      max-width: none;
    }

    &__title {
      color: $white;
      font-size: 5.2rem;
      line-height: 100%;
      margin-bottom: 2rem;

      @include breakpoint($cos-bp) {
        font-size: 2.4rem;
      }
    }

    &__description {
      color: $white;
      font-weight: $font-reg;

      @include breakpoint($cos-bp) {
        font-size: 1.4rem;
      }
    }

    &__btn {
      @include breakpoint($lb-bp) {
        width: 100%;
      }
    }
  }

  &-img {
    height: 42rem;
    width: 68rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint($cos-bp) {
      height: 30rem;
      width: 58rem;
    }

    @include breakpoint($jb-bp) {
      height: 30rem;
      width: 48rem;
    }

    @include breakpoint($lb-bp) {
      width: 100%;
      height: 30rem;
    }

    @include breakpoint($sm-bp) {
      height: 17.7rem;
    }

    &__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}