@import "../vars";

.contacts {
  margin-top: 19rem;

  @include breakpoint($cos-bp) {
    margin-top: 10rem;
  }

  @include breakpoint($xl-bp) {
    margin-top: 7.5rem;
  }

  &-container {
    @include breakpoint($xl-bp) {
      padding: 0;
    }
  }

  &-map {
    width: 100%;
    height: 100%;
    background-color: $grey;

    &-wrapper {
      max-width: 138rem;
      height: 40rem;
      margin: 0 auto;
      position: relative;
    }

    &__frame {
      width: 100%;
      height: 100%;
    }
  }

  &-head {
    max-width: 138rem;
    // height: 40rem;
    // background: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 37, 36, 1)), url(../images/map.png);
    background-position-y: center;
    background-position-x: center;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include breakpoint($xl-bp) {
      // height: 38.2rem;
    }

    &-v2 {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 37, 36, 1));
      pointer-events: none;

      @include breakpoint($xl-bp) {
        padding-top: 10rem;
      }

      .contacts-head-info__link {
        color: $white;
        pointer-events: all;
      }

      .contacts-head-info__title {
        color: $white;
        pointer-events: all;
      }

      .contacts-head-buttons__btn {
        pointer-events: all;

        &._active {
          pointer-events: none;
        }
      }
    }

    &-info {
      padding: 4rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;

      @include breakpoint($xl-bp) {
        padding: 2rem;
      }

      &__link {
        font-size: 2rem;
        font-weight: $font-reg;
        // color: $white;
        transition: .3s;

        &:hover {
          opacity: 0.8;
        }

        @include breakpoint($xl-bp) {
          font-size: 1.4rem;
        }
      }

      &__title {
        font-size: 5.2rem;
        // color: $white;

        @include breakpoint($xl-bp) {
          font-size: 2.8rem;
        }
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      width: fit-content;

      &__btn {
        width: 22.6rem;
        height: 8.9rem;
        background-color: $white;
        padding: 0;
        margin: 0;
        border: 0.1rem solid $grey;
        outline: none;
        font-size: 2.4rem;
        font-weight: $font-reg;
        transition: .3s;

        &:hover {
          transform: translateY(-1rem);
        }

        &._active {
          border-color: $green;
          background-color: $green;
          color: $white;
        }

        @include breakpoint($xl-bp) {
          height: 6.4rem;
          font-size: 2rem;
        }

        @include breakpoint($lb-bp) {
          display: none;
        }
      }
    }
  }

  &-select {
    margin: 0;
    width: 100%;

    @include breakpoint($lb-bp) {}
  }

  &-swiper {
    max-width: 138rem;
    margin: 0 auto;
    margin-bottom: 20rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 8rem;
    }

    &-slide {
      padding: 4rem;
      background-color: $light-grey;
      display: flex;
      flex-direction: column;
      gap: 10rem;

      @include breakpoint($xl-bp) {
        gap: 8rem;
        padding: 2.5rem;
      }

      &__title {
        font-size: 4rem;
        margin-bottom: 4rem;
        color: $green;

        @include breakpoint($xl-bp) {
          font-size: 2.8rem;
          margin-bottom: 3rem;
        }
      }

      &-list {
        display: flex;
        gap: 4rem;

        @include breakpoint($xl-bp) {
          gap: 2rem;
        }

        @include breakpoint($jb-bp) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        @include breakpoint($lb-bp) {
          display: flex;
          flex-direction: column;
        }

        @include breakpoint($sm-bp) {
          flex-direction: column;
          gap: 3rem;
        }

        &-item {
          display: flex;
          flex-direction: column;
          min-width: 23rem;

          &:last-child {
            flex: 1;

            @include breakpoint($jb-bp) {
              grid-column-start: 1;
              grid-column-end: 3;
            }
          }

          @include breakpoint($xl-bp) {
            min-width: 17.5rem;
          }

          @include breakpoint($lb-bp) {
            width: unset;
            flex: 1;
          }

          &__title {
            font-size: 2.4rem;
            font-weight: $font-reg;
            margin-bottom: 2rem;

            @include breakpoint($xl-bp) {
              font-size: 2rem;
              margin-bottom: 1.5rem;
            }
          }

          &__text {
            font-size: 2rem;
            font-weight: $font-reg;
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }

            @include breakpoint($xl-bp) {
              font-size: 1.4rem;
            }
          }

          &__btn {
            width: 34.1rem;
            background-color: transparent;
            color: $green;
            margin-left: auto;

            &:hover {
              color: $white;
              background-color: $green;
            }

            @include breakpoint($jb-bp) {
              margin-left: 0;
            }

            @include breakpoint($lb-bp) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &-scheme {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    pointer-events: none;

    &._active {
      pointer-events: all;

      .contacts-scheme-bg {
        opacity: 1;
        pointer-events: all;
      }

      .contacts-scheme-map {
        transform: translate(0);
      }
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      transition: .3s;
      opacity: 0;
      pointer-events: none;
    }

    &-map {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 84rem;
      background-color: $grey;
      transform: translate(100%, 0);
      transition: .3s;

      @include breakpoint($jb-bp) {
        width: 100%;
      }

      &__frame {
        width: 100%;
        height: 100%;
      }

      &__btn {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 4rem;
        right: 4rem;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 85%;
          height: 85%;
        }
      }
    }
  }
}