@import "../vars";

.contacts {
    margin-top: 19rem;

    @include breakpoint($cos-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($xl-bp) {
        margin-top: 7.5rem;
    }

    &-container {
        @include breakpoint($xl-bp) {
            padding: 0;
        }
    }

    &-head {
        max-width: 138rem;
        height: 40rem;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 37, 36, 1)), url(../images/map.png);
        background-position-y: center;
        background-position-x: center;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @include breakpoint($xl-bp) {
            height: 38.2rem;
        }

        &-info {
            padding: 4rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include breakpoint($xl-bp) {
                padding: 2rem;
            }

            &__link {
                font-size: 2rem;
                font-weight: $font-reg;
                color: $white;
                transition: .3s;

                &:hover {
                    opacity: 0.8;
                }

                @include breakpoint($xl-bp) {
                    font-size: 1.4rem;
                }
            }

            &__title {
                font-size: 5.2rem;
                color: $white;

                @include breakpoint($xl-bp) {
                    font-size: 2.8rem;
                }
            }
        }

        &-buttons {
            display: flex;
            align-items: center;
            width: fit-content;

            &__btn {
                width: 22.6rem;
                height: 8.9rem;
                background-color: $white;
                padding: 0;
                margin: 0;
                border: 0.1rem solid $grey;
                outline: none;
                font-size: 2.4rem;
                font-weight: $font-reg;
                transition: .3s;

                &:hover {
                    transform: translateY(-1rem);
                }

                &._active {
                    border-color: $green;
                    background-color: $green;
                    color: $white;
                }

                @include breakpoint($xl-bp) {
                    height: 6.4rem;
                    font-size: 2rem;
                }

                @include breakpoint($lb-bp) {
                    display: none;
                }
            }
        }
    }

    &-select {
        margin: 0;
        width: 100%;
        @include breakpoint($lb-bp) {
        }
    }

    &-swiper {
        max-width: 138rem;
        margin: 0 auto;
        margin-bottom: 20rem;

        @include breakpoint($xl-bp)  {
            margin-bottom: 8rem;
        }

        &-slide {
            padding: 4rem;
            background-color: $light-grey;
            display: flex;
            flex-direction: column;
            gap: 10rem;

            @include breakpoint($xl-bp) {
                gap: 8rem;
                padding: 2.5rem;
            }

            &__title {
                font-size: 4rem;
                margin-bottom: 4rem;
                color: $green;

                @include breakpoint($xl-bp) {
                    font-size: 2.8rem;
                    margin-bottom: 3rem;
                }
            }

            &-list {
                display: flex;
                gap: 20rem;

                @include breakpoint($cos-bp) {
                    gap: 10rem;
                }

                @include breakpoint($jb-bp) {
                    gap: 4rem;
                }

                @include breakpoint($lb-bp) {
                    gap: 2rem;
                }

                @include breakpoint($sm-bp) {
                    flex-direction: column;
                    gap: 3rem;
                }

                &-item {
                    width: 22rem;
                    display: flex;
                    flex-direction: column;

                    @include breakpoint($lb-bp) {
                        width: unset;
                        flex: 1;
                    }

                    &__title {
                        font-size: 2.4rem;
                        font-weight: $font-reg;
                        margin-bottom: 2rem;

                        @include breakpoint($xl-bp) {
                            font-size: 2rem;
                            margin-bottom: 1.5rem;
                        }
                    }

                    &__text {
                        font-size: 2rem;
                        font-weight: $font-reg;
                        margin-bottom: 1rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        @include breakpoint($xl-bp) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}