.error {
    margin-top: 19rem;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
        margin-bottom: 8rem;
    }

    @include breakpoint($jb-bp) {
        margin-top: 20rem;
    }

    &__title {
        font-size: 5.2rem;
        text-align: center;

        @include breakpoint($xl-bp) {
            font-size: 2.8rem;
        }
    }

    &-code {
        height: 65rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @include breakpoint($xl-bp) {
            height: 34rem;
        }

        @include breakpoint($xs-bp) {
            height: 23rem;
        }

        &__item {
            position: absolute;
            -webkit-background-clip: text;
            color: transparent;
            background-size: 100% 14%;
            background-clip: text;

            &:nth-child(1) {
                background-image: url(../images/error-bg-1.png);
                background-repeat: no-repeat;
                background-position: 0% 25%;
            }

            &:nth-child(2) {
                background-image: url(../images/error-bg-2.png);
                background-repeat: no-repeat;
                background-position: 0% 41%;
            }

            &:nth-child(3) {
                background-image: url(../images/error-bg-3.png);
                background-repeat: no-repeat;
                background-position: 0% 57%;
            }

            &:nth-child(4) {
                background-image: url(../images/error-bg-4.png);
                background-repeat: no-repeat;
                background-position: 0% 73%;
            }

            &:nth-child(5) {
                color: rgba(87, 87, 87, 0.1);
            }
        }

        &__text {
            color: inherit;
            font-size: 46rem;
            font-family: "Fira Sans", sans-serif;

            @include breakpoint($xl-bp) {
                font-size: 24rem;
            }

            @include breakpoint($xs-bp) {
                font-size: 16rem;
            }
        }
    }
}
