@import "../vars";

.header {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    top: -100%;
    transition: .3s;

    &._active {
        top: 0;
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
        position: relative;
        z-index: 2;
        background-color: $white;
    }

    &-container {
        display: flex;
        align-items: center;
    }

    &-logo {
        margin-right: 4rem;

        @include breakpoint($lb-bp) {
            margin-right: 1.6rem;
        }
    }

    &__title {
        font-size: 1.8rem;
        color: $green;
        font-weight: $font-reg;
        max-width: 32rem;

        @include breakpoint($lb-bp) {
            font-size: 1.2rem;
            max-width: 20rem;
        }
    }

    &-phone-list {
        display: flex;
        list-style: none;
        gap: 4rem;
        margin: 0;
        padding: 0;

        &__link {
            font-size: 2.4rem;
        }
    }

    &-btns {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &-menu {
        width: 100%;
        max-height: calc(100vh - 10rem);
        position: absolute;
        z-index: 1;
        background-color: $white;
        transition: .3s cubic-bezier(0.95, 0.05, 0.5, 0.035);
        top: -100vh;
        overflow: auto;

        &._active {
            top: 100%;
            transition: .3s ease-in-out;
        }

        &-list {
            padding: 6rem 0;
            display: flex;
            justify-content: space-between;

            &__title {
                color: $green;
                font-weight: $font-reg;
                margin-bottom: 2rem;
            }
        }
    }

    &-nav {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 47rem;

            &__link {
                font-weight: $font-reg;
                transition: .3s;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &__contacts {
                background-color: $light-grey;
                padding: 3rem;
                width: 32rem;
                display: flex;
                flex-direction: column;
                gap: 4rem;
            }

            &__title {
                font-weight: $font-reg;
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &__link {
                    font-weight: $font-reg;
                }
            }
        }
    }

    @include breakpoint($cos-bp) {
        &-phone-container {
            display: none;
        }

        &-btns {
            display: none;
        }
    }

    @include breakpoint($xl-bp) {
        &-inner {
            padding: 1.6rem 0;
        }

        &-menu {
            &-list {
                flex-wrap: wrap;

                &__item {
                    width: 50%;
                    margin-bottom: 4rem;
                }

                &__info-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &-nav-info {
            max-width: 32rem;
        }
    }

    @include breakpoint($sm-bp) {
        &-logo {
            width: 7rem;
            height: 3rem;
        }

        &-menu {
            &-list {
                flex-wrap: wrap;
                padding-top: 4rem;

                &__item {
                    width: 100%;
                    margin-bottom: 4rem;
                }

                &__info-item {
                    display: block;
                }
            }
        }

        &-nav-info {
            max-width: 100%;

            &__contacts {
                width: 100%;
            }
        }
    }
}

.header-menu-btn {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    background-color: transparent;
    width: 4rem;
    height: 4rem;
    position: relative;

    @include breakpoint($lb-bp) {
        margin-left: 0;
    }

    &__burger {
        position: absolute;
        height: 0.1rem;
        width: 3rem;
        background-color: $dark;
        border-radius: 0.1rem;
        transition: .3s;

        &::before,
        &::after {
            position: absolute;
            content: "";
            height: 0.1rem;
            width: 2rem;
            background-color: $dark;
            border-radius: 0.1rem;
            right: 0;
            transition: .3s;
        }

        &::before {
            top: 1rem;
        }

        &::after {
            bottom: 1rem;
        }
    }

    &._active {
        .header-menu-btn__burger {
            transform: rotate(135deg);

            &::before,
            &::after {
                transform: rotate(-90deg);
            }

            &::before {
                top: 0.5rem;
                left: 0.5rem;
            }

            &::after {
                bottom: 0.5rem;
                left: 0.5rem;
            }
        }
    }
}