@import "../vars";

.keyes {
  margin-bottom: 20rem;
  height: 96rem;
  position: relative;


  @include breakpoint($cos-bp) {
    height: 90rem;
  }

  @include breakpoint($xl-bp) {
    height: 64rem;
  }

  @include breakpoint($xl-bp) {
    height: 57rem;
    margin-bottom: 8rem;
  }

  @include breakpoint($jb-bp) {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }

  &-container {
    padding-left: 50%;
    padding-top: 10rem;

    @include breakpoint($cos-bp) {
      padding-top: 5rem;
      padding-left: 55%;
    }

    @include breakpoint($xl-bp) {
      padding-top: 0;
    }

    @include breakpoint($jb-bp) {
      width: 100%;
      padding: 0 2.5rem;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    position: relative;
    z-index: 2;

    @include breakpoint($cos-bp) {
      gap: 2rem;
    }

    @include breakpoint($xl-bp) {
      gap: 1rem;
    }

    @include breakpoint($jb-bp) {
      position: absolute;
      bottom: 7.6rem;
    }

    &__subtitle {
      font-weight: $font-reg;
      color: $grey;

      &_first {
        @include breakpoint($jb-bp) {
          display: none;
        }
      }

      &_second {
        display: none;

        @include breakpoint($jb-bp) {
          display: block;
          padding: 0rem 2.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  &-swiper {
    position: absolute;
    height: 96rem;
    width: 100%;
    top: 0;
    left: 0;

    @include breakpoint($cos-bp) {
      height: 90rem;
    }

    @include breakpoint($xl-bp) {
      height: 64rem;
    }

    @include breakpoint($xl-bp) {
      height: 57rem;
    }

    @include breakpoint($jb-bp) {
      position: static;
      height: fit-content;
    }

    &-slide {
      height: 96rem;
      width: 100%;
      position: relative;

      @include breakpoint($cos-bp) {
        height: 90rem;
      }

      @include breakpoint($xl-bp) {
        height: 64rem;
      }

      @include breakpoint($xl-bp) {
        height: 57rem;
      }

      @include breakpoint($jb-bp) {
        height: fit-content;
      }

      &-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 50vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-100%, 0);
        opacity: 0;

        @include breakpoint($jb-bp) {
          position: static;
          width: 100%;
          height: 35rem;
          margin-bottom: 4rem;
          transform: translate(-100%);
        }

        @include breakpoint($sm-bp) {
          height: 30.5rem;
        }
      }

      &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &__link {
        @include breakpoint($sm-bp) {
          width: 100%;
        }
      }

      &-container {
        padding-left: 50%;
        padding-top: 25rem;

        @include breakpoint($cos-bp) {
          padding-top: 20rem;
          padding-left: 55%;
        }

        @include breakpoint($xl-bp) {
          padding-top: 13rem;
        }

        @include breakpoint($jb-bp) {
          padding: 0 2.5rem;
          display: flex;
          flex-direction: column;
        }
      }

      &-content {
        max-width: 74rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      &__title {
        font-size: 5.2rem;
        margin-bottom: 4rem;
        line-height: 100%;
        transform: translateY(-15rem);
        opacity: 0;

        @include breakpoint($xl-bp) {
          font-size: 2.4rem;
        }
      }

      &__description {
        font-weight: $font-reg;
        line-height: 140%;
        margin-bottom: 8.9rem;
        transform: translateX(15rem);
        opacity: 0;

        @include breakpoint($xl-bp) {
          font-size: 1.4rem;
        }

        @include breakpoint($jb-bp) {
          margin-bottom: 12.2rem;
        }
      }

      &.swiper-slide-active &__title {
        transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) .1s;
        transform: translateY(0);
        opacity: 1;
      }

      &.swiper-slide-active &-img {
        transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.125) .1s;
        transform: scale(1) rotate(0);
        opacity: 1;
      }

      &.swiper-slide-active &__description {
        transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}