.catalog {
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 1fr);

    &__item {
    }
  }

  &-img {
    width: 50.1rem;

    &_large {
    }

    &_medium {
    }

    &_small {
    }
  }
}
