<section class="about-screen-info">
    <div class="container about-screen-info-container">

        <div class="about-screen-info-content">
            <div class="about-screen-info-image">
                <div class="about-screen-info-image__inner">
                    <a href="index.html" class="about-screen-info__link">
                        Главная >
                    </a>

                    <h4 class="about-screen-info__title">
                        О компании
                    </h4>
                </div>
            </div>

            <div class="about-screen-info-main">
                <div class="about-screen-info-main-item">
                    <h6 class="about-screen-info-main__title">
                        20 лет
                    </h6>
                    <h6 class="about-screen-info-main__subtitle">
                        на рынке
                    </h6>
                </div>

                <div class="about-screen-info-main-item">
                    <h6 class="about-screen-info-main__title">
                        >300
                    </h6>
                    <h6 class="about-screen-info-main__subtitle">
                        реализованных проектов
                    </h6>
                </div>

                <div class="about-screen-info-main-item">
                    <h6 class="about-screen-info-main__title">
                        100%
                    </h6>
                    <h6 class="about-screen-info-main__subtitle">
                        качество
                    </h6>
                </div>
            </div>
        </div>

        <div class="about-screen-info-description">
            <h1 class="about-screen-info-description__title">
                «СМТ-Белмаркет Трейд» - европейское качество по белорусским ценам!
            </h1>

            <p class="about-screen-info-description__text">
                Выпуская материалы для покрытий полов более 25-и лет, «СМТ» приобрел на рынке заслуженную репутацию
                эксперта. Накопленный многолетний опыт нашел свое отражение в предлагаемом клиентам ассортименте,
                авторских решениях, внешних и внутренних нормативных документах.
                <br>
                <br>
                Работа с ведущими производителями сырья, автоматизация производства и многоступенчатый выходной контроль
                продукции, позволяет материалам «СМТ» успешно конкурировать с аналогичной продукцией признанных мировых
                лидеров отрасли, во всех регионах своего присутствия.
            </p>
        </div>
    </div>
</section>