<section class="about">
    <div class="container">
        <div class="about-inner">
            <div class="about-container about-title-container about-anim_1">

                <h6 class="about__subitle">О компании</h6>

                <h1 class="about__title">
                    «СМТ-Белмаркет Трейд» - европейское качество по белорусским ценам!
                </h1>

                <div class="about-description">
                    <p class="about__description">
                        Выпуская материалы для покрытий полов более 25-и лет, «СМТ» приобрел на рынке заслуженную
                        репутацию
                        эксперта. Накопленный многолетний опыт нашел свое отражение в предлагаемом клиентам
                        ассортименте,
                        авторских решениях, внешних и внутренних нормативных документах.
                        <br>
                        <br>
                        Работа с ведущими производителями сырья, автоматизация производства и многоступенчатый выходной
                        контроль
                        продукции, позволяет материалам «СМТ» успешно конкурировать с аналогичной продукцией признанных
                        мировых
                        лидеров отрасли, во всех регионах своего присутствия.
                    </p>
                </div>

                <a href="#" class="about-btn default-btn">Подробнее о СМТ</a>
            </div>

            <div class="about-container about-anim_2">
                <div class="about-info">
                    <div class="about-img">
                        <img src="assets/images/img_2.png" alt="img_2.png" class="about__img">
                    </div>
                    <ul class="about-info-list">
                        <li class="about-info-list__item">
                            <span class="about-info-list__title">20 лет</span>
                            <span class="about-info-list__subtitle">на рынке</span>
                        </li>
                        <li class="about-info-list__item">
                            <span class="about-info-list__title">>300</span>
                            <span class="about-info-list__subtitle">реализованных проектов</span>
                        </li>
                        <li class="about-info-list__item">
                            <span class="about-info-list__title">100%</span>
                            <span class="about-info-list__subtitle">качество</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>