<section class="audit">
  <div class="container">
    <div class="audit-container">

      <div class="audit-info">
        <div class="audit-info-box">
          <h3 class="audit-info__title">
            Аудит пола бесплатно!
          </h3>
          <p class="audit-info__description">
            Специалист приедет и оценит состояние пола, даст рекомендации по подбору материала
          </p>
        </div>
        <a href="#" class="audit-info__btn default-btn default-btn_invert default-btn_light">
          Заказать бесплатно
        </a>
      </div>

      <div class="audit-img">
        <img class="audit-img__image" src="assets/images/audit.jpg" alt="audit">
      </div>

    </div>
  </div>
</section>