<section class="case">
  <div class="container">

    <div class="example-header case-header">
      <div class="case-header-links">
        <a href="index.html" class="example-header__link">
          Главная >
        </a>
        <a href="cases.html" class="example-header__link">
          Примеры работ >
        </a>
      </div>
      <h3 class="example-header__title case-header__title">
        Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
      </h3>
    </div>

    <div class="case-description">
      <p class="case-description__text">
        Недорогая реновация старых мозаичных бетонных полов для последующего использования под помещения различного
        функционального назначения. Спортивный клуб "Адреналин".
        <br><br>
        ОАО «ЭКТБ», г. Минск, ул. Маяковского 115, в связи с сокращением объемов производства, освободило цех по пошиву
        кожгалантереи и запланировало подготовить помещения второго этажа для сдачи в аренду.
        <br><br>
        Кому и под какие нужды будет сдаваться помещение изначально было неизвестно. Планировалось, что это будет
        хозяйственный магазин с небольшой проходимостью.
        <br><br>
        В помещении были демонтированы все перегородки и начался капитальный ремонт открытого пространства на площади
        800 м2.
        <br><br>
        Изначально Заказчик рассматривал вариант укладки на пол традиционной керамической плитки Грес. Однако, зная род
        деятельности ЗАО "СМТ-Белмаркет Трейд" (далее – "СМТ"), как поставщика полимерных покрытий для полов, Заказчик
        запросил комплексное предложение по покрытию пола от "СМТ".
        <br><br>
        "СМТ" предложило нестандартное решение для подобного рода объекта, с учетом состояния существующего мозаичного
        бетонного основания и устранения дефектов.
        <br><br>
        Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии пола.
        <br><br>
        В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а тренажерный зал
        – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет использоваться рулонное мобильное
        резиновое покрытие, которое, в случае прекращения аренды, можно будет скатать обратно в рулоны, а полимерное
        покрытие будет использоваться для эксплуатации помещения по любому другому назначению – офис, магазин, швейный
        цех и т.п.
        <br><br>
        Эти особенности объекта были учтены – было выполнено универсальное монолитное полимерное покрытие пола для любых
        условий эксплуатации, связанных с пешеходным трафиком, т.е. под нагрузки I категории по классификации "СМТ", с
        привлекательным внешним видом.
      </p>

      <div class="case-description-img">
        <img src="./assets/images/adrenalin-reception.jpg" alt="adrenalin-reception" class="case-description-img__img">
      </div>
    </div>

    <div class="case-info">
      <div class="case-info-box">
        <h2 class="case-info__title">
          Покрытие пола "Индустриальный ковер"
        </h2>
        <h6 class="case-info__subtitle">
          Рекомендовано для применения на объектах промышленного и гражданского строительства:
        </h6>

        <ul class="case-info-list">
          <li class="case-info-list-item">
            офисные помещения, переговорные комнаты, кабинеты, учебные классы, актовые и конференц-залы;
          </li>

          <li class="case-info-list-item">
            галереи, выставочные залы, бутики, мини-магазины, шоу-румы и салоны;
          </li>

          <li class="case-info-list-item">
            лестницы, пролеты, лестничные площадки, фойе, холлы, коридоры;
          </li>

          <li class="case-info-list-item">
            обеденные залы предприятий общественного питания: столовые, бары, закусочные, кафе и рестораны;
          </li>

          <li class="case-info-list-item">
            места общего пользования медицинских, образовательных, административных учреждений;
          </li>

          <li class="case-info-list-item">
            санитарно-бытовые помещения, комнаты приема пищи;
          </li>

          <li class="case-info-list-item">
            вспомогательные, подсобные, кладовые помещения, коридоры, прихожие, кухни, прачечные, в т.ч., в квартирах и
            жилых индивидуальных домах.
          </li>
        </ul>
      </div>

      <div class="case-info-box">
        <h3 class="case-info__title">
          Особенности покрытия:
        </h3>

        <ul class="case-info-list">
          <li class="case-info-list-item">
            не имеет швов и стыков;
          </li>

          <li class="case-info-list-item">
            цветными вкраплениями, чем-то напоминающее коммерческий линолеум типа Tarkett;
          </li>

          <li class="case-info-list-item">
            легко и быстро убирается, даже без поломоечных машин;
          </li>

          <li class="case-info-list-item">
            не пылит;
          </li>

          <li class="case-info-list-item">
            сопоставимо по стоимости с "традиционными" рулонными или плиточными покрытиями пола;
          </li>

          <li class="case-info-list-item">
            визуально скрывает дефекты основания и негативные последствия эксплуатационных нагрузок;
          </li>

          <li class="case-info-list-item">
            возможность возвращения внешнего вида, после продолжительной эксплуатации;
          </li>

          <li class="case-info-list-item">
            визуально скрывает дефекты основания и негативные последствия эксплуатационных нагрузок;
          </li>

          <li class="case-info-list-item">
            имеет возможность совмещения нескольких цветовых решений на одной площади;
          </li>

          <li class="case-info-list-item">
            применяется на горизонтальных и вертикальных поверхностях.
          </li>
        </ul>
      </div>
    </div>

    <div class="case-materials">
      <div class="case-materials-head">
        <h4 class="case-materials__title">
          Материалы, использованные в проекте
        </h4>

        <div class="custom-swiper-control">
          <div class="case-swiper-pagination custom-swiper-pagination">
            <span class="case-swiper-pagination__current custom-swiper-pagination__current">00</span>
            /
            <span class="case-swiper-pagination__total custom-swiper-pagination__total">00</span>
          </div>
          <div class="case-swiper-btn custom-swiper-btn">
            <svg class="custom-swiper-btn__icon">
              <use href="#arrow-icon"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="swiper case-materials-swiper">
        <div class="swiper-wrapper case-materials-swiper-wrapper">
          <a href="#" class="swiper-slide case-materials-swiper-slide">
            <div class="case-materials-swiper-slide-img">
              <img src="./assets/images/3vedra.jpg" alt="3 vedra" class="case-materials-swiper-slide__img">
            </div>

            <h4 class="case-materials-swiper-slide__title">
              Ризотоп-2210
            </h4>

            <p class="case-materials-swiper-slide__subtitle">
              Жесткопластичная высокопрочная быстротвердеющая промышленная стяжка пола.
            </p>

            <p class="case-materials-swiper-slide__description">
              Выравнивание перепадов основания до 30 мм под любые финишные покрытия пола
            </p>
          </a>

          <a href="#" class="swiper-slide case-materials-swiper-slide">
            <div class="case-materials-swiper-slide-img">
              <img src="./assets/images/3vedra.jpg" alt="3 vedra" class="case-materials-swiper-slide__img">
            </div>

            <h4 class="case-materials-swiper-slide__title">
              Ризопокс-4400
            </h4>

            <p class="case-materials-swiper-slide__subtitle">
              Эпоксидная двухкомпонентная шпатлевка, в т.ч. с добавлением кварцевого песка
            </p>

            <p class="case-materials-swiper-slide__description">
              Локальный ремонт ям, сколов, выбоин, линз, сплошное шпатлевание микронеровностей и пор в основании пола
            </p>
          </a>

          <a href="#" class="swiper-slide case-materials-swiper-slide">
            <div class="case-materials-swiper-slide-img">
              <img src="./assets/images/3vedra.jpg" alt="3 vedra" class="case-materials-swiper-slide__img">
            </div>

            <h4 class="case-materials-swiper-slide__title">
              Ризопокс-1100
            </h4>

            <p class="case-materials-swiper-slide__subtitle">
              Низковязкая эпоксидная пропитка-грунтовка для минеральных оснований
            </p>

            <p class="case-materials-swiper-slide__description">
              Создание адгезионного моста между основанием и полимерным покрытием пола, пропитка и обеспыливание
            </p>
          </a>

          <a href="#" class="swiper-slide case-materials-swiper-slide">
            <div class="case-materials-swiper-slide-img">
              <img src="./assets/images/3vedra.jpg" alt="3 vedra" class="case-materials-swiper-slide__img">
            </div>

            <h4 class="case-materials-swiper-slide__title">
              Ризопокс-3500
            </h4>

            <p class="case-materials-swiper-slide__subtitle">
              Эпоксидная грунтовка без растворителей для минеральных оснований
            </p>

            <p class="case-materials-swiper-slide__description">
              Создание адгезионного моста между основанием и полимерным покрытием пола, пропитка и обеспыливание, ремонт
              трещин, выполнение плинтусов
            </p>
          </a>
        </div>
      </div>

      <h4 class="case-materials__title case-materials__title_mob">
        Материалы, использованные в проекте
      </h4>
    </div>

    <div class="case-stages">
      <h5 class="case-stages__title">
        Этапы работ
      </h5>

      <ul class="case-stages-list">
        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            Основание: старый мозаичный бетонный пол, устроенный 40 лет назад.
          </p>
          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-1.png" alt="case-stages-1" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <h6 class="case-stages-list__subtitle">
            Дефекты:
          </h6>

          <p class="case-stages-list__description">
            остатки битумного клея от ПВХ плитки были механически удалены;
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-2.png" alt="case-stages-2" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            ямы до 100 мм выровнены стяжкой из цементно-песчаного раствора М200;
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-3.png" alt="case-stages-3" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            перепады от 15 мм выровнены быстротвердеющей высокопрочной стяжкой "Ризотоп-2210";
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-4.png" alt="case-stages-4" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            локальные трещины выбоины и сколы мозаичном бетоне отремонтированы с помощью шпатлёвки "Ризопокс-4400", в
            т.ч. с добавлением кв. песка "Ризодек";
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-5.png" alt="case-stages-5" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            вся площадь с порами и микронеровностями, была отшлифована,
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-6.png" alt="case-stages-6" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            загрунтована эпоксидной грунтовкой "Ризопокс-1100" с расходом около 0,3 кг/м2
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-7.png" alt="case-stages-7" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            и зашпатлевана в сплошную эпоксидным составом "Ризопокс-4400", с расходом около 0,2 кг/м2.
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-8.png" alt="case-stages-8" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <h6 class="case-stages-list__subtitle">
            Устройство покрытия:
          </h6>

          <p class="case-stages-list__description">
            после повторной легкой шлифовки и обеспыливания, нанесли лицевой слой из эпоксидного состава "Ризопокс-4610"
            серого цвета по RAL,
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-12.png" alt="case-stages-12" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            поверхность которого присыпали (декорировали), по свежему, цветными флоками;
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-9.png" alt="case-stages-9" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            поверхность лицевого слоя с флоками пропитали и запечатали прозрачным эпоксидным компаундом "Ризопокс-1605"
            с расходом около 0,35 кг/м2;
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-10.png" alt="case-stages-10" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            в качестве финишной отделки, для дополнительной защиты и стойкости к УФ-излучению был нанесен прозрачный
            матовый полиуретановый лак "Ризопур-1520W" с расходом 0,1 кг/м2.
          </p>

          <div class="case-stages-list-img">
            <img src="./assets/images/case-stages-11.png" alt="case-stages-11" class="case-stages-list-img__img">
          </div>
        </li>

        <li class="case-stages-list-item">
          <p class="case-stages-list__description">
            Получилось в итоге монолитное бесшовное матовое цветное покрытие с вкраплениями флоков. Чем-то похожее по
            внешнему виду на коммерческий линолеум, гомогенное или пвх покрытия. С аналогичной толщиной, но в отличии от
            гомогенных покрытий - бесшовное.
          </p>

          <div class="case-stages-list-img">
            <img src="../assets/images/adrenalin.jpg" alt="adrenalin" class="case-stages-list-img__img">
          </div>

          <p class="case-stages-list__description">
            И арендодатель, и заказчик остались довольны полученным результатом.
          </p>

          <p class="case-stages-list__description">
            А мы, в очередной раз, опровергли заблуждения обывателя, что плиточное покрытие дешевле, чем полимерное.
          </p>

          <p class="case-stages-list__description">
            Эти покрытия сопоставимы по стоимости, но разные по свойствам.
          </p>

          <p class="case-stages-list__description">
            Применение полимерного покрытия позволило арендодателю вложить минимум средств в обновление помещения и
            придание ему привлекательного вида за минимальные деньги.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>