<section class="case">
  <div class="container">

    <div class="example-header case-header">
      <div class="case-header-links">
        <a href="index.html" class="example-header__link">
          Главная >
        </a>
        <a href="cases.html" class="example-header__link">
          Примеры работ >
        </a>
      </div>
      <h3 class="example-header__title case-header__title">
        Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
      </h3>
    </div>

    <div class="case-description">
      <p class="case-description__text">
        Недорогая реновация старых мозаичных бетонных полов для последующего использования под помещения различного
        функционального назначения. Спортивный клуб "Адреналин".
        <br><br>
        ОАО «ЭКТБ», г. Минск, ул. Маяковского 115, в связи с сокращением объемов производства, освободило цех по пошиву
        кожгалантереи и запланировало подготовить помещения второго этажа для сдачи в аренду.
        <br><br>
        Кому и под какие нужды будет сдаваться помещение изначально было неизвестно. Планировалось, что это будет
        хозяйственный магазин с небольшой проходимостью.
        <br><br>
        В помещении были демонтированы все перегородки и начался капитальный ремонт открытого пространства на площади
        800 м2.
        <br><br>
        Изначально Заказчик рассматривал вариант укладки на пол традиционной керамической плитки Грес. Однако, зная род
        деятельности ЗАО "СМТ-Белмаркет Трейд" (далее – "СМТ"), как поставщика полимерных покрытий для полов, Заказчик
        запросил комплексное предложение по покрытию пола от "СМТ".
        <br><br>
        "СМТ" предложило нестандартное решение для подобного рода объекта, с учетом состояния существующего мозаичного
        бетонного основания и устранения дефектов.
        <br><br>
        Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии пола.
        <br><br>
        В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а тренажерный зал
        – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет использоваться рулонное мобильное
        резиновое покрытие, которое, в случае прекращения аренды, можно будет скатать обратно в рулоны, а полимерное
        покрытие будет использоваться для эксплуатации помещения по любому другому назначению – офис, магазин, швейный
        цех и т.п.
        <br><br>
        Эти особенности объекта были учтены – было выполнено универсальное монолитное полимерное покрытие пола для любых
        условий эксплуатации, связанных с пешеходным трафиком, т.е. под нагрузки I категории по классификации "СМТ", с
        привлекательным внешним видом.
      </p>

      <div class="case-description-img">
        <img src="./assets/images/adrenalin-reception.jpg" alt="adrenalin-reception" class="case-description-img__img">
      </div>
    </div>

    <div class="case-info">
      <div class="case-info-box">
        <h2 class="case-info__title">
          Покрытие пола "Индустриальный ковер"
        </h2>
        <h6 class="case-info__subtitle">
          Рекомендовано для применения на объектах промышленного и гражданского строительства:
        </h6>

        <ul class="case-info-list">
          <li class="case-info-list-item">
            офисные помещения, переговорные комнаты, кабинеты, учебные классы, актовые и конференц-залы;
          </li>

          <li class="case-info-list-item">
            галереи, выставочные залы, бутики, мини-магазины, шоу-румы и салоны;
          </li>

          <li class="case-info-list-item">
            лестницы, пролеты, лестничные площадки, фойе, холлы, коридоры;
          </li>

          <li class="case-info-list-item">
            обеденные залы предприятий общественного питания: столовые, бары, закусочные, кафе и рестораны;
          </li>

          <li class="case-info-list-item">
            места общего пользования медицинских, образовательных, административных учреждений;
          </li>

          <li class="case-info-list-item">
            санитарно-бытовые помещения, комнаты приема пищи;
          </li>

          <li class="case-info-list-item">
            вспомогательные, подсобные, кладовые помещения, коридоры, прихожие, кухни, прачечные, в т.ч., в квартирах и
            жилых индивидуальных домах.
          </li>
        </ul>
      </div>

      <div class="case-info-box">
        <h3 class="case-info__title">
          Особенности покрытия:
        </h3>

        <ul class="case-info-list">
          <li class="case-info-list-item">
            не имеет швов и стыков;
          </li>

          <li class="case-info-list-item">
            цветными вкраплениями, чем-то напоминающее коммерческий линолеум типа Tarkett;
          </li>

          <li class="case-info-list-item">
            легко и быстро убирается, даже без поломоечных машин;
          </li>

          <li class="case-info-list-item">
            не пылит;
          </li>

          <li class="case-info-list-item">
            сопоставимо по стоимости с "традиционными" рулонными или плиточными покрытиями пола;
          </li>

          <li class="case-info-list-item">
            визуально скрывает дефекты основания и негативные последствия эксплуатационных нагрузок;
          </li>

          <li class="case-info-list-item">
            возможность возвращения внешнего вида, после продолжительной эксплуатации;
          </li>

          <li class="case-info-list-item">
            визуально скрывает дефекты основания и негативные последствия эксплуатационных нагрузок;
          </li>

          <li class="case-info-list-item">
            имеет возможность совмещения нескольких цветовых решений на одной площади;
          </li>

          <li class="case-info-list-item">
            применяется на горизонтальных и вертикальных поверхностях.
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>