<section class="cases">
  <div class="container">
    <div class="example-header cases-header">
      <a href="index.html" class="example-header__link">
        Главная >
      </a>
      <h3 class="example-header__title">
        Кейсы
      </h3>
    </div>
  </div>


  <ul class="cases-list">
    <li class="cases-list-item">
      <div class="cases-list-item-img">
        <img src="./assets/images/case-1.png" alt="case-1" class="cases-list-item-img__img">
      </div>

      <div class="cases-list-item__info">
        <div class="custom-swiper-control cases-list-item-control">
          <div class="custom-swiper-pagination">
            <span class="custom-swiper-pagination__current">
              01
            </span>
            /
            <span class="custom-swiper-pagination__total">
              05
            </span>
          </div>
        </div>

        <h3 class="cases-list-item__title">
          Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
        </h3>

        <div class="cases-list-item-img cases-list-item-info-img">
          <img src="./assets/images/case-1.png" alt="case-1" class="cases-list-item-img__img">
        </div>

        <p class="cases-list-item__text">
          Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии
          пола.
          <br><br>
          В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а тренажерный
          зал – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет использоваться рулонное
          мобильное резиновое покрытие, которое, в случае прекращения аренды, можно будет скатать обратно в рулоны, а
          полимерное покрытие будет использоваться для эксплуатации помещения по любому другому назначению – офис,
          магазин, швейный цех и т.п.
        </p>

        <a href="#" class="default-btn cases-list-item__link">
          Подробнее
        </a>
      </div>
    </li>

    <li class="cases-list-item">
      <div class="cases-list-item-img">
        <img src="./assets/images/case-2.png" alt="case-2" class="cases-list-item-img__img">
      </div>

      <div class="cases-list-item__info">
        <div class="custom-swiper-control cases-list-item-control">
          <div class="custom-swiper-pagination">
            <span class="custom-swiper-pagination__current">
              02
            </span>
            /
            <span class="custom-swiper-pagination__total">
              05
            </span>
          </div>
        </div>

        <h3 class="cases-list-item__title">
          Беларускалий-Агро. Кормовые столы
        </h3>

        <div class="cases-list-item-img cases-list-item-info-img">
          <img src="./assets/images/case-2.png" alt="case-2" class="cases-list-item-img__img">
        </div>

        <p class="cases-list-item__text">
          В нашу компанию, «СМТ-Белмаркет Трейд», в июле 2021г обратилась подрядная организация ПМК-9
          «Солигорскводстрой» ОАО с проектом кормовых столов для «Беларускалий-Агро» ООО, общей площадью 740 м2.
          <br><br>
          В проекте были заложены материалы белорусского производителя, но подрядчик не хотел реализовывать
          дорогостоящее и нетехнологичное техническое решение.
        </p>

        <a href="#" class="default-btn cases-list-item__link">
          Подробнее
        </a>
      </div>
    </li>

    <li class="cases-list-item">
      <div class="cases-list-item-img">
        <img src="./assets/images/case-3.png" alt="case-3" class="cases-list-item-img__img">
      </div>

      <div class="cases-list-item__info">
        <div class="custom-swiper-control cases-list-item-control">
          <div class="custom-swiper-pagination">
            <span class="custom-swiper-pagination__current">
              03
            </span>
            /
            <span class="custom-swiper-pagination__total">
              05
            </span>
          </div>
        </div>

        <h3 class="cases-list-item__title">
          Реновация полов в гипермаркете Евроопт
        </h3>

        <div class="cases-list-item-img cases-list-item-info-img">
          <img src="./assets/images/case-3.png" alt="case-3" class="cases-list-item-img__img">
        </div>

        <p class="cases-list-item__text">
          По запросу ООО «Евроторг» специалистами «СМТ-Белмаркет Трейд» был проведен аудит состояния полов в
          гипермаркете. В результате 10 летней интенсивной эксплуатации покрытие пола требовало локального ремонта и
          обновления. Степень износа была различная в зависимости от назначения помещений.
          <br><br>
          Поскольку площади гипермаркета и, соответственно, бюджет на обновление – это большие расходы, руководство
          «Евроторга» решило рассмотреть несколько вариантов решения проблемы и выбрать оптимальный. В настоящий
          момент времени Заказчик имел опыт эксплуатации полиуретан-цементных покрытий на одном из своих объектов.
          Этот тип покрытия он не рассматривал из-за быстрой потери декоративных свойств, в процессе эксплуатации:
          покрытие сильно меняет цвет, а также своей жесткости.
          Для побора покрытия, подрядная организация, под контролем «СМТ-Белмаркет Трейд», выполнила 3 варианта
          покрытий.
        </p>

        <a href="#" class="default-btn cases-list-item__link">
          Подробнее
        </a>
      </div>
    </li>

    <li class="cases-list-item">
      <div class="cases-list-item-img">
        <img src="./assets/images/case-4.png" alt="case-4" class="cases-list-item-img__img">
      </div>

      <div class="cases-list-item__info">
        <div class="custom-swiper-control cases-list-item-control">
          <div class="custom-swiper-pagination">
            <span class="custom-swiper-pagination__current">
              04
            </span>
            /
            <span class="custom-swiper-pagination__total">
              05
            </span>
          </div>
        </div>

        <h3 class="cases-list-item__title">
          Пол в пожарной части ТЭЦ-3: новый уровень комфорта
        </h3>

        <div class="cases-list-item-img cases-list-item-info-img">
          <img src="./assets/images/case-4.png" alt="case-4" class="cases-list-item-img__img">
        </div>

        <p class="cases-list-item__text">
          Пожарная аварийно-спасательная часть № 27 была создана 1 апреля 1994 г. Со временем условия размещения
          подразделения перестали отвечать потребностям спасателей, и в 2018-м началось строительство нового здания
          для нужд работников МЧС.
          <br><br>
          В пожарной части ТЭЦ-3 изначально был выполнен бетонный пол без какой-либо финишной отделки и защитных
          покрытий. Однако начальника пожарной части ТЭЦ-3 такой вариант не устраивал: пол плохо убирался, пылил,
          пролитое масло тут же впитывалось.
          Генеральный подрядчик обратился в ЗАО «СМТ-Белмаркет Трейд», с запросом, что можно сделать с полами в данном
          случае?
        </p>

        <a href="#" class="default-btn cases-list-item__link">
          Подробнее
        </a>
      </div>
    </li>

    <li class="cases-list-item">
      <div class="cases-list-item-img">
        <img src="./assets/images/case-5.png" alt="case-5" class="cases-list-item-img__img">
      </div>

      <div class="cases-list-item__info">
        <div class="custom-swiper-control cases-list-item-control">
          <div class="custom-swiper-pagination">
            <span class="custom-swiper-pagination__current">
              05
            </span>
            /
            <span class="custom-swiper-pagination__total">
              05
            </span>
          </div>
        </div>

        <h3 class="cases-list-item__title">
          Восстановление полимерного покрытия паркинга
        </h3>

        <div class="cases-list-item-img cases-list-item-info-img">
          <img src="./assets/images/case-5.png" alt="case-5" class="cases-list-item-img__img">
        </div>

        <p class="cases-list-item__text">
          В мае 2022 года в нашу компанию обратилась дирекция ООО «Фэлкон Инвестмент» (Minsk Marriott Hotel) . В
          летний период заказчик запланировал проведение работ по восстановлению покрытия паркинга
          спортивно-развлекательного комплекса «Falcon Club» площадью 800м2.
          <br><br>
          Выполненное ранее полимерное покрытие от другого поставщика подверглось значительному износу и локальному
          разрушению. Кроме того, не был учтен тот факт, что в зимний период времени оно было очень скользким, что
          приводило к заносу автомобилей.
        </p>

        <a href="#" class="default-btn cases-list-item__link">
          Подробнее
        </a>
      </div>
    </li>
  </ul>

</section>