<section class="catalog">
    <h3 class="catalog__title">Каталог материалов</h3>

    <div class="container">
        <ul class="catalog-list">
            <li class="catalog-list__item">
                <div class="catalog-img catalog-img_medium">
                    <img src="assets/images/catalog-1.png" alt="catalog" class="catalog-img__image">
                </div>
                <a class="catalog-link" href="#">
                    Наливные полы
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item">
                <div class="catalog-img catalog-img_large">
                    <img src="assets/images/catalog-2.png" alt="catalog" class="catalog-img__image">
                </div>
                <a class="catalog-link" href="#">
                    Полиуретановые полы Purcem
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item">
                <div class="catalog-img catalog-img_small">
                    <img src="assets/images/catalog-3.png" alt="catalog" class="catalog-img__image">
                </div>
                <a class="catalog-link" href="#">
                    Краски и лак для бетона
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item">
                <div class="catalog-img catalog-img_lagre">
                    <img src="assets/images/catalog-4.png" alt="catalog" class="catalog-img__image">
                </div>
                <a class="catalog-link" href="#">
                    Стяжка пола, самонивелиры
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item">
                <div class="catalog-img catalog-img_small">
                    <img src="assets/images/catalog-5.png" alt="catalog" class="catalog-img__image">
                </div>
                <a class="catalog-link" href="#">
                    Ремонт наливного пола и бетона
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item">
                <div class="catalog-img catalog-img_medium">
                    <img src="assets/images/catalog-6.png" alt="catalog" class="catalog-img__image">
                </div>
                <a class="catalog-link" href="#">
                    Пропитки для бетонного пола
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>