<section class="catalog">
    <div class="container">

        <h3 class="catalog__title">Каталог материалов</h3>

        <ul class="catalog-list">
            <li class="catalog-list__item  catalog-list__item_medium rellax" data-rellax-speed="2"
                data-rellax-xs-speed="0" data-rellax-percentage="0.5">
                <a class="catalog-img" href="#">
                    <img src="assets/images/catalog-1.png" alt="catalog" class="catalog-img__image">
                </a>
                <a class="catalog-link" href="#">
                    Наливные полы
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item catalog-list__item_large rellax" data-rellax-speed="3.5"
                data-rellax-xs-speed="0" data-rellax-percentage="0.5">
                <a class="catalog-img" href="#">
                    <img src="assets/images/catalog-2.png" alt="catalog" class="catalog-img__image">
                </a>
                <a class="catalog-link" href="#">
                    Полиуретановые полы Purcem
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item catalog-list__item_small rellax" data-rellax-speed="0.5"
                data-rellax-xs-speed="0" data-rellax-percentage="0.5">
                <a class="catalog-img" href="#">
                    <img src="assets/images/catalog-3.png" alt="catalog" class="catalog-img__image">
                </a>
                <a class="catalog-link" href="#">
                    Краски и лак для бетона
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item catalog-list__item_large rellax" data-rellax-speed="3.5"
                data-rellax-xs-speed="0" data-rellax-percentage="0.5">
                <a class="catalog-img" href="#">
                    <img src="assets/images/catalog-4.png" alt="catalog" class="catalog-img__image">
                </a>
                <a class="catalog-link" href="#">
                    Стяжка пола, самонивелиры
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item catalog-list__item_small rellax" data-rellax-speed="0.5"
                data-rellax-xs-speed="0" data-rellax-percentage="0.5">
                <a class="catalog-img" href="#">
                    <img src="assets/images/catalog-5.png" alt="catalog" class="catalog-img__image">
                </a>
                <a class="catalog-link" href="#">
                    Ремонт наливного пола и бетона
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="catalog-list__item catalog-list__item_medium rellax" data-rellax-speed="2"
                data-rellax-xs-speed="0" data-rellax-percentage="0.5">
                <a class="catalog-img" href="#">
                    <img src="assets/images/catalog-6.png" alt="catalog" class="catalog-img__image">
                </a>
                <a class="catalog-link" href="#">
                    Пропитки для бетонного пола
                    <svg class="catalog-link__icon">
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <div class="catalog-btn-container">
            <a href="#" class="catalog-btn default-btn">Смотреть все категории</a>
        </div>
    </div>
</section>