<section class="certificate">
    <div class="container certificate-container">

        <h3 class="certificate__subtitle">
            Сертификаты
        </h3>

        <div class="swiper certificate-swiper">
            <div class="swiper-wrapper certificate-swiper-wrapper">
                <div class="swiper-slide certificate-slide">
                    <h3 class="certificate-slide__title">
                        Свидетельство о государственной регистрации
                    </h3>

                    <a class="certificate-slide-img" href="assets/images/certificate_1.png" data-fancybox>
                        <img src="assets/images/certificate_1.png" alt="certificate_1" class="certificate-slide__img">
                    </a>
                </div>

                <div class="swiper-slide certificate-slide">
                    <h3 class="certificate-slide__title">
                        Свидетельство о государственной регистрации
                    </h3>

                    <a class="certificate-slide-img" href="assets/images/certificate_2.png" data-fancybox>
                        <img src="assets/images/certificate_2.png" alt="certificate_2" class="certificate-slide__img">
                    </a>
                </div>

                <div class="swiper-slide certificate-slide">
                    <h3 class="certificate-slide__title">
                        Свидетельство о государственной регистрации
                    </h3>

                    <a class="certificate-slide-img" href="assets/images/certificate_3.png" data-fancybox>
                        <img src="assets/images/certificate_3.png" alt="certificate_3" class="certificate-slide__img">
                    </a>
                </div>
            </div>
        </div>

        <div class="swiper-container certificate-thumbs">
            <div class="swiper-wrapper certificate-thumbs-wrapper">
                <div class="swiper-slide certificate-thumbs-slide">
                    <div class="certificate-thumbs-img">
                        <img src="assets/images/certificate_1.png" alt="certificate_1" class="certificate-thumbs__img">
                    </div>
                </div>

                <div class="swiper-slide certificate-thumbs-slide">
                    <div class="certificate-thumbs-img">
                        <img src="assets/images/certificate_2.png" alt="certificate_1" class="certificate-thumbs__img">
                    </div>
                </div>

                <div class="swiper-slide certificate-thumbs-slide">
                    <div class="certificate-thumbs-img">
                        <img src="assets/images/certificate_3.png" alt="certificate_1" class="certificate-thumbs__img">
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-swiper-control certificate-swiper-control">
            <div class="certificate-swiper-pagination custom-swiper-pagination">
                <span class="certificate-swiper-pagination__current custom-swiper-pagination__current">01</span>
                /
                <span class="certificate-swiper-pagination__total custom-swiper-pagination__total">08</span>
            </div>
            <div class=" custom-swiper-btn certificate-swiper-btn">
                <svg class="custom-swiper-btn__icon">
                    <use href="#arrow-icon"></use>
                </svg>
            </div>
        </div>

    </div>
</section>