<section class="clients">
    <div class="container">

        <div class="clients-info">
            <h3 class="clients-info__title">Нам доверяют</h3>
            <a href="#" class="clients-info__link clients-info__link_first default-btn">Все клиенты</a>
        </div>

        <ul class="clients-list">

            <li class="clients-list-item">
                <div class="clients-list-item-img clients-anim-img_1">
                    <img src="assets/images/a1.png" alt="a1" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_2">
                    <img src="../assets/images/harley.png" alt="harley" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_3">
                    <img src="../assets/images/skoda.png" alt="skoda" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_4">
                    <img src="../assets/images/kristal.png" alt="kristal" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_5">
                    <img src="../assets/images/babushka.png" alt="babushka" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_6">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_7">
                    <img src="../assets/images/belgee.png" alt="belgee" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_8">
                    <img src="../assets/images/keramin.png" alt="keramin" class="clients-list-item__img">
                </div>
            </li>

            <li class="clients-list-item">
                <div class="clients-list-item-img clients-anim-img_1">
                    <img src="../assets/images/harley.png" alt="harley" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_2">
                    <img src="../assets/images/skoda.png" alt="skoda" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_3">
                    <img src="../assets/images/kristal.png" alt="kristal" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_4">
                    <img src="../assets/images/babushka.png" alt="babushka" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_5">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_6">
                    <img src="../assets/images/belgee.png" alt="belgee" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_7">
                    <img src="../assets/images/keramin.png" alt="keramin" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_8">
                    <img src="assets/images/a1.png" alt="a1" class="clients-list-item__img">
                </div>
            </li>

            <li class="clients-list-item">
                <div class="clients-list-item-img clients-anim-img_1">
                    <img src="../assets/images/skoda.png" alt="skoda" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_2">
                    <img src="../assets/images/kristal.png" alt="kristal" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_3">
                    <img src="../assets/images/babushka.png" alt="babushka" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_4">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_5">
                    <img src="../assets/images/belgee.png" alt="belgee" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_6">
                    <img src="../assets/images/keramin.png" alt="keramin" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_7">
                    <img src="assets/images/a1.png" alt="a1" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_8">
                    <img src="../assets/images/harley.png" alt="harley" class="clients-list-item__img">
                </div>
            </li>

            <li class="clients-list-item">
                <div class="clients-list-item-img clients-anim-img_1">
                    <img src="../assets/images/kristal.png" alt="kristal" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_2">
                    <img src="../assets/images/babushka.png" alt="babushka" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_3">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_4">
                    <img src="../assets/images/belgee.png" alt="belgee" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_5">
                    <img src="../assets/images/keramin.png" alt="keramin" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_6">
                    <img src="assets/images/a1.png" alt="a1" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_7">
                    <img src="../assets/images/harley.png" alt="harley" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_8">
                    <img src="../assets/images/skoda.png" alt="skoda" class="clients-list-item__img">
                </div>
            </li>

            <li class="clients-list-item">
                <div class="clients-list-item-img clients-anim-img_1">
                    <img src="../assets/images/babushka.png" alt="babushka" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_2">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_3">
                    <img src="../assets/images/belgee.png" alt="belgee" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_4">
                    <img src="../assets/images/keramin.png" alt="keramin" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_5">
                    <img src="assets/images/a1.png" alt="a1" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_6">
                    <img src="../assets/images/harley.png" alt="harley" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_7">
                    <img src="../assets/images/skoda.png" alt="skoda" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_8">
                    <img src="../assets/images/kristal.png" alt="kristal" class="clients-list-item__img">
                </div>
            </li>

            <li class="clients-list-item">
                <div class="clients-list-item-img clients-anim-img_1">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_2">
                    <img src="../assets/images/belgee.png" alt="belgee" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_3">
                    <img src="../assets/images/keramin.png" alt="keramin" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_4">
                    <img src="assets/images/a1.png" alt="a1" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_5">
                    <img src="../assets/images/harley.png" alt="harley" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_6">
                    <img src="../assets/images/skoda.png" alt="skoda" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_7">
                    <img src="../assets/images/kristal.png" alt="kristal" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_8">
                    <img src="../assets/images/babushka.png" alt="babushka" class="clients-list-item__img">
                </div>
            </li>

            <li class="clients-list-item">
                <div class="clients-list-item-img clients-anim-img_1">
                    <img src="../assets/images/belgee.png" alt="belgee" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_2">
                    <img src="../assets/images/keramin.png" alt="keramin" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_3">
                    <img src="assets/images/a1.png" alt="a1" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_4">
                    <img src="../assets/images/harley.png" alt="harley" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_5">
                    <img src="../assets/images/skoda.png" alt="skoda" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_6">
                    <img src="../assets/images/kristal.png" alt="kristal" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_7">
                    <img src="../assets/images/babushka.png" alt="babushka" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_8">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="clients-list-item__img">
                </div>
            </li>

            <li class="clients-list-item">
                <div class="clients-list-item-img clients-anim-img_1">
                    <img src="../assets/images/keramin.png" alt="keramin" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_2">
                    <img src="assets/images/a1.png" alt="a1" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_3">
                    <img src="../assets/images/harley.png" alt="harley" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_4">
                    <img src="../assets/images/skoda.png" alt="skoda" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_5">
                    <img src="../assets/images/kristal.png" alt="kristal" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_6">
                    <img src="../assets/images/babushka.png" alt="babushka" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_7">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="clients-list-item__img">
                </div>
                <div class="clients-list-item-img clients-anim-img_8">
                    <img src="../assets/images/belgee.png" alt="belgee" class="clients-list-item__img">
                </div>
            </li>

        </ul>

        <a href="#" class="clients-info__link clients-info__link_second default-btn">Все клиенты</a>

    </div>
</section>