<section class="contacts">
  <div class="container contacts-container">

    <div class="contacts-head">
      <div class="contacts-head-info">
        <a href="index.html" class="contacts-head-info__link">Главная ></a>

        <h4 class="contacts-head-info__title">Контакты</h4>
      </div>

      <div class="contacts-head-buttons">
        <button class="pagination-bullet contacts-head-buttons__btn _active">Беларусь</button>
        <button class="pagination-bullet contacts-head-buttons__btn">Россия</button>
        <button class="pagination-bullet contacts-head-buttons__btn">Казахстан</button>
      </div>
    </div>

    <div class="example-select contacts-select">
      <button class="example-select-btn" type="button">
        <span class="example-select-btn__text"></span>
        <svg class="example-select-btn__icon">
          <use href="#select-arrow-icon"></use>
        </svg>
      </button>
      <ul class="example-select-list">
        <li class="pagination-bullet example-select-list__item _active">
          Беларусь
        </li>
        <li class="pagination-bullet example-select-list__item">
          Россия
        </li>
        <li class="pagination-bullet example-select-list__item">
          Казахстан
        </li>
      </ul>
    </div>

    <div class="swiper contacts-swiper">
      <div class="swiper-wrapper contacts-swiper-wrapper">
        <div class="swiper-slide contacts-swiper-slide">
          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Офис</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  220028, г. Минск, <br>
                  ул. Маяковского, 115/630
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 17 343-33-53
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 169-93-94 (A1)
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 770-57-03 (МТС)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">E-mail</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  cmt@cmt.by
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <button type="button" class="default-btn  contacts-swiper-slide-list-item__btn"
                  data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.8383505915717!2d27.569546216035718!3d53.86352234354705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1cf02db0409%3A0x4213b0aa07f4ea36!2z0YPQu9C40YbQsCDQnNCw0Y_QutC-0LLRgdC60L7Qs9C-IDExNSwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1674456672592!5m2!1sru!2sby">
                  Открыть схему проезда на карте
                </button>
              </li>
            </ul>
          </div>

          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Склад</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  д. Королищевичи, <br>
                  ул. Совхозная, 5
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 660-17-44 (A1)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <button type="button" class="default-btn  contacts-swiper-slide-list-item__btn"
                  data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.16480187756!2d27.78841731603794!3d53.94658053728202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcbbcb62a9e99%3A0x93c6eaf17fc68b44!2z0YPQuy4g0KHQvtCy0YXQvtC30L3QsNGPIDUsINCa0L7Qu9C-0LTQuNGJ0Lg!5e0!3m2!1sru!2sby!4v1674457925159!5m2!1sru!2sby">
                  Открыть схему проезда на карте
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide contacts-swiper-slide">
          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Офис</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  220028, г. Москва, <br>
                  ул. Маяковского, 115/630
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 17 343-33-53
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 169-93-94 (A1)
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 770-57-03 (МТС)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">E-mail</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  cmt@cmt.by
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <button type="button" class="default-btn  contacts-swiper-slide-list-item__btn"
                  data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.8383505915717!2d27.569546216035718!3d53.86352234354705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1cf02db0409%3A0x4213b0aa07f4ea36!2z0YPQu9C40YbQsCDQnNCw0Y_QutC-0LLRgdC60L7Qs9C-IDExNSwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1674456672592!5m2!1sru!2sby">
                  Открыть схему проезда на карте
                </button>
              </li>
            </ul>
          </div>

          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Склад</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  д. Королищевичи, ул. Совхозная, 5
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 660-17-44 (A1)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <button type="button" class="default-btn  contacts-swiper-slide-list-item__btn"
                  data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.16480187756!2d27.78841731603794!3d53.94658053728202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcbbcb62a9e99%3A0x93c6eaf17fc68b44!2z0YPQuy4g0KHQvtCy0YXQvtC30L3QsNGPIDUsINCa0L7Qu9C-0LTQuNGJ0Lg!5e0!3m2!1sru!2sby!4v1674457925159!5m2!1sru!2sby">
                  Открыть схему проезда на карте
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide contacts-swiper-slide">
          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Офис</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  220028, г. Астана, <br>
                  ул. Маяковского, 115/630
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 17 343-33-53
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 169-93-94 (A1)
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 770-57-03 (МТС)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">E-mail</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  cmt@cmt.by
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <button type="button" class="default-btn  contacts-swiper-slide-list-item__btn"
                  data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.8383505915717!2d27.569546216035718!3d53.86352234354705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1cf02db0409%3A0x4213b0aa07f4ea36!2z0YPQu9C40YbQsCDQnNCw0Y_QutC-0LLRgdC60L7Qs9C-IDExNSwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1674456672592!5m2!1sru!2sby">
                  Открыть схему проезда на карте
                </button>
              </li>
            </ul>
          </div>

          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Склад</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  д. Королищевичи, <br>
                  ул. Совхозная, 5
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 660-17-44 (A1)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <button type="button" class="default-btn  contacts-swiper-slide-list-item__btn"
                  data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.16480187756!2d27.78841731603794!3d53.94658053728202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcbbcb62a9e99%3A0x93c6eaf17fc68b44!2z0YPQuy4g0KHQvtCy0YXQvtC30L3QsNGPIDUsINCa0L7Qu9C-0LTQuNGJ0Lg!5e0!3m2!1sru!2sby!4v1674457925159!5m2!1sru!2sby">
                  Открыть схему проезда на карте
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contacts-scheme">
    <div class="contacts-scheme-bg"></div>

    <div class="contacts-scheme-map">
      <button class="contacts-scheme-map__btn">
        <svg>
          <use href="#close-icon"></use>
        </svg>
      </button>

      <iframe class="contacts-scheme-map__frame"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.8383505915717!2d27.569546216035718!3d53.86352234354705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1cf02db0409%3A0x4213b0aa07f4ea36!2z0YPQu9C40YbQsCDQnNCw0Y_QutC-0LLRgdC60L7Qs9C-IDExNSwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1674456672592!5m2!1sru!2sby"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>