<section class="contacts">
  <div class="container contacts-container">

    <div class="contacts-map-wrapper">
      <div class="contacts-map">
        <iframe class="contacts-map__frame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.8383505915717!2d27.569546216035718!3d53.86352234354705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1cf02db0409%3A0x4213b0aa07f4ea36!2z0YPQu9C40YbQsCDQnNCw0Y_QutC-0LLRgdC60L7Qs9C-IDExNSwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1674203268479!5m2!1sru!2sby"
          style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade unsafe-inline"></iframe>
      </div>

      <div class="contacts-head contacts-head-v2">
        <div class="contacts-head-info">
          <a href="index.html" class="contacts-head-info__link">Главная ></a>

          <h4 class="contacts-head-info__title">Контакты</h4>
        </div>
        <div class="contacts-head-buttons contacts-head-buttons-v2">
          <button class="pagination-bullet contacts-head-buttons__btn _active"
            data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.8383505915717!2d27.569546216035718!3d53.86352234354705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1cf02db0409%3A0x4213b0aa07f4ea36!2z0YPQu9C40YbQsCDQnNCw0Y_QutC-0LLRgdC60L7Qs9C-IDExNSwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1674203268479!5m2!1sru!2sby">
            Беларусь
          </button>
          <button class="pagination-bullet contacts-head-buttons__btn"
            data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14260.515345922222!2d37.61752350410314!3d55.74303321804606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a50b315e573%3A0xa886bf5a3d9b2e68!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0JrRgNC10LzQu9GM!5e0!3m2!1sru!2sby!4v1674203657027!5m2!1sru!2sby">
            Россия
          </button>
          <button class="pagination-bullet contacts-head-buttons__btn"
            data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82397.96250749387!2d73.062532837624!3d49.80606469490335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4243465ad22d0559%3A0xa90b6be0d244d433!2z0JrQsNGA0LDQs9Cw0L3QtNCwIDEwMDAwMCwg0JrQsNC30LDRhdGB0YLQsNC9!5e0!3m2!1sru!2sby!4v1674205008348!5m2!1sru!2sby">
            Казахстан
          </button>
        </div>
      </div>
    </div>

    <div class="example-select contacts-select">
      <button class="example-select-btn" type="button">
        <span class="example-select-btn__text"></span>
        <svg class="example-select-btn__icon">
          <use href="#select-arrow-icon"></use>
        </svg>
      </button>
      <ul class="example-select-list">
        <li class="pagination-bullet example-select-list__item _active"
          data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.8383505915717!2d27.569546216035718!3d53.86352234354705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1cf02db0409%3A0x4213b0aa07f4ea36!2z0YPQu9C40YbQsCDQnNCw0Y_QutC-0LLRgdC60L7Qs9C-IDExNSwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1674203268479!5m2!1sru!2sby">
          Беларусь
        </li>
        <li class="pagination-bullet example-select-list__item"
          data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14260.515345922222!2d37.61752350410314!3d55.74303321804606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a50b315e573%3A0xa886bf5a3d9b2e68!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0JrRgNC10LzQu9GM!5e0!3m2!1sru!2sby!4v1674203657027!5m2!1sru!2sby">
          Россия
        </li>
        <li class="pagination-bullet example-select-list__item"
          data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82397.96250749387!2d73.062532837624!3d49.80606469490335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4243465ad22d0559%3A0xa90b6be0d244d433!2z0JrQsNGA0LDQs9Cw0L3QtNCwIDEwMDAwMCwg0JrQsNC30LDRhdGB0YLQsNC9!5e0!3m2!1sru!2sby!4v1674205008348!5m2!1sru!2sby">
          Казахстан
        </li>
      </ul>
    </div>

    <div class="swiper contacts-swiper">
      <div class="swiper-wrapper contacts-swiper-wrapper">
        <div class="swiper-slide contacts-swiper-slide">
          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Офис</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  220028, г. Минск, ул. Маяковского, 115/630
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 17 343-33-53
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 169-93-94 (A1)
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 770-57-03 (МТС)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">E-mail</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  cmt@cmt.by
                </p>
              </li>
            </ul>
          </div>

          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Склад</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  д. Королищевичи, ул. Совхозная, 5
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 660-17-44 (A1)
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide contacts-swiper-slide">
          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Офис</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  220028, г. Москва, ул. Маяковского, 115/630
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 17 343-33-53
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 169-93-94 (A1)
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 770-57-03 (МТС)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">E-mail</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  cmt@cmt.by
                </p>
              </li>
            </ul>
          </div>

          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Склад</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  д. Королищевичи, ул. Совхозная, 5
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 660-17-44 (A1)
                </p>
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide contacts-swiper-slide">
          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Офис</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  220028, г. Астана, ул. Маяковского, 115/630
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 17 343-33-53
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 169-93-94 (A1)
                </p>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 770-57-03 (МТС)
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">E-mail</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  cmt@cmt.by
                </p>
              </li>
            </ul>
          </div>

          <div class="contacts-swiper-slide-box">
            <h4 class="contacts-swiper-slide__title">Склад</h4>

            <ul class="contacts-swiper-slide-list">
              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Адрес</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  д. Королищевичи, ул. Совхозная, 5
                </p>
              </li>

              <li class="contacts-swiper-slide-list-item">
                <h6 class="contacts-swiper-slide-list-item__title">Телефон/факс</h6>

                <p class="contacts-swiper-slide-list-item__text">
                  +375 29 660-17-44 (A1)
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>