<section class="director">
    <div class="container director-container">
        <div class="director-img">
            <img src="assets/images/director.jpg" alt="director" class="director__img">
        </div>

        <div class="director-comment">
            <p class="director-comment__text">
                Credibly facilitate plug-and-play platforms whereas ethical markets. Appropriately pursue cooperative
                deliverables via cost effective technologies. Uniquely administrate visionary resources after
                alternative methods of empowerment.
                Professionally engineer enterprise-wide leadership skills after worldwide e-commerce. Dynamically morph
                go forward initiatives through goal-oriented customer service.
            </p>

            <h6 class="director-comment__subtitle">
                — Генеральный директор ЗАО «СМТ-Белмаркет Трейд»
            </h6>
        </div>
    </div>
</section>