<section class="director">
    <div class="container director-container">
        <div class="director-img">
            <img src="assets/images/director.jpg" alt="director" class="director__img">
        </div>

        <div class="director-comment">
            <!-- <p class="director-comment__text">
                Credibly facilitate plug-and-play platforms whereas ethical markets. Appropriately pursue cooperative
                deliverables via cost effective technologies. Uniquely administrate visionary resources after
                alternative methods of empowerment.
                Professionally engineer enterprise-wide leadership skills after worldwide e-commerce. Dynamically morph
                go forward initiatives through goal-oriented customer service.
            </p> -->
            <p class="director-comment__text">Уважаемые партнеры, коллеги, друзья! <br><br>
                Я рад приветствовать Вас на нашем сайте, и мы очень надеемся, что он окажется Вам полезным. <br>
                Уже более 20-ти лет наша компания «СМТ-Белмаркет Трейд» представляет на территории Республики Беларусь
                интересы холдинга «СМТ» (РФ, г. Москва). <br>
                «СМТ» - это не только старейший российский производитель материалов для покрытий полов и защиты бетона ,
                но и успешный бренд, набирающий все большую популярность. <br>
                В условиях нестабильного рынка и высокой конкуренции, завоевать доверие потребителей непросто. Залогом
                успеха становятся не только качество продукции или низкие цены, но и слаженная работа всего коллектива
                на каждом из участков.<br>

                Мы предлагаем своим покупателям не просто широкий ассортимент товаров по конкурентным ценам, но и свою
                заботу о получаемом вами конечном результате. Подбор материалов, испытания, техническое сопровождение и
                пост-консультации являются факторами успешного бизнеса.<br>
                Наша философия:<br>
                - честность и порядочность : мы отвечаем по своим обязательствам в любых ситуациях.<br>
                - гарантированная стабильность свойств поставляемой продукции за оптимальную стоимость.<br>
                - новаторский подход к своей работе и в предлагаемых решениях, соответствующих современности.<br> <br>
                Желаем вам успешных совместных проектов с «СМТ»!<br></p>

            <h6 class="director-comment__subtitle">
                — Генеральный директор ЗАО «СМТ-Белмаркет Трейд»
            </h6>
        </div>
    </div>
</section>