<section class="documentation">
    <div class="container">

        <div class="documentation-head">
            <a href="index.html" class="documentation-head__link">Главная ></a>

            <div class="documentation-head-inner">
                <h3 class="documentation-head__title">Техническая документация</h3>

                <div class="documentation-head-input-container">
                    <input id="documentation-input" type="text" class="documentation-head__input"
                        placeholder="Искать документы">
                </div>
            </div>
        </div>

        <ul class="documentation-list">
            <li class="documentation-list-item">
                <h4 class="documentation-list-item__name">
                    Свидетельство о государственной регистрации "Ризопокс-1100" на территории стран ЕВРАЗЭС
                </h4>

                <a href="#" class="documentation-list-item-link">
                    <span class="documentation-list-item-link-img">
                        <img class="documentation-list-item-link__img" src="assets/images/downloar-icon.svg"
                            alt="download">
                    </span>
                    Скачать документ
                </a>
            </li>

            <li class="documentation-list-item">
                <h4 class="documentation-list-item__name">
                    Сертификат соответствия
                </h4>

                <a href="#" class="documentation-list-item-link">
                    <span class="documentation-list-item-link-img">
                        <img class="documentation-list-item-link__img" src="assets/images/downloar-icon.svg"
                            alt="download">
                    </span>
                    Скачать документ
                </a>
            </li>

            <li class="documentation-list-item">
                <h4 class="documentation-list-item__name">
                    Декларация о соответствии "Ризопокс-1100" существенным требованиям безопасности технического
                    регламента ТР 2009/013/BY "Здания и сооружения, строительные материалы и изделия. Безопасность"
                    от 20.07.2015 г. соответствия
                </h4>

                <a href="#" class="documentation-list-item-link">
                    <span class="documentation-list-item-link-img">
                        <img class="documentation-list-item-link__img" src="assets/images/downloar-icon.svg"
                            alt="download">
                    </span>
                    Скачать документ
                </a>
            </li>

            <li class="documentation-list-item">
                <h4 class="documentation-list-item__name">
                    Свидетельство о государственной регистрации "Ризопокс-1100" на территории стран ЕВРАЗЭС
                </h4>

                <a href="#" class="documentation-list-item-link">
                    <span class="documentation-list-item-link-img">
                        <img class="documentation-list-item-link__img" src="assets/images/downloar-icon.svg"
                            alt="download">
                    </span>
                    Скачать документ
                </a>
            </li>

            <li class="documentation-list-item">
                <h4 class="documentation-list-item__name">
                    Сертификат соответствия
                </h4>

                <a href="#" class="documentation-list-item-link">
                    <span class="documentation-list-item-link-img">
                        <img class="documentation-list-item-link__img" src="assets/images/downloar-icon.svg"
                            alt="download">
                    </span>
                    Скачать документ
                </a>
            </li>

            <li class="documentation-list-item">
                <h4 class="documentation-list-item__name">
                    Декларация о соответствии "Ризопокс-1100" существенным требованиям безопасности технического
                    регламента ТР 2009/013/BY "Здания и сооружения, строительные материалы и изделия. Безопасность"
                    от 20.07.2015 г. соответствия
                </h4>

                <a href="#" class="documentation-list-item-link">
                    <span class="documentation-list-item-link-img">
                        <img class="documentation-list-item-link__img" src="assets/images/downloar-icon.svg"
                            alt="download">
                    </span>
                    Скачать документ
                </a>
            </li>
        </ul>

    </div>
</section>