<section class="error">
    <h2 class="error__title">
        Запрашиваемая вами страница не найдена
    </h2>

    <div class="error-code">
        <div class="error-code__item">
            <span class="error-code__text">
                404
            </span>
        </div>
        <div class="error-code__item">
            <span class="error-code__text">
                404
            </span>
        </div>
        <div class="error-code__item">
            <span class="error-code__text">
                404
            </span>
        </div>
        <div class="error-code__item">
            <span class="error-code__text">
                404
            </span>
        </div>
    </div>

    <a href="index.html" class="default-btn error__link">Вернуться на главную</a>
</section>