<section class="example">
  <div class="container">

    <div class="example-header">
      <a href="index.html" class="example-header__link">
        Главная >
      </a>
      <h3 class="example-header__title">
        Фотогалерея
      </h3>
    </div>

    <div class="example-select">
      <button class="example-select-btn" type="button">
        <span class="example-select-btn__text"></span>
        <svg class="example-select-btn__icon">
          <use href="#select-arrow-icon"></use>
        </svg>
      </button>
      <ul class="example-select-list">
        <li class="pagination-bullet example-select-list__item _active">
          Автостоянки
        </li>
        <li class="pagination-bullet example-select-list__item">
          Предприятия торговли
        </li>
        <li class="pagination-bullet example-select-list__item">
          Медицинские учреждения
        </li>
        <li class="pagination-bullet example-select-list__item">
          Объекты сельского хозяйства
        </li>
        <li class="pagination-bullet example-select-list__item">
          Склады, логистические комплексы
        </li>
      </ul>
    </div>

    <div class="example-btns">
      <button class="example-btns__btn example-btns__btn-prev" type="button">
        <svg width="62" height="15" viewBox="0 0 62 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M61 6.5C61.5523 6.5 62 6.94772 62 7.5C62 8.05228 61.5523 8.5 61 8.5V6.5ZM0.292892 8.20711C-0.0976334 7.81658 -0.0976334 7.18342 0.292892 6.79289L6.65685 0.428932C7.04737 0.0384078 7.68054 0.0384078 8.07106 0.428932C8.46159 0.819457 8.46159 1.45262 8.07106 1.84315L2.41421 7.5L8.07106 13.1569C8.46159 13.5474 8.46159 14.1805 8.07106 14.5711C7.68054 14.9616 7.04737 14.9616 6.65685 14.5711L0.292892 8.20711ZM61 8.5H0.999996V6.5H61V8.5Z"
            fill="#212524" />
        </svg>
      </button>

      <div class="swiper example-btns-slider">
        <div class="swiper-wrapper example-btns-slider-wrapper">
          <div class="swiper-slide example-btns-slider-slide">Автостоянки</div>
          <div class="swiper-slide example-btns-slider-slide">Предприятия торговли</div>
          <div class="swiper-slide example-btns-slider-slide">Медицинские учреждения</div>
          <div class="swiper-slide example-btns-slider-slide">Объекты сельского хозяйства</div>
          <div class="swiper-slide example-btns-slider-slide">Склады, логистические комплексы</div>
        </div>
      </div>

      <button class="example-btns__btn example-btns__btn-next" type="button">
        <svg width="62" height="15" viewBox="0 0 62 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z"
            fill="#212524" />
        </svg>
      </button>
    </div>

    <div class="swiper example-slider">

      <div class="swiper-wrapper example-slider-wrapper">

        <div class="swiper-slide example-slider-slide">
          <h4 class="example-slider-slide__title">
            Автостоянки
          </h4>

          <div class="example-slider-slide-controll">
            <div class="custom-swiper-control">
              <div class="example-slider-slide-pagination custom-swiper-pagination">
                <span class="example-slider-slide-pagination__current custom-swiper-pagination__current"></span>
                /
                <span class="example-slider-slide-pagination__total custom-swiper-pagination__total"></span>
              </div>
              <div class="example-slider-slide-btn custom-swiper-btn">
                <svg class="custom-swiper-btn__icon">
                  <use href="#arrow-icon"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="swiper example-slider-slide__swiper">
            <ul class="swiper-wrapper example-slide-list">

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №2
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/example-garage.png" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/example-garage.png" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №3
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-3.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-3.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №4
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-4.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-4.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №5
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-5.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-5.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

            </ul>
          </div>

        </div>

        <div class="swiper-slide example-slider-slide">
          <h4 class="example-slider-slide__title">
            Предприятия торговли
          </h4>

          <div class="example-slider-slide-controll">
            <div class="custom-swiper-control">
              <div class="example-slider-slide-pagination custom-swiper-pagination">
                <span class="example-slider-slide-pagination__current custom-swiper-pagination__current"></span>
                /
                <span class="example-slider-slide-pagination__total custom-swiper-pagination__total"></span>
              </div>
              <div class="example-slider-slide-btn custom-swiper-btn">
                <svg class="custom-swiper-btn__icon">
                  <use href="#arrow-icon"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="swiper example-slider-slide__swiper">
            <ul class="swiper-wrapper example-slide-list">

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №2
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/example-garage.png" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/example-garage.png" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №3
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-3.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-3.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №4
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-4.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-4.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №5
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-5.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-5.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

            </ul>
          </div>

        </div>

        <div class="swiper-slide example-slider-slide">
          <h4 class="example-slider-slide__title">
            Медицинские учреждения
          </h4>

          <div class="example-slider-slide-controll">
            <div class="custom-swiper-control">
              <div class="example-slider-slide-pagination custom-swiper-pagination">
                <span class="example-slider-slide-pagination__current custom-swiper-pagination__current"></span>
                /
                <span class="example-slider-slide-pagination__total custom-swiper-pagination__total"></span>
              </div>
              <div class="example-slider-slide-btn custom-swiper-btn">
                <svg class="custom-swiper-btn__icon">
                  <use href="#arrow-icon"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="swiper example-slider-slide__swiper">
            <ul class="swiper-wrapper example-slide-list">

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №2
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/example-garage.png" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/example-garage.png" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №3
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-3.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-3.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №4
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-4.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-4.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №5
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-5.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-5.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

            </ul>
          </div>

        </div>

        <div class="swiper-slide example-slider-slide">
          <h4 class="example-slider-slide__title">
            Объекты сельского хозяйства
          </h4>

          <div class="example-slider-slide-controll">
            <div class="custom-swiper-control">
              <div class="example-slider-slide-pagination custom-swiper-pagination">
                <span class="example-slider-slide-pagination__current custom-swiper-pagination__current"></span>
                /
                <span class="example-slider-slide-pagination__total custom-swiper-pagination__total"></span>
              </div>
              <div class="example-slider-slide-btn custom-swiper-btn">
                <svg class="custom-swiper-btn__icon">
                  <use href="#arrow-icon"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="swiper example-slider-slide__swiper">
            <ul class="swiper-wrapper example-slide-list">

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №2
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/example-garage.png" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/example-garage.png" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №3
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-3.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-3.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №4
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-4.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-4.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №5
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-5.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-5.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

            </ul>
          </div>

        </div>

        <div class="swiper-slide example-slider-slide">
          <h4 class="example-slider-slide__title">
            Склады, логистические комплексы
          </h4>

          <div class="example-slider-slide-controll">
            <div class="custom-swiper-control">
              <div class="example-slider-slide-pagination custom-swiper-pagination">
                <span class="example-slider-slide-pagination__current custom-swiper-pagination__current"></span>
                /
                <span class="example-slider-slide-pagination__total custom-swiper-pagination__total"></span>
              </div>
              <div class="example-slider-slide-btn custom-swiper-btn">
                <svg class="custom-swiper-btn__icon">
                  <use href="#arrow-icon"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="swiper example-slider-slide__swiper">
            <ul class="swiper-wrapper example-slide-list">

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №2
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/example-garage.png" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/example-garage.png" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №3
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-3.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-3.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №4
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-4.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-4.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

              <li class="swiper-slide example-slide-list__item">
                <ul class="example-slide-list-info">
                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Объект</h6>
                    <a href="#" class="example-slide-list-info__text">
                      Минск, Атлант-М Уручье
                    </a>
                  </li>

                  <li class="example-slide-list-info__item">
                    <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                    <div class="example-slide-list-info__links">
                      <a href="#" class="example-slide-list-info__text">
                        Тип №5
                      </a>
                    </div>
                  </li>
                </ul>

                <a href="./assets/images/service-5.jpg" class="example-slide-list-img" data-fancybox>
                  <img src="./assets/images/service-5.jpg" alt="" class="example-slide-list-img__img">
                </a>
              </li>

            </ul>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>