<section class="experience">
    <div class="container experience-container">

        <ul class="experience-list">
            <li class="experience-list-item">
                <div class="experience-list-item-box">
                    <span class="experience-list__number">
                        01
                    </span>

                    <h3 class="experience-list__title">
                        Практический опыт
                    </h3>
                </div>

                <div class="experience-list-img">
                    <img src="assets/images/experience-img.png" alt="experience" class="experience-list__img">
                </div>

                <p class="experience-list__text">
                    За 20 лет нашей работы реализованы тысячи проектов, выполнены работы на миллионах квадратных метрах,
                    решены проблемы в десятках внештатных ситуациях. Накопленные нами знания, помогут избежать ошибок
                    в выборе, проектировании и устройстве полимерных полов.
                </p>
            </li>

            <li class="experience-list-item">
                <div class="experience-list-item-box">
                    <span class="experience-list__number">
                        02
                    </span>

                    <h3 class="experience-list__title">
                        Ассортимент
                    </h3>
                </div>

                <div class="experience-list-img">
                    <img src="assets/images/experience-img.png" alt="experience" class="experience-list__img">
                </div>

                <p class="experience-list__text">
                    Опираясь на практику реализации проектов, «СМТ-Белмаркет Трейд» предлагает исчерпывающий набор
                    материалов и решений, которые в максимально полном объеме способны удовлетворить пожелания заказчика
                    и учесть особенности конкретного объекта.
                </p>
            </li>

            <li class="experience-list-item">
                <div class="experience-list-item-box">
                    <span class="experience-list__number">
                        03
                    </span>

                    <h3 class="experience-list__title">
                        Цены
                    </h3>
                </div>

                <div class="experience-list-img">
                    <img src="assets/images/experience-img.png" alt="experience" class="experience-list__img">
                </div>

                <p class="experience-list__text">
                    Являясь частью производственного холдинга, «СМТ-Белмаркет Трейд» поставляет оригинальную продукцию
                    «СМТ» на территорию республики по заводским ценам.
                </p>
            </li>

            <li class="experience-list-item">
                <div class="experience-list-item-box">
                    <span class="experience-list__number">
                        04
                    </span>

                    <h3 class="experience-list__title">
                        Выполнение работ «под ключ»
                    </h3>
                </div>

                <div class="experience-list-img">
                    <img src="assets/images/experience-img.png" alt="experience" class="experience-list__img">
                </div>

                <p class="experience-list__text">
                    «СМТ-Белмаркет Трейд» сотрудничает с проверенными партнерами и рекомендует на объекты исполнителей
                    работ, подтвердивших свою компетентность за многолетнюю практику. Подбор правильного подрядчика –
                    это тоже часть работы компании.
                </p>
            </li>
        </ul>

    </div>
</section>