<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="footer-logo">
                <img src="assets/images/logo_white.png" alt="logo" class="footer-logo__img">
            </div>

            <ul class="footer-list">
                <li class="footer-list-item footer-list-item__address">
                    <h3 class="footer__title">
                        Материалы для устройства и ремонта промышленных полов
                    </h3>

                    <div class="footer-info">
                        <p class="footer-info__text">
                            Св-во о гос. регистрации № 191116661,
                            <br>
                            выд. Мингорисполкомом 14.05.2009г
                        </p>
                        <p class="footer-info__text">
                            Сайт не является интернет-магазином
                        </p>
                    </div>
                </li>

                <li class="footer-list-item">
                    <ul class="footer-links-list">
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Наливные полы</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Полиуретановые полы Purcem</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Ремонт наливного пола и бетона</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Стяжка пола, самонивелиры</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Краски и лак для бетона</a>
                        </li>
                    </ul>

                    <a class="footer-icon-link" href="#">
                        Посмотреть все категории
                        <svg class="footer-icon-link__icon">
                            <use href="#arrow-icon"></use>
                        </svg>
                    </a>
                </li>

                <li class="footer-list-item">
                    <ul class="footer-links-list">
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">О компании</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Материалы</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Применение</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Примеры работ</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Вопрос-ответ</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Новости и статьи</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </li>

                <li class="footer-list-item footer-list-item__contacts">
                    <h4 class="footer__title">
                        Юридический и почтовый
                        <br>
                        адрес: 220028, г. Минск,
                        <br>
                        ул. Маяковского 115-615
                    </h4>
                    <ul class="footer-links-list footer-phone-list">
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="tel:+375173433353">+375 17 343-33-53</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="tel:+375297705703">+375 29 770-57-03</a>
                        </li>
                        <li class="footer-links-list__item">
                            <a class="footer-links-list__link" href="tel:+375291699394">+375 29 169-93-94</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="footer-line footer-line_first"></div>

            <div class="footer-contacts">
                <h6 class="footer-contacts__title footer-contacts__title_first">
                    ©2016-2021 ЗАО «СМТ-Белмаркет Трейд»
                </h6>

                <div class="footer-contacts-info">
                    <h6 class="footer-contacts-info__title">
                        Юридический и почтовый адрес: 220028, г. Минск, ул. Маяковского 115-615
                    </h6>

                    <ul class="footer-contacts-info-list">
                        <li class="footer-contacts-info-list__item">
                            <a href="tel:+375173433353" class="footer-contacts-info-list__link">
                                +375 17 343-33-53
                            </a>
                        </li>
                        <li class="footer-contacts-info-list__item">
                            <a href="tel:+375297705703" class="footer-contacts-info-list__link">
                                +375 29 770-57-03
                            </a>
                        </li>
                        <li class="footer-contacts-info-list__item">
                            <a href="tel:+375291699394" class="footer-contacts-info-list__link">
                                +375 29 169-93-94
                            </a>
                        </li>
                    </ul>
                </div>

                <ul class="footer-contacts-soucial">
                    <li class="footer-contacts-soucial__item">
                        <a href="#" class="footer-contacts-soucial__link">
                            <img class="footer-contacts-soucial__img" src="assets/images/Instagram.svg" alt="Instagram">
                            Instagram
                        </a>
                    </li>
                    <li class="footer-contacts-soucial__item">
                        <a href="#" class="footer-contacts-soucial__link">
                            <img class="footer-contacts-soucial__img" src="assets/images/VK.svg" alt="ВКонтакте">
                            ВКонтакте
                        </a>
                    </li>
                    <li class="footer-contacts-soucial__item">
                        <a href="#" class="footer-contacts-soucial__link">
                            <img class="footer-contacts-soucial__img" src="assets/images/Meta.svg" alt="Meta">
                            Meta
                        </a>
                    </li>
                    <li class="footer-contacts-soucial__item">
                        <a href="#" class="footer-contacts-soucial__link">
                            <img class="footer-contacts-soucial__img" src="assets/images/Youtube.svg" alt="YouTube">
                            YouTube
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-line footer-line_second"></div>

            <ul class="footer-company-info-list">
                <li class="footer-company-info-list__item">
                    <p class="footer-company-info-list__text">
                        Св-во о гос. регистрации № 191116661, выд. Мингорисполкомом 14.05.2009г
                    </p>
                </li>
                <li class="footer-company-info-list__item">
                    <p class="footer-company-info-list__text">
                        Сайт не является интернет-магазином
                    </p>
                </li>
                <li class="footer-company-info-list__item">
                    <p class="footer-company-info-list__text">
                        ©2016-2021 ЗАО «СМТ-Белмаркет Трейд»
                    </p>
                </li>
            </ul>

        </div>
    </div>
</footer>