<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-container header-logo-container">
                <div class="header-logo logo">
                    <img class="logo__img" src="assets/images/logo.png" alt="logotype">
                </div>

                <h3 class="header__title">
                    Материалы для устройства и ремонта промышленных полов
                </h3>
            </div>

            <div class="header-container">
                <ul class="header-phone-list">
                    <li class="header-phone-list__item">
                        <a class="header-phone-list__link" href="tel:+375173433353">+375 17 343-33-53</a>
                    </li>
                    <li class="header-phone-list__item">
                        <a class="header-phone-list__link" href="tel:+375297705703">+375 29 770-57-03</a>
                    </li>
                    <li class="header-phone-list__item">
                        <a class="header-phone-list__link" href="tel:+375291699394">+375 29 169-93-94</a>
                    </li>
                </ul>
            </div>

            <div class="header-container">
                <div class="header-btns">
                    <button class="header-btns__btn default-btn">Оставить заявку</button>
                    <button class="header-btns__btn default-btn default-btn_light">Онлайн оплата</button>
                </div>

                <button class="header-menu-btn">
                    <span class="header-menu-btn__burger"></span>
                </button>
            </div>
        </div>
    </div>
</header>