<header class="header _active">
  <div class="header-menu-bg"></div>
  <div class="container">
    <div class="header-inner">
      <a href="#" class="header-container header-logo-container">
        <div class="header-logo logo">
          <img class="logo__img" src="assets/images/logo.svg" alt="logotype">
        </div>

        <h3 class="header__title">
          Современные <br> материалы и технологии
        </h3>
      </a>

      <div class="header-container header-phone-container">
        <ul class="header-phone-list">
          <li class="header-phone-list__item">
            <a class="header-phone-list__link" href="tel:+375173433353">+375 17 343-33-53</a>
          </li>
          <li class="header-phone-list__item">
            <a class="header-phone-list__link" href="tel:+375297705703">+375 29 770-57-03</a>
          </li>
          <li class="header-phone-list__item">
            <a class="header-phone-list__link" href="tel:+375291699394">+375 29 169-93-94</a>
          </li>
        </ul>
      </div>

      <div class="header-container">
        <div class="header-btns">
          <button class="header-btns__btn default-btn">Оставить заявку</button>
          <button class="header-btns__btn default-btn default-btn_light">Онлайн оплата</button>
        </div>

        <button class="header-menu-btn">
          <span class="header-menu-btn__burger"></span>
        </button>
      </div>
    </div>
  </div>

  <nav class="header-menu second-menu">
    <div class="container second-menu-container">
      <div class="second-menu-bg"></div>
      <ul class="second-menu-list">
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            О компании
          </a>
        </li>
        <li class="dropdown-catalog-btn second-menu-list__item">
          <button class="dropdown-btn second-menu-list__link second-menu-list__dropdown-btn" type="button">
            Каталог
            <svg class="second-menu-list__btn-icon">
              <use href="#arrow-drop"></use>
            </svg>
          </button>

          <div class="dropdown-content second-menu-content">
            <ul class="second-menu-content-list">
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  <h6 class="second-menu-content-list__title">
                    Продукция
                  </h6>
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Грунтовки, пропитки
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Ремонтные составы
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Наливные составы
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Краски, лаки
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Разметка
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Полиуретан-цементные составы
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Связующие
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Антистатические покрытия
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Спортивные покрытия
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Кварцевый песок
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Доп. материалы
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Упрочнители бетона
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Сухие смеси
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Мембранообразователи
                </a>
              </li>
            </ul>

            <ul class="second-menu-content-list">
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  <h6 class="second-menu-content-list__title">
                    Готовые решения для
                  </h6>
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Автостоянки
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Предприятия торговли
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Медицинские учреждения
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Объекты сельского хозяйства
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Склады, логистические комплексы
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Производственные помещения с высокими химическими и термическими нагрузками
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Холодильники, морозильные камеры
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Производственные помещения с сухими и умеренно влажными технологическими процессами
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Производственные помещения с особо влажными технологическими процессами
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Административные здания и сооружения
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Спортивные сооружения
                </a>
              </li>
              <li class="second-menu-content-list__item">
                <a href="#" class="second-menu-content-list__link">
                  Подготовка оснований
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Типовые конструкции
          </a>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Услуги
          </a>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Кейсы
          </a>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Фотогалерея
          </a>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Видео
          </a>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Вопрос-ответ
          </a>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Новости
          </a>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Контакты
          </a>
        </li>
        <li class="second-menu-list__item">
          <a href="#" class="second-menu-list__link">
            Техническая документация
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>