<section class="history">
    <div class="container history-container">
        <div class="history-timeline history-timeline_grey">
            <img class="history-timeline__img history-timeline__img_grey" src="../assets/images/about-line_grey.svg"
                alt="timeline">
        </div>

        <div class="history-timeline history-timeline_green">
            <img class="history-timeline__img history-timeline__img_green" src="../assets/images/about-line_green.svg"
                alt="timeline">
        </div>

        <ul class="history-list">
            <li class="history-list-item">
                <div class="history-list-item__inner">
                    <div class="history-list-item__line"></div>
                    <h4 class="history-list__title">
                        Создание компании
                    </h4>

                    <p class="history-list__description">
                        ЗАО «СМТ-Белмаркет Трейд» основано в 2002 году и является частью производственного холдинга
                        «СМТ»
                        головным офисом в г. Москва.
                    </p>
                </div>
            </li>

            <li class="history-list-item flex-end">
                <div class="history-list-item__inner">
                    <div class="history-list-item__line"></div>
                    <h4 class="history-list__title">
                        Развитие
                    </h4>

                    <p class="history-list__description">
                        Intrinsicly impact high standards in functionalities rather than synergistic results.
                        Professionally
                        mesh top-line content vis-a-vis leveraged technology. Uniquely create ubiquitous niche markets
                        vis-a-vis extensive total linkage.
                        Appropriately expedite bleeding-edge web-readiness rather than multidisciplinary human capital.
                        Intrinsicly actualize 2.0 benefits with client-focused technologies.
                    </p>
                </div>
            </li>

            <li class="history-list-item">
                <div class="history-list-item__inner">
                    <div class="history-list-item__line"></div>
                    <h4 class="history-list__title">
                        Развитие
                    </h4>

                    <p class="history-list__description">
                        Dynamically build future-proof infrastructures with cooperative potentialities. Seamlessly
                        communicate global value via best-of-breed alignments.
                        Dramatically fashion interoperable e-markets rather than frictionless outsourcing. Dynamically
                        incentivize functionalized paradigms before an expanded array of technologies. Globally
                        cultivate
                        impactful content and impactful architectures.
                    </p>
                </div>
            </li>

            <li class="history-list-item flex-end">
                <div class="history-list-item__inner">
                    <div class="history-list-item__line"></div>
                    <h4 class="history-list__title">
                        Развитие
                    </h4>

                    <p class="history-list__description">
                        Credibly facilitate plug-and-play platforms whereas ethical markets. Appropriately pursue
                        cooperative deliverables via cost effective technologies. Uniquely administrate visionary
                        resources
                        after alternative methods of empowerment. Professionally engineer enterprise-wide leadership
                        skills
                        after worldwide e-commerce. Dynamically morph go forward initiatives through goal-oriented
                        customer
                        service.
                    </p>
                </div>
            </li>

            <li class="history-list-item">
                <div class="history-list-item__inner">
                    <div class="history-list-item__line"></div>
                    <p class="history-list__description">
                        Создавайте историю вместе с нами!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>