<section class="keyes">

  <div class="keyes-container container">
    <div class="keyes-info">
      <h6 class="keyes-info__subtitle keyes-info__subtitle_first">
        Кейсы
      </h6>

      <div class="custom-swiper-control">
        <div class="keyes-swiper-pagination custom-swiper-pagination">
          <span class="keyes-swiper-pagination__current custom-swiper-pagination__current">01</span>
          /
          <span class="keyes-swiper-pagination__total custom-swiper-pagination__total">08</span>
        </div>
        <div class="keyes-swiper-btn custom-swiper-btn">
          <svg class="custom-swiper-btn__icon">
            <use href="#arrow-icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="keyes-swiper swiper">
    <div class="keyes-swiper-wrapper swiper-wrapper">

      <div class="keyes-swiper-slide swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img class="keyes-swiper-slide__img" src="assets/images/adrenalin.jpg" alt="adrenalin">
        </div>
        <div class="keyes-swiper-slide-container container">
          <div class="keyes-swiper-slide-content">
            <h4 class="keyes-swiper-slide__title">
              Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
            </h4>
            <p class="keyes-swiper-slide__description">
              Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии
              пола.
              <br>
              <br>
              В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а
              тренажерный
              зал – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет использоваться
              рулонное
              мобильное резиновое покрытие, которое, в случае прекращения аренды, можно будет скатать обратно в
              рулоны, а
              полимерное покрытие будет использоваться для эксплуатации помещения по любому другому назначению – офис,
              магазин, швейный цех и т.п.
            </p>
            <a href="#" class="keyes-swiper-slide__link default-btn">Посмотреть все проекты</a>
          </div>
        </div>
      </div>

      <div class="keyes-swiper-slide swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img class="keyes-swiper-slide__img" src="assets/images/adrenalin.jpg" alt="adrenalin">
        </div>
        <div class="keyes-swiper-slide-container container">
          <div class="keyes-swiper-slide-content">
            <h4 class="keyes-swiper-slide__title">
              Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
            </h4>
            <p class="keyes-swiper-slide__description">
              Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии
              пола.
              <br>
              <br>
              В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а
              тренажерный
              зал – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет использоваться
              рулонное
              мобильное резиновое покрытие, которое, в случае прекращения аренды, можно будет скатать обратно в
              рулоны, а
              полимерное покрытие будет использоваться для эксплуатации помещения по любому другому назначению – офис,
              магазин, швейный цех и т.п.
            </p>
            <a href="#" class="keyes-swiper-slide__link default-btn">Посмотреть все проекты</a>
          </div>
        </div>
      </div>

      <div class="keyes-swiper-slide swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img class="keyes-swiper-slide__img" src="assets/images/adrenalin.jpg" alt="adrenalin">
        </div>
        <div class="keyes-swiper-slide-container container">
          <div class="keyes-swiper-slide-content">
            <h4 class="keyes-swiper-slide__title">
              Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
            </h4>
            <p class="keyes-swiper-slide__description">
              Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии
              пола.
              <br>
              <br>
              В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а
              тренажерный
              зал – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет использоваться
              рулонное
              мобильное резиновое покрытие, которое, в случае прекращения аренды, можно будет скатать обратно в
              рулоны, а
              полимерное покрытие будет использоваться для эксплуатации помещения по любому другому назначению – офис,
              магазин, швейный цех и т.п.
            </p>
            <a href="#" class="keyes-swiper-slide__link default-btn">Посмотреть все проекты</a>
          </div>
        </div>
      </div>

      <div class="keyes-swiper-slide swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img class="keyes-swiper-slide__img" src="assets/images/adrenalin.jpg" alt="adrenalin">
        </div>
        <div class="keyes-swiper-slide-container container">
          <div class="keyes-swiper-slide-content">
            <h4 class="keyes-swiper-slide__title">
              Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
            </h4>
            <p class="keyes-swiper-slide__description">
              Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии
              пола.
              <br>
              <br>
              В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а
              тренажерный
              зал – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет использоваться
              рулонное
              мобильное резиновое покрытие, которое, в случае прекращения аренды, можно будет скатать обратно в
              рулоны, а
              полимерное покрытие будет использоваться для эксплуатации помещения по любому другому назначению – офис,
              магазин, швейный цех и т.п.
            </p>
            <a href="#" class="keyes-swiper-slide__link default-btn">Посмотреть все проекты</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <h6 class="keyes-info__subtitle keyes-info__subtitle_second">
    Кейсы
  </h6>

</section>