<section class="keyes">
  <div class="container">


  </div>

  <div class="keyes-swiper swiper">
    <div class="keyes-swiper-wrapper swiper-wrapper">
      <div class="keyes-swiper-slide swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img src="assets/images/adrenalin.jpg" alt="adrenalin" class="keyes-swiper-slide__img">
        </div>
        <div class="keyes-swiper-slide-box">
          <div class="keyes-swiper-slide-container container">
            <div class="keyes-swiper-slide-content">
              <div class="keyes-swiper-slide-info">
                <h4 class="keyes-swiper-slide__subtitle">
                  Кейсы
                </h4>

                <div class="keyes-swiper-control">
                  <div class="keyes-swiper-pagination swiper-pagination"></div>
                  <div class="keyes-swiper-btn">
                    <svg class="keyes-swiper-btn__icon">
                      <use href="#arrow-icon"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h3 class="keyes-swiper-slide__title">
                Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
              </h3>
              <p class="keyes-swiper-slide__text">
                Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии
                пола.
                <br>
                <br>
                В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а
                тренажерный зал – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет
                использоваться рулонное мобильное резиновое покрытие, которое, в случае прекращения аренды, можно будет
                скатать обратно в рулоны, а полимерное покрытие будет использоваться для эксплуатации помещения по
                любому
                другому назначению – офис, магазин, швейный цех и т.п.
              </p>
              <a href="#" class="keyes-swiper-slide__link default-btn">
                Посмотреть все проекты
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="keyes-swiper-slide swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img src="../assets/images/catalog-6.png" alt="adrenalin" class="keyes-swiper-slide__img">
        </div>
        <div class="keyes-swiper-slide-box">
          <div class="keyes-swiper-slide-container container">
            <div class="keyes-swiper-slide-content">
              <div class="keyes-swiper-slide-info">
                <h4 class="keyes-swiper-slide__subtitle">
                  Кейсы
                </h4>

                <div class="keyes-swiper-control">
                  <div class="keyes-swiper-pagination swiper-pagination"></div>
                  <div class="keyes-swiper-btn">
                    <svg class="keyes-swiper-btn__icon">
                      <use href="#arrow-icon"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h3 class="keyes-swiper-slide__title">
                Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
              </h3>
              <p class="keyes-swiper-slide__text">
                Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии
                пола.
                <br>
                <br>
                В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а
                тренажерный зал – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет
                использоваться рулонное мобильное резиновое покрытие, которое, в случае прекращения аренды, можно будет
                скатать обратно в рулоны, а полимерное покрытие будет использоваться для эксплуатации помещения по
                любому
                другому назначению – офис, магазин, швейный цех и т.п.
              </p>
              <a href="#" class="keyes-swiper-slide__link default-btn">
                Посмотреть все проекты
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>