<section class="keyes">

  <div class="keyes-container container">
    <div class="keyes-info">
      <h6 class="keyes-info__subtitle keyes-info__subtitle_first">
        Кейсы
      </h6>

      <div class="custom-swiper-control">
        <div class="keyes-swiper-pagination custom-swiper-pagination">
          <span class="keyes-swiper-pagination__current custom-swiper-pagination__current">01</span>
          /
          <span class="keyes-swiper-pagination__total custom-swiper-pagination__total">08</span>
        </div>
        <div class="keyes-swiper-btn custom-swiper-btn">
          <svg class="custom-swiper-btn__icon">
            <use href="#arrow-icon"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="keyes-swiper swiper">
    <div class="keyes-swiper-wrapper swiper-wrapper">

      <div class="swiper-slide keyes-swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img class="keyes-swiper-slide__img" src="assets/images/adrenalin.jpg" alt="adrenalin">
        </div>
        <div class="keyes-swiper-slide-container container">
          <div class="keyes-swiper-slide-content">
            <h4 class="keyes-swiper-slide__title">
              Реновация мозаичных бетонных полов в спортивном клубе "Адреналин"
            </h4>
            <p class="keyes-swiper-slide__description">
              Заказчик рассмотрел сопоставимые по стоимости предложения и остановил свой выбор на полимерном покрытии
              пола.
              <br>
              <br>
              В процессе выполнения работ на объекте выяснилось, что арендовать помещение будет не магазин, а
              тренажерный
              зал – спортивный клуб "Адреналин". Предполагалось, что под силовые тренажеры будет использоваться
              рулонное
              мобильное резиновое покрытие, которое, в случае прекращения аренды, можно будет скатать обратно в
              рулоны, а
              полимерное покрытие будет использоваться для эксплуатации помещения по любому другому назначению – офис,
              магазин, швейный цех и т.п.
            </p>
            <a href="#" class="default-btn keyes-swiper-slide__link">Посмотреть все проекты</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide keyes-swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img class="keyes-swiper-slide__img" src="assets/images/keys-1.png" alt="adrenalin">
        </div>
        <div class="keyes-swiper-slide-container container">
          <div class="keyes-swiper-slide-content">
            <h4 class="keyes-swiper-slide__title">
              Беларускалий-Агро. Кормовые столы
            </h4>
            <p class="keyes-swiper-slide__description">
              В нашу компанию, «СМТ-Белмаркет Трейд», в июле 2021г обратилась подрядная организация ПМК-9
              «Солигорскводстрой» ОАО с проектом кормовых столов для «Беларускалий-Агро» ООО, общей площадью 740 м2.
              <br><br>
              В проекте были заложены материалы белорусского производителя, но подрядчик не хотел реализовывать
              дорогостоящее и нетехнологичное техническое решение.
            </p>
            <a href="#" class="default-btn keyes-swiper-slide__link">Посмотреть все проекты</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide keyes-swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img class="keyes-swiper-slide__img" src="assets/images/keys-2.png" alt="adrenalin">
        </div>
        <div class="keyes-swiper-slide-container container">
          <div class="keyes-swiper-slide-content">
            <h4 class="keyes-swiper-slide__title">
              Реновация полов в гипермаркете Евроопт
            </h4>
            <p class="keyes-swiper-slide__description">
              По запросу ООО «Евроторг» специалистами «СМТ-Белмаркет Трейд» был проведен аудит состояния полов в
              гипермаркете. В результате 10 летней интенсивной эксплуатации покрытие пола требовало локального ремонта и
              обновления. Степень износа была различная в зависимости от назначения помещений.
              <br><br>
              Поскольку площади гипермаркета и, соответственно, бюджет на обновление – это большие расходы, руководство
              «Евроторга» решило рассмотреть несколько вариантов решения проблемы и выбрать оптимальный.
            </p>
            <a href="#" class="default-btn keyes-swiper-slide__link">Посмотреть все проекты</a>
          </div>
        </div>
      </div>

      <div class="swiper-slide keyes-swiper-slide">
        <div class="keyes-swiper-slide-img">
          <img class="keyes-swiper-slide__img" src="assets/images/keys-3.png" alt="adrenalin">
        </div>
        <div class="keyes-swiper-slide-container container">
          <div class="keyes-swiper-slide-content">
            <h4 class="keyes-swiper-slide__title">
              Пол в пожарной части ТЭЦ-3: новый уровень комфорта
            </h4>
            <p class="keyes-swiper-slide__description">
              Пожарная аварийно-спасательная часть № 27 была создана 1 апреля 1994 г. Со временем условия размещения
              подразделения перестали отвечать потребностям спасателей, и в 2018-м началось строительство нового здания
              для нужд работников МЧС.
              <br><br>
              В пожарной части ТЭЦ-3 изначально был выполнен бетонный пол без какой-либо финишной отделки и защитных
              покрытий. Однако начальника пожарной части ТЭЦ-3 такой вариант не устраивал: пол плохо убирался, пылил,
              пролитое масло тут же впитывалось.
              Генеральный подрядчик обратился в ЗАО «СМТ-Белмаркет Трейд», с запросом, что можно сделать с полами в
              данном случае?
            </p>
            <a href="#" class="default-btn keyes-swiper-slide__link">Посмотреть все проекты</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <h6 class="keyes-info__subtitle keyes-info__subtitle_second">
    Кейсы
  </h6>

</section>