<section class="main">
    <div class="main-gif">
        <!-- <img class="main-gif__img"
            src="https://s3-alpha-sig.figma.com/img/a3a7/b056/40152cc8a5d464c276bc4a17a8e56827?Expires=1672012800&Signature=SGbAHJyJAqSUBgL0xleM~MgPukVYZ9aeCzpMuMNr8kaOx58mfl63sF7PjtBh-~EDdf~GhZZHgrqJ1B1XvV77~02tJPdgKaJZymQyQJZ1kdPHgfXsIExUzHkaLZ-3QQO-DCOMRQUN1mskr9PpHqHMU9HDQnHQgzrUF-0063uDxvAoJLkiOUNPJK3fHZPp3qTbBxy75PMo~OGWuwEen2HL5ejSmBLuD7Kq9SQTtO9QnbtEjsGnJf55Ig-ajFxyGq1LY2-qSdn3KSR2frJcZVN7d22NMDtLZbc3~9FiG04aNyVaZqvSi-SINWmnkktWFuO~lUVs-blXXsPWR9QQSj7Y6w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            alt="gif"> -->
        <!-- <img class="main-gif__img" src="assets/images/main-gif.gif" alt="gif"> -->
        <video class="main-gif__img" autoplay loop poster="assets/images/video-poster.jpg">
            <source src="assets/video/videoplayback.mp4" type="video/mp4">
        </video>
    </div>

    <div class="main-container container">
        <div class="main-swiper swiper">
            <div class="main-swiper-wrapper swiper-wrapper">

                <div class="main-swiper-slide swiper-slide">
                    <div class="main-swiper-slide-img">
                        <img class="main-swiper-slide__image" src="assets/images/sliderImg.png" alt="image">
                    </div>
                </div>

                <div class="main-swiper-slide swiper-slide">
                    <div class="main-swiper-slide-img">
                        <img class="main-swiper-slide__image" src="assets/images/sliderImg.png" alt="image">
                    </div>
                </div>
                <div class="main-swiper-slide swiper-slide">
                    <div class="main-swiper-slide-img">
                        <img class="main-swiper-slide__image" src="assets/images/sliderImg.png" alt="image">
                    </div>
                </div>
                <div class="main-swiper-slide swiper-slide">
                    <div class="main-swiper-slide-img">
                        <img class="main-swiper-slide__image" src="assets/images/sliderImg.png" alt="image">
                    </div>
                </div>

            </div>
        </div>

        <div class="main-swiper-control custom-swiper-control">
            <div class="main-swiper-pagination custom-swiper-pagination">
                <span class="main-swiper-pagination__current custom-swiper-pagination__current">01</span>
                /
                <span class="main-swiper-pagination__total custom-swiper-pagination__total">04</span>
            </div>
            <div class="main-swiper-btn custom-swiper-btn">
                <svg class="custom-swiper-btn__icon">
                    <use href="#arrow-icon"></use>
                </svg>
            </div>
        </div>
    </div>
</section>