<section class="main">
    <div class="main-gif">
        <video class="main-gif__img" playsinline autoplay loop muted poster="assets/images/video-poster.jpg">
            <source src="assets/video/videoplayback.mp4" type="video/mp4">
        </video>
    </div>

    <div class="main-container container">
        <div class="main-swiper swiper">
            <div class="main-swiper-wrapper swiper-wrapper">

                <div class="main-swiper-slide swiper-slide">
                    <div class="main-swiper-slide-img">
                        <img class="main-swiper-slide__image" src="assets/images/sliderImg.png" alt="image">
                    </div>
                </div>

                <div class="main-swiper-slide swiper-slide">
                    <div class="main-swiper-slide-img">
                        <img class="main-swiper-slide__image" src="assets/images/sliderImg.png" alt="image">
                    </div>
                </div>
                <div class="main-swiper-slide swiper-slide">
                    <div class="main-swiper-slide-img">
                        <img class="main-swiper-slide__image" src="assets/images/sliderImg.png" alt="image">
                    </div>
                </div>
                <div class="main-swiper-slide swiper-slide">
                    <div class="main-swiper-slide-img">
                        <img class="main-swiper-slide__image" src="assets/images/sliderImg.png" alt="image">
                    </div>
                </div>

            </div>
        </div>

        <div class="main-swiper-control custom-swiper-control">
            <div class="main-swiper-pagination custom-swiper-pagination">
                <span class="main-swiper-pagination__current custom-swiper-pagination__current">01</span>
                /
                <span class="main-swiper-pagination__total custom-swiper-pagination__total">04</span>
            </div>
            <div class="main-swiper-btn custom-swiper-btn">
                <svg class="custom-swiper-btn__icon">
                    <use href="#arrow-icon"></use>
                </svg>
            </div>
        </div>
    </div>
</section>