<section class="material">
    <div class="container">

        <div class="catalogue-head catalog-all-head material-head">
            <div class="catalog-all-links materials-head-links">
                <a href="index.html" class="catalogue-head__link">Главная ></a>
                <a href="catalogue.html" class="catalogue-head__link">Каталог ></a>
                <a href="catalog-all.html" class="catalogue-head__link">Материалы и инструменты ></a>
                <a href="material.html" class="catalogue-head__link">Грунтовки, пропитки ></a>
            </div>

            <h2 class="catalogue-head__title">Ризопокс-1100</h3>
        </div>

        <div class="material-main">
            <div class="material-main-img">
                <img src="assets/images/3vedra.jpg" alt="material" class="material-main-img__img">
            </div>

            <ul class="material-main-list">
                <li class="material-main-list-item">
                    <h4 class="material-main-list-item__title">
                        Назначение
                    </h4>

                    <p class="material-main-list-item__description">
                        Двухкомпонентная пропитка – грунтовка на основе эпоксидной смолы, содержащая растворитель, с
                        низкой вязкостью. Двухкомпонентная пропитка – грунтовка на основе эпоксидной смолы, содержащая
                        растворитель, с низкой вязкостью.
                    </p>
                </li>

                <li class="material-main-list-item">
                    <h4 class="material-main-list-item__title">
                        Модификации
                    </h4>

                    <p class="material-main-list-item__info">
                        <span class="material-main-list-item__info-container">
                            <span class="material-main-list-item__info_green">
                                Ризопокс-1100 RAPID
                            </span>
                            для быстрого выполнения работ;
                        </span>
                    </p>

                    <p class="material-main-list-item__info">
                        <span class="material-main-list-item__info-container">
                            <span class="material-main-list-item__info_green">
                                Ризопокс-1100 L
                            </span>
                            для работы при пониженных температурах.
                        </span>
                    </p>
                </li>

                <li class="material-main-list-item">
                    <h4 class="material-main-list-item__title">
                        Цена
                        <span class="material-main-list-item__title_green">
                            по запросу
                        </span>
                    </h4>

                    <a href="#" class="default-btn material-main-list-item__btn">
                        Запросить цену
                    </a>
                </li>
            </ul>
        </div>

        <div class="material-info">
            <ul class="material-info-list">
                <li class="material-main-list-item material-info-list-item">
                    <h4 class="material-main-list-item__title">
                        Применение
                    </h4>

                    <p class="material-main-list-item__description">
                        В системах покрытий пола «РизоконTM» в качестве пропитки или грунтовки минеральных оснований
                        под полимерные покрытия пола на основе эпоксидных смол. Для обеспыливания и пропитки минеральных
                        поверхностей, подвергающихся слабым механическим воздействиям.
                    </p>
                </li>

                <li class="material-main-list-item material-info-list-item">
                    <h4 class="material-main-list-item__title">
                        Преимущества
                    </h4>

                    <p class="material-main-list-item__info">
                        образует глянцевую поверхность;
                    </p>

                    <p class="material-main-list-item__info">
                        отличное проникновение в цементные поверхности;
                    </p>

                    <p class="material-main-list-item__info">
                        длительное время жизни;
                    </p>

                    <p class="material-main-list-item__info">
                        хорошее отверждение при низкой температуре;
                    </p>

                    <p class="material-main-list-item__info">
                        простота смешивания и применения;
                    </p>

                    <p class="material-main-list-item__info">
                        можно наносить кистью, валиком, распылителем.
                    </p>
                </li>

                <li class="material-main-list-item material-info-list-item">
                    <h4 class="material-main-list-item__title">
                        Ограничения
                    </h4>

                    <p class="material-main-list-item__info">
                        если существует опасность капиллярного подъема грунтовых вод к основанию (увлажнение) –
                        необходимо выполнить гидрои- золяцию или пароизоляцию;
                    </p>

                    <p class="material-main-list-item__info">
                        влажность основания – не более 4 %;
                    </p>

                    <p class="material-main-list-item__info">
                        прочность основания на сжатие — не менее 200 кгс/кв.см;
                    </p>

                    <p class="material-main-list-item__info">
                        бетонное основание (цементно-песчаная стяжка) должно иметь возраст не менее 28 суток;
                    </p>

                    <p class="material-main-list-item__info">
                        минимальная температура основания при нанесении покрытия — + 5 °С;
                    </p>

                    <p class="material-main-list-item__info">
                        максимальная температура основания при нанесении покрытия — + 30 °С;
                    </p>

                    <p class="material-main-list-item__info">
                        относительная влажность воздуха — не более 90 %;
                    </p>

                    <p class="material-main-list-item__info">
                        температура основания должна быть на 3°С больше измеренной точки росы.
                    </p>
                </li>

                <li class="material-main-list-item material-info-list-item">
                    <h4 class="material-main-list-item__title">
                        Подготовка поверхности
                    </h4>

                    <p class="material-main-list-item__description">
                        Поверхность должна быть без повреждений, чистой, сухой (влажность не более 4%), без следов
                        цементного молока, грязи, масла и не содержать непрочные и прилипшие частицы. Прочность
                        основания на сжатие не менее 200 кгс/ кв.см. Прочность на отрыв — не менее 1,5 Н/кв. мм.
                        <br><br>
                        Для его подготовки применять такие методы как шлифовка, фрезеровка или дробеструйная обработка.
                        После этого поверхность обеспылить.
                        <br><br>
                        Пористые участки, раковины, выбоины, трещины, места перепадов (неровности) основания должны быть
                        предварительно загрунто — ваны, отремонтированы и выровнены с помощью эпоксидной шпатлёвки.
                    </p>
                </li>

                <li class="material-main-list-item material-info-list-item">
                    <h4 class="material-main-list-item__title">
                        Смешивание
                    </h4>

                    <p class="material-main-list-item__description">
                        Вскрыть ведро с компонентом А, перемешать его в заводской упаковке при помощи низкооборотистой
                        (300–450 об./мин) электрод — рели с винтовой насадкой. Вскрыть ведро с компонентом В, вылить
                        его полностью в ёмкость с компонентом А и тщательно переме — шать в течение 2–3 мин.
                        электрическим смесителем.
                        <br><br>
                        Перелить состав в другую тару и перемешать в ней в течение 1 мин.
                    </p>
                </li>

                <li class="material-main-list-item material-info-list-item">
                    <h4 class="material-main-list-item__title">
                        Нанесение
                    </h4>

                    <p class="material-main-list-item__description">
                        Наносить малярным валиком, кистью тщательно втирая в основание. Равномерно распределять
                        по поверхности, не допускать об — разования луж и потёков. На поверхность с высокой
                        впитывающей способностью нанести состав повторно. Сразу после нанесения состава (в течение
                        10–20 мин.) присыпать поверхность прокалённым кварцевым песком, если это предусмотрено
                        технологией.
                    </p>
                </li>

                <li class="material-main-list-item material-info-list-item">
                    <h4 class="material-main-list-item__title">
                        Очистка инструмента
                    </h4>

                    <p class="material-main-list-item__description">
                        Использовать органический растворитель для снятия не затвердевшего материала с инструмента.
                        Застывший состав можно снять только механически. Вымыть руки и незащищённые участки кожи
                        теплой водой с мылом.
                    </p>
                </li>

                <li class="material-main-list-item material-info-list-item material-info-list-item__links">
                    <a href="#" class="default-btn material-info-list-item__link">Оставить заявку</a>
                    <a href="#" class="default-btn default-btn_light material-info-list-item__link">Скачать описание в
                        PDF</a>
                </li>

                <p class="material-specification__comment material-specification__comment_mobile">
                    Информация приведённая в настоящем документе основана на обобщённом техническом и практическом
                    опыте. В связи с невозможностью контролировать условия приме — нения материала, влияющие
                    на технологический процесс, Производитель не несёт юридической и иной ответственности
                    за неправильное использование или истолкование данной информации. Технические характеристики
                    материала и его комплектация, приведённые здесь, могут изменяться Производителем
                    без предварительного объявления.
                </p>
            </ul>

            <div class="material-specification">
                <ul class="material-specification-list">
                    <li class="material-main-list-item material-specification-list-item">
                        <h4 class="material-main-list-item__title">
                            Характеристики
                        </h4>

                        <h6 class="material-specification-list-item__subtitle">
                            Внешний вид
                        </h6>

                        <p class="material-main-list-item__description">
                            Бесцветная или слегка желтоватая жидкость
                        </p>

                        <h6 class="material-specification-list-item__subtitle">
                            Фасовка
                        </h6>

                        <p class="material-main-list-item__description">
                            Металлическое ведро, 18 кг
                        </p>

                        <h6 class="material-specification-list-item__subtitle">
                            Пешеходные нагрузки (при t = +20°С)
                        </h6>

                        <p class="material-main-list-item__description">
                            18 часов
                        </p>

                        <h6 class="material-specification-list-item__subtitle">
                            Температура применения
                        </h6>

                        <p class="material-main-list-item__description">
                            от -5°до +10°С
                        </p>

                        <h6 class="material-specification-list-item__subtitle">
                            Фактура покрытия
                        </h6>

                        <p class="material-main-list-item__description">
                            гладкая / шероховатая
                        </p>

                        <h6 class="material-specification-list-item__subtitle">
                            Сроки выполнения
                        </h6>

                        <p class="material-main-list-item__description">
                            в течение 4 – 24 часов
                        </p>
                    </li>

                    <li class="material-main-list-item material-specification-list-item">
                        <h4 class="material-main-list-item__title">
                            Хранение
                        </h4>

                        <p class="material-main-list-item__description">
                            Хранить в сухом помещении при температуре от +5 °С до +30 °С. Не допускать прямого
                            воздействия солнечных лучей. Емкости с частично использованным материалом должны быть
                            плотно закры- ты. При транспортировке допускается замораживание компонентов.
                        </p>
                    </li>

                    <li class="material-main-list-item material-specification-list-item">
                        <h4 class="material-main-list-item__title">
                            Гарантийный срок
                        </h4>

                        <p class="material-main-list-item__description">
                            12 месяцев с момента выпуска при соблюдении правил хранения и транспортировки в не
                            нарушенной оригинальной заводской упаковке.
                        </p>
                    </li>

                    <li class="material-main-list-item material-specification-list-item">
                        <h4 class="material-main-list-item__title">
                            Меры безопасности
                        </h4>

                        <p class="material-main-list-item__description">
                            Продукт может вызвать раздражение у людей с чувствительной кожей. Перед началом работ
                            нанесите защитный крем на откры — тые участки кожи. Необходимо использовать защитную
                            одежду, перчатки и очки. Если состав или его компоненты случайно попали в глаза, органы
                            дыхания или на кожные покровы, немедленно промойте теплой водой и обратитесь к врачу.
                            <br><br>
                            Компоненты А и В являются пожароопасными — не разрешается курить, работать с открытым огнём
                            и пользоваться электронагрева — тельными приборами вблизи места хранения материала
                            и производства работ. При работе в закрытых помещениях важно обеспе — чить соответствующую
                            вентиляцию во время нанесения и высыхания покрытия.
                            <br><br>
                            В жидком состоянии компоненты А и В могут загрязнять водные источники, их нельзя сливать
                            в сточную канализацию и водоёмы,
                            <br><br>
                            а также недопустимо их проникновение в почву.
                        </p>
                    </li>
                </ul>

                <p class="material-specification__comment material-specification__comment_desktop">
                    Информация приведённая в настоящем документе основана на обобщённом техническом и практическом
                    опыте. В связи с невозможностью контролировать условия приме — нения материала, влияющие
                    на технологический процесс, Производитель не несёт юридической и иной ответственности
                    за неправильное использование или истолкование данной информации. Технические характеристики
                    материала и его комплектация, приведённые здесь, могут изменяться Производителем
                    без предварительного объявления.
                </p>
            </div>
        </div>

    </div>
</section>