<section class="materials">
  <div class="container">

    <div class="catalogue-head catalog-all-head materials-head">
      <div class="catalog-all-links materials-head-links">
        <a href="index.html" class="catalogue-head__link">Главная ></a>
        <a href="catalogue.html" class="catalogue-head__link">Каталог ></a>
        <a href="catalog-all.html" class="catalogue-head__link">Материалы и инструменты ></a>
      </div>

      <h3 class="catalogue-head__title">Грунтовки, пропитки</h3>
    </div>

    <div class="materials-inner">

      <div class="materials-nav">
        <h5 class="flex-start materials-nav__title _active">Материалы</h5>

        <ul class="materials-nav-list">
          <li class="materials-nav-list-item _active">
            <a href="#" class="materials-nav-list-item__link">Грунтовки, пропитки</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Ремонтные составы</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Наливные составы</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Краски, лаки</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Разметка</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Полиуретан-цементные составы</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Связующие</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Антистатические покрытия</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Спортивные покрытия</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Кварцевый песок</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Доп. материалы</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Упрочнители бетона</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Сухие смеси</a>
          </li>

          <li class="materials-nav-list-item">
            <a href="#" class="materials-nav-list-item__link">Мембранообразователи</a>
          </li>
        </ul>

        <button class="materials-nav__btn" type="button">Развернуть...</button>

        <a href="#" class="flex-end materials-nav__title materials-nav__link">Инструменты</a>
      </div>

      <div class="materials-info">

        <ul class="materials-product-list">
          <li class="materials-product-list-item">
            <a href="#" class="materials-product-list-item__link">
              <ul class="materials-product-list-item__labels">
                <li class="materials-product-list-item__label materials-product-list-item__label_green">
                  Новинка
                </li>

                <li class="materials-product-list-item__label materials-product-list-item__label_orange">
                  Хит продаж
                </li>
              </ul>
              <div class="materials-product-list-item-img">
                <img src="assets/images/3vedra.jpg" alt="material" class="materials-product-list-item-img__img">
              </div>

              <h3 class="materials-product-list-item__title">
                Ризопокс-1100
              </h3>

              <p class="materials-product-list-item__description">
                Эпоксидная грунтовка-пропитка
                с раcтворителем
              </p>

              <p class="materials-product-list-item__price">
                от 15 руб/кг
              </p>
            </a>
          </li>

          <li class="materials-product-list-item">
            <a href="#" class="materials-product-list-item__link">
              <ul class="materials-product-list-item__labels">
              </ul>
              <div class="materials-product-list-item-img">
                <img src="assets/images/2vedra.png" alt="material" class="materials-product-list-item-img__img">
              </div>

              <h3 class="materials-product-list-item__title">
                Ризопокс-1301W
              </h3>

              <p class="materials-product-list-item__description">
                Водно-дисперсионная
                эпоксидная грунтовка-пропитка
              </p>

              <p class="materials-product-list-item__price">
                цена по запросу
              </p>
            </a>
          </li>

          <li class="materials-product-list-item">
            <a href="#" class="materials-product-list-item__link">
              <ul class="materials-product-list-item__labels">
                <li class="materials-product-list-item__label materials-product-list-item__label_green">
                  Новинка
                </li>
              </ul>
              <div class="materials-product-list-item-img">
                <img src="assets/images/3vedra.jpg" alt="material" class="materials-product-list-item-img__img">
              </div>

              <h3 class="materials-product-list-item__title">
                Ризопур-1700
              </h3>

              <p class="materials-product-list-item__description">
                Полиуретановая
                однокомпонентная
                грунтовка-пропитка
                с растворителем
              </p>

              <p class="materials-product-list-item__price">
                от 15 руб/кг
              </p>
            </a>
          </li>

          <li class="materials-product-list-item">
            <a href="#" class="materials-product-list-item__link">
              <ul class="materials-product-list-item__labels">
              </ul>
              <div class="materials-product-list-item-img">
                <img src="assets/images/3vedra.jpg" alt="material" class="materials-product-list-item-img__img">
              </div>

              <h3 class="materials-product-list-item__title">
                Ризопокс-1100
              </h3>

              <p class="materials-product-list-item__description">
                Эпоксидная грунтовка-пропитка
                с раcтворителем
              </p>

              <p class="materials-product-list-item__price">
                от 15 руб/кг
              </p>
            </a>
          </li>

          <li class="materials-product-list-item">
            <a href="#" class="materials-product-list-item__link">
              <ul class="materials-product-list-item__labels">
                <li class="materials-product-list-item__label materials-product-list-item__label_orange">
                  Хит продаж
                </li>
              </ul>
              <div class="materials-product-list-item-img">
                <img src="assets/images/2vedra.png" alt="material" class="materials-product-list-item-img__img">
              </div>

              <h3 class="materials-product-list-item__title">
                Ризопокс-1301W
              </h3>

              <p class="materials-product-list-item__description">
                Водно-дисперсионная
                эпоксидная грунтовка-пропитка
              </p>

              <p class="materials-product-list-item__price">
                цена по запросу
              </p>
            </a>
          </li>
        </ul>

        <div class="seo-text">
          <p>Бетон – <strong>один из видов искусственного</strong> камня, в состав которого входят песок, известь, гипс
            и
            глина. Под
            воздействием внешних факторов происходит отрыв мелких частиц, что приводит к образованию цементной пыли.
            Избежать этого поможет пропитка для бетонных полов, купить которую можно в интернет-магазине СМТ.</p>
          <h2>Особенности пропитки</h2>
          <h2>Среди преимущества покупки упрочнителей бетона и других товаров в СМТ следует отметить:</h2>
          <ul>
            <li aria-level="1">Широкий ассортимент товаров в разных ценовых категориях.</li>
            <li aria-level="1">Индивидуальный подход к каждому клиенту. Продавцы-консультанты помогут сделать правильный
              выбор, ответят на интересующие вопросы.</li>
            <li aria-level="1">Скидки и акции, во время которых можно приобрести товары по еще более выгодным ценам.
            </li>
          </ul>
        </div>

        <!-- <ul class="materials-info-list">
          <li class="materials-info-list-item">
            <h5 class="materials-info-list-item__title">
              С помощью грунтовок можно
            </h5>
            <p class="materials-info-list-item__info">
              Улучшить внеший вид пола;
            </p>
            <p class="materials-info-list-item__info">
              Уменьшить истираемость и, соответственно, пыление пола;
            </p>
            <p class="materials-info-list-item__info">
              Увеличить химическую стойкость, защить от воздействия воды и ГСМ;
            </p>
            <p class="materials-info-list-item__info">
              Обеспечить легкую уборку в помещении.
            </p>
          </li>

          <li class="materials-info-list-item">
            <h5 class="materials-info-list-item__title">
              С помощью пропиток можно
            </h5>
            <p class="materials-info-list-item__info">
              Остановить разрушение верхного слоя бетона;
            </p>
            <p class="materials-info-list-item__info">
              Исправить ошибки: например, неправильно подобранной марки бетона;
            </p>
            <p class="materials-info-list-item__info">
              Восстановить пол, отремонтировать трещины и сколы за 4-24 часа.
            </p>
          </li>

          <li class="materials-info-list-item">
            <h5 class="materials-info-list-item__title">
              Почему выбирают грунтовки и пропитки?
            </h5>
            <p class="materials-info-list-item__info">
              Низкая стоимость на м2;
            </p>
            <p class="materials-info-list-item__info">
              Глубокое проникновение в основание;
            </p>
            <p class="materials-info-list-item__info">
              Легкое нанесение и быстрое высыхание;
            </p>
            <p class="materials-info-list-item__info">
              Большой срок службы: 1-3 года в зависимости от механической нагрузки на пол;
            </p>
            <p class="materials-info-list-item__info">
              В качестве полноценного полимерного пола по бюджетной цене.
            </p>
          </li>

          <li class="materials-info-list-item">
            <h5 class="materials-info-list-item__title">
              Области применения пропиток
            </h5>
            <a href="#" class="materials-info-list-item__link">
              Автостоянки
            </a>
            <a href="#" class="materials-info-list-item__link">
              Объекты сельского хозяйства
            </a>
            <a href="#" class="materials-info-list-item__link">
              Склады, логистические
              комплексы
            </a>
            <a href="#" class="materials-info-list-item__link">
              Производственные помещения с сухими и умеренно влажными технологическими процессами
            </a>
          </li>

          <li class="materials-info-list-item">
            <p class="materials-info-list-item__text">
              Приобрести пропитки можно как по безналичному расчету, так он-лайн.
              <br><br>
              Условия доставки: самовывоз со склада д. Королищевичи, ул. Совхозная, 5
              (300м от ул.Селицкого, г. Минск) или доставка Автолайтом от 10 руб.
            </p>
          </li>
        </ul> -->

      </div>

    </div>

  </div>

  <div class="feedback form-wrapper materials-form">
    <div class="feedback-container form-container container">
      <div class="feedback-info form-info feedback-anim_1">
        <h6 class="feedback-info__title form-info__title">
          Доверьте выбор профессионалам
        </h6>
        <p class="feedback-info__description form-info__description">
          Если у вас есть вопросы или вы не знаете, что выбрать, закажите звонок — мы позвоним, чтобы ответить
          на все вопросы.
        </p>
      </div>

      <div class="feedback-form-wrapper form-box feedback-anim_2">
        <form action="#" class="feedback-form form">
          <div class="form-send">
            <h6 class="form-send__title">Спасибо!</h6>
            <p class="form-send__description">
              Заявка отправлена. Мы свяжемся с вами в ближайшее время и обсудим детали
            </p>
          </div>
          <h6 class="form__title">Заказать звонок</h6>
          <input class="form__input" type="text" placeholder="Имя">
          <input class="form__input" type="text" placeholder="+375 (29) 000-00-00">
          <div class="custom-select-wrapper order-select-wrapper" id="square-select">
            <input class="custom-select__input" type="text" name="square">
            <button class="custom-select-btn" type="button">
              <span class="custom-select-btn__text placeholder"></span>
              <svg class="custom-select-btn__icon">
                <use href="#select-arrow-icon"></use>
              </svg>
            </button>

            <ul class="custom-select-list">
              <li class="custom-select-list__item placeholder">Площадь</li>
              <li class="custom-select-list__item" data-value="1">1</li>
              <li class="custom-select-list__item" data-value="2">2</li>
              <li class="custom-select-list__item" data-value="3">3</li>
              <li class="custom-select-list__item" data-value="4">4</li>
            </ul>
          </div>

          <div class="custom-select-wrapper order-select-wrapper" id="region-select">
            <input class="custom-select__input" type="text" name="square">
            <button class="custom-select-btn" type="button">
              <span class="custom-select-btn__text placeholder"></span>
              <svg class="custom-select-btn__icon">
                <use href="#select-arrow-icon"></use>
              </svg>
            </button>

            <ul class="custom-select-list">
              <li class="custom-select-list__item placeholder">Регион</li>
              <li class="custom-select-list__item" data-value="1">1</li>
              <li class="custom-select-list__item" data-value="2">2</li>
              <li class="custom-select-list__item" data-value="3">3</li>
              <li class="custom-select-list__item" data-value="4">4</li>
            </ul>
          </div>
          <label class="form__label">
            <span class="form__label-checkbox">
              <svg class="form__label-icon">
                <use href="#check-icon"></use>
              </svg>
            </span>
            Согласен с обработкой персональных данных
            <input class="form__checkbox" type="checkbox" name="checkbox">
          </label>
          <button type="submit" class="form__btn default-btn" data-form-send>Заказать звонок</button>
        </form>
      </div>
    </div>
  </div>

</section>