<section class="material">
  <div class="container">

    <div class="catalogue-head catalog-all-head material-head">
      <div class="catalog-all-links materials-head-links">
        <a href="index.html" class="catalogue-head__link">Главная ></a>
        <a href="catalogue.html" class="catalogue-head__link">Каталог ></a>
        <a href="catalog-all.html" class="catalogue-head__link">Материалы и инструменты ></a>
        <a href="material.html" class="catalogue-head__link">Грунтовки, пропитки ></a>
      </div>

      <h3 class="catalogue-head__title">Ризопокс-1100</h3>
    </div>

    <div class="material-main">
      <div class="material-main-img">
        <img src="assets/images/3vedra.jpg" alt="material" class="material-main-img__img">
      </div>

      <ul class="material-main-list">
        <li class="material-main-list-item">
          <h4>
            Назначение
          </h4>

          <p>
            Двухкомпонентная пропитка - грунтовка на основе эпоксидной смолы, содержащая растворитель, с
            низкой вязкостью. Двухкомпонентная пропитка - грунтовка на основе эпоксидной смолы, содержащая
            растворитель, с низкой вязкостью.
          </p>
        </li>

        <li class="material-main-list-item">
          <h4>
            Модификации
          </h4>

          <ul>
            <li>
              <a href="#">
                Ризопокс-1100 RAPID
              </a>
              для быстрого выполнения работ;
            </li>
            <li>
              <a href="#">
                Ризопокс-1100 L
              </a>
              для работы при пониженных температурах.
            </li>
          </ul>
        </li>

        <li class="material-main-list-item">
          <h4>
            Цена
            <span>
              по запросу
            </span>
          </h4>

          <button type="button" class="default-btn material-main-list-item__btn" data-open-price>
            Запросить цену
          </button>
        </li>
      </ul>
    </div>

    <div class="material-info">
      <ul class="material-info-list">
        <li class="material-main-list-item material-info-list-item">
          <h4>
            Применение
          </h4>

          <p>
            В системах покрытий пола «РизоконTM» в качестве пропитки или грунтовки минеральных оснований
            под полимерные покрытия пола на основе эпоксидных смол. Для обеспыливания и пропитки минеральных
            поверхностей, подвергающихся слабым механическим воздействиям.
          </p>
        </li>

        <li class="material-main-list-item material-info-list-item">
          <h4>
            Преимущества
          </h4>

          <ul>
            <li>
              образует глянцевую поверхность;
            </li>
            <li>
              отличное проникновение в цементные поверхности;
            </li>
            <li>
              длительное время жизни;
            </li>
            <li>
              хорошее отверждение при низкой температуре;
            </li>
            <li>
              простота смешивания и применения;
            </li>
            <li>
              можно наносить кистью, валиком, распылителем.
            </li>
          </ul>
        </li>

        <li class="material-main-list-item material-info-list-item">
          <h4>
            Ограничения
          </h4>

          <ul>
            <li>
              если существует опасность капиллярного подъема грунтовых вод к основанию (увлажнение) –
              необходимо выполнить гидрои- золяцию или пароизоляцию;
            </li>
            <li>
              влажность основания – не более 4 %;
            </li>
            <li>
              прочность основания на сжатие — не менее 200 кгс/кв.см;
            </li>
            <li>
              бетонное основание (цементно-песчаная стяжка) должно иметь возраст не менее 28 суток;
            </li>
            <li>
              минимальная температура основания при нанесении покрытия — + 5 °С;
            </li>
            <li>
              максимальная температура основания при нанесении покрытия — + 30 °С;
            </li>
            <li>
              относительная влажность воздуха — не более 90 %;
            </li>
            <li>
              температура основания должна быть на 3°С больше измеренной точки росы.
            </li>
          </ul>
        </li>

        <li class="material-main-list-item material-info-list-item">
          <h4>
            Подготовка поверхности
          </h4>

          <p>
            Поверхность должна быть без повреждений, чистой, сухой (влажность не более 4%), без следов
            цементного молока, грязи, масла и не содержать непрочные и прилипшие частицы. Прочность
            основания на сжатие не менее 200 кгс/ кв.см. Прочность на отрыв — не менее 1,5 Н/кв. мм.
            <br><br>
            Для его подготовки применять такие методы как шлифовка, фрезеровка или дробеструйная обработка.
            После этого поверхность обеспылить.
            <br><br>
            Пористые участки, раковины, выбоины, трещины, места перепадов (неровности) основания должны быть
            предварительно загрунто — ваны, отремонтированы и выровнены с помощью эпоксидной шпатлёвки.
          </p>
        </li>

        <li class="material-main-list-item material-info-list-item">
          <h4>
            Смешивание
          </h4>

          <p>
            Вскрыть ведро с компонентом А, перемешать его в заводской упаковке при помощи низкооборотистой
            (300–450 об./мин) электрод — рели с винтовой насадкой. Вскрыть ведро с компонентом В, вылить
            его полностью в ёмкость с компонентом А и тщательно переме — шать в течение 2–3 мин.
            электрическим смесителем.
            <br><br>
            Перелить состав в другую тару и перемешать в ней в течение 1 мин.
          </p>
        </li>

        <li class="material-main-list-item material-info-list-item">
          <h4>
            Нанесение
          </h4>

          <p>
            Наносить малярным валиком, кистью тщательно втирая в основание. Равномерно распределять
            по поверхности, не допускать об — разования луж и потёков. На поверхность с высокой
            впитывающей способностью нанести состав повторно. Сразу после нанесения состава (в течение
            10–20 мин.) присыпать поверхность прокалённым кварцевым песком, если это предусмотрено
            технологией.
          </p>
        </li>

        <li class="material-main-list-item material-info-list-item">
          <h4>
            Очистка инструмента
          </h4>

          <p>
            Использовать органический растворитель для снятия не затвердевшего материала с инструмента.
            Застывший состав можно снять только механически. Вымыть руки и незащищённые участки кожи
            теплой водой с мылом.
          </p>
        </li>

        <li class="material-main-list-item material-info-list-item material-info-list-item__links">
          <button type="button" class="default-btn material-info-list-item__link" data-open-request>Оставить
            заявку</button>
          <a href="#" class="default-btn default-btn_light material-info-list-item__link">Скачать описание в
            PDF</a>
        </li>

        <li class="material-main-list-item material-info-list-item">
          <p class="material-specification__comment material-specification__comment_mobile">
            Информация приведённая в настоящем документе основана на обобщённом техническом и практическом
            опыте. В связи с невозможностью контролировать условия приме — нения материала, влияющие
            на технологический процесс, Производитель не несёт юридической и иной ответственности
            за неправильное использование или истолкование данной информации. Технические характеристики
            материала и его комплектация, приведённые здесь, могут изменяться Производителем
            без предварительного объявления.
          </p>
        </li>
      </ul>

      <div class="material-specification">
        <ul class="material-specification-list">
          <li class="material-main-list-item material-specification-list-item">
            <h4>
              Характеристики
            </h4>

            <h6>
              Внешний вид
            </h6>

            <p>
              Бесцветная или слегка желтоватая жидкость
            </p>

            <h6>
              Фасовка
            </h6>

            <p>
              Металлическое ведро, 18 кг
            </p>

            <h6>
              Пешеходные нагрузки (при t = +20°С)
            </h6>

            <p>
              18 часов
            </p>

            <h6>
              Температура применения
            </h6>

            <p>
              от -5°до +10°С
            </p>

            <h6>
              Фактура покрытия
            </h6>

            <p>
              гладкая / шероховатая
            </p>

            <h6>
              Сроки выполнения
            </h6>

            <p>
              в течение 4 – 24 часов
            </p>
          </li>

          <li class="material-main-list-item material-specification-list-item">
            <h4>
              Хранение
            </h4>

            <p>
              Хранить в сухом помещении при температуре от +5 °С до +30 °С. Не допускать прямого
              воздействия солнечных лучей. Емкости с частично использованным материалом должны быть
              плотно закры- ты. При транспортировке допускается замораживание компонентов.
            </p>
          </li>

          <li class="material-main-list-item material-specification-list-item">
            <h4>
              Гарантийный срок
            </h4>

            <p>
              12 месяцев с момента выпуска при соблюдении правил хранения и транспортировки в не
              нарушенной оригинальной заводской упаковке.
            </p>
          </li>

          <li class="material-main-list-item material-specification-list-item">
            <h4>
              Меры безопасности
            </h4>

            <p>
              Продукт может вызвать раздражение у людей с чувствительной кожей. Перед началом работ
              нанесите защитный крем на откры — тые участки кожи. Необходимо использовать защитную
              одежду, перчатки и очки. Если состав или его компоненты случайно попали в глаза, органы
              дыхания или на кожные покровы, немедленно промойте теплой водой и обратитесь к врачу.
              <br><br>
              Компоненты А и В являются пожароопасными — не разрешается курить, работать с открытым огнём
              и пользоваться электронагрева — тельными приборами вблизи места хранения материала
              и производства работ. При работе в закрытых помещениях важно обеспе — чить соответствующую
              вентиляцию во время нанесения и высыхания покрытия.
              <br><br>
              В жидком состоянии компоненты А и В могут загрязнять водные источники, их нельзя сливать
              в сточную канализацию и водоёмы,
              <br><br>
              а также недопустимо их проникновение в почву.
            </p>
          </li>
        </ul>

        <p class="material-specification__comment material-specification__comment_desktop">
          Информация приведённая в настоящем документе основана на обобщённом техническом и практическом
          опыте. В связи с невозможностью контролировать условия приме — нения материала, влияющие
          на технологический процесс, Производитель не несёт юридической и иной ответственности
          за неправильное использование или истолкование данной информации. Технические характеристики
          материала и его комплектация, приведённые здесь, могут изменяться Производителем
          без предварительного объявления.
        </p>
      </div>
    </div>

    <div class="material-color">
      <h3 class="material-color__title">
        Цветовые решения
      </h3>

      <ul class="material-color-list">
        <li class="material-color-list-item" style="--bgImg: url(../images/adrenalin-reception.jpg)">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #742806">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #000000">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #5190A1">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #005164">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #F7E6BB">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #E5C69A">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #8AB290">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #527639">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #005747">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #C5CBBD">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #97A9AB">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #99907F">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #86877F">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>

        <li class="material-color-list-item" style="--bgColor: #838383">
          <h4 class="material-color-list-item__title">
            RAL 3012
          </h4>
        </li>
      </ul>

      <p class="material-color__comment">
        *-за более точной трактовкой цвета обращайтесь к эталонной шкале RAL. Приведенные выше цвета являются
        стандартными. Стоимость материала других цветов по шкале RAL формируется с учетом соответствующих
        наценок на нестандартный цвет.
      </p>
    </div>

    <div class="material-docs">

      <h4 class="material-docs__title">
        Документация
      </h4>

      <div class="swiper material-docs-swiper">
        <div class="swiper-wrapper material-docs-swiper-wrapper">
          <div class="swiper-slide material-docs-swiper-slide">
            <a href="assets/images/certificate_1.png" class="material-docs-swiper-slide-img" data-fancybox>
              <img src="assets/images/certificate_1.png" alt="certificate" class="material-docs-swiper-slide-img__img">
            </a>

            <h5 class="material-docs-swiper-slide__title">
              Свидетельство о государственной регистрации
            </h5>
          </div>

          <div class="swiper-slide material-docs-swiper-slide">
            <a href="assets/images/certificate_2.png" class="material-docs-swiper-slide-img" data-fancybox>
              <img src="assets/images/certificate_2.png" alt="certificate" class="material-docs-swiper-slide-img__img">
            </a>

            <h5 class="material-docs-swiper-slide__title">
              Сертификат соответствия
            </h5>
          </div>

          <div class="swiper-slide material-docs-swiper-slide">
            <a href="assets/images/certificate_3.png" class="material-docs-swiper-slide-img" data-fancybox>
              <img src="assets/images/certificate_3.png" alt="certificate" class="material-docs-swiper-slide-img__img">
            </a>

            <h5 class="material-docs-swiper-slide__title">
              Декларация о соответствии
            </h5>
          </div>
        </div>
      </div>

      <div class="custom-swiper-control material-docs-swiper-control">
        <div class="material-docs-swiper-pagination custom-swiper-pagination">
          <span class="material-docs-swiper-pagination__current custom-swiper-pagination__current">00</span>
          /
          <span class="material-docs-swiper-pagination__total custom-swiper-pagination__total">00</span>
        </div>
        <div class="material-docs-swiper-btn custom-swiper-btn">
          <svg class="custom-swiper-btn__icon">
            <use href="#arrow-icon"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="material-any">

      <h4 class="material-docs__title">
        С этим товаром покупают
      </h4>

      <div class="swiper material-any-swiper">
        <div class="swiper-wrapper material-any-swiper-wrapper">
          <a href="#" class="swiper-slide material-any-swiper-slide">
            <div class="material-any-swiper-slide-img">
              <img src="assets/images/3vedra.jpg" alt="certificate" class="material-any-swiper-slide-img__img">
            </div>

            <h5 class="material-any-swiper-slide__title">
              Ризопокс-1100
            </h5>

            <p class="material-any-swiper-slide__description">
              Эпоксидная грунтовка-пропитка
              с раcтворителем
            </p>

            <p class="material-any-swiper-slide__price">
              от 15 руб/кг
            </p>
          </a>

          <a href="#" class="swiper-slide material-any-swiper-slide">
            <div class="material-any-swiper-slide-img">
              <img src="assets/images/2vedra.png" alt="certificate" class="material-any-swiper-slide-img__img">
            </div>

            <h5 class="material-any-swiper-slide__title">
              Ризопокс-1301W
            </h5>

            <p class="material-any-swiper-slide__description">
              Водно-дисперсионная
              эпоксидная грунтовка-пропитка
            </p>

            <p class="material-any-swiper-slide__price">
              от 15 руб/кг
            </p>
          </a>

          <a href="#" class="swiper-slide material-any-swiper-slide">
            <div class="material-any-swiper-slide-img">
              <img src="assets/images/3vedra.jpg" alt="certificate" class="material-any-swiper-slide-img__img">
            </div>

            <h5 class="material-any-swiper-slide__title">
              Ризопокс-1301W
            </h5>

            <p class="material-any-swiper-slide__description">
              Водно-дисперсионная
              эпоксидная грунтовка-пропитка
            </p>

            <p class="material-any-swiper-slide__price">
              от 15 руб/кг
            </p>
          </a>

          <a href="#" class="swiper-slide material-any-swiper-slide">
            <div class="material-any-swiper-slide-img">
              <img src="assets/images/2vedra.png" alt="certificate" class="material-any-swiper-slide-img__img">
            </div>

            <h5 class="material-any-swiper-slide__title">
              Ризопокс-1301W
            </h5>

            <p class="material-any-swiper-slide__description">
              Водно-дисперсионная
              эпоксидная грунтовка-пропитка
            </p>

            <p class="material-any-swiper-slide__price">
              от 15 руб/кг
            </p>
          </a>
        </div>
      </div>

      <div class="custom-swiper-control material-any-swiper-control">
        <div class="material-any-swiper-pagination custom-swiper-pagination">
          <span class="material-any-swiper-pagination__current custom-swiper-pagination__current">00</span>
          /
          <span class="material-any-swiper-pagination__total custom-swiper-pagination__total">00</span>
        </div>
        <div class="material-any-swiper-btn custom-swiper-btn">
          <svg class="custom-swiper-btn__icon">
            <use href="#arrow-icon"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="example-slider-slide material-swiper-container">
      <h4 class="example-slider-slide__title material-swiper__title">
        Примеры работ
      </h4>

      <div class="material-swiper-controll">
        <div class="custom-swiper-control">
          <div class="material-swiper-pagination custom-swiper-pagination">
            <span class="material-swiper-slide-pagination__current custom-swiper-pagination__current">00</span>
            /
            <span class="material-swiper-slide-pagination__total custom-swiper-pagination__total">00</span>
          </div>
          <div class="material-swiper-btn custom-swiper-btn">
            <svg class="custom-swiper-btn__icon">
              <use href="#arrow-icon"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="swiper example-slider-slide__swiper material-swiper">
        <ul class="swiper-wrapper example-slide-list material-swiper-wrapper">
          <li class="swiper-slide example-slide-list__item material-swiper-slide">
            <ul class="example-slide-list-info material-swiper-slide-info">
              <li class="example-slide-list-info__item">
                <h6 class="example-slide-list-info__title">Объект</h6>
                <a href="#" class="example-slide-list-info__text">
                  Минск, Атлант-М Уручье
                </a>
              </li>

              <li class="example-slide-list-info__item">
                <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                <div class="example-slide-list-info__links">
                  <a href="#" class="example-slide-list-info__text">
                    Тип №2
                  </a>
                </div>
              </li>
            </ul>

            <a href="./assets/images/example-garage.png" class="example-slide-list-img material-swiper-slide-img"
              data-fancybox>
              <img src="./assets/images/example-garage.png" alt="" class="example-slide-list-img__img">
            </a>
          </li>

          <li class="swiper-slide example-slide-list__item material-swiper-slide">
            <ul class="example-slide-list-info material-swiper-slide-info">
              <li class="example-slide-list-info__item">
                <h6 class="example-slide-list-info__title">Объект</h6>
                <a href="#" class="example-slide-list-info__text">
                  Минск, Атлант-М Уручье
                </a>
              </li>

              <li class="example-slide-list-info__item">
                <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                <div class="example-slide-list-info__links">
                  <a href="#" class="example-slide-list-info__text">
                    Тип №3
                  </a>
                </div>
              </li>
            </ul>

            <a href="assets/images/case-2.png" class="example-slide-list-img material-swiper-slide-img" data-fancybox>
              <img src="assets/images/case-2.png" alt="" class="example-slide-list-img__img">
            </a>
          </li>

          <li class="swiper-slide example-slide-list__item material-swiper-slide">
            <ul class="example-slide-list-info material-swiper-slide-info">
              <li class="example-slide-list-info__item">
                <h6 class="example-slide-list-info__title">Объект</h6>
                <a href="#" class="example-slide-list-info__text">
                  Минск, Атлант-М Уручье
                </a>
              </li>

              <li class="example-slide-list-info__item">
                <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                <div class="example-slide-list-info__links">
                  <a href="#" class="example-slide-list-info__text">
                    Тип №4
                  </a>
                </div>
              </li>
            </ul>

            <a href="assets/images/case-4.png" class="example-slide-list-img material-swiper-slide-img" data-fancybox>
              <img src="assets/images/case-4.png" alt="" class="example-slide-list-img__img">
            </a>
          </li>

          <li class="swiper-slide example-slide-list__item material-swiper-slide">
            <ul class="example-slide-list-info material-swiper-slide-info">
              <li class="example-slide-list-info__item">
                <h6 class="example-slide-list-info__title">Объект</h6>
                <a href="#" class="example-slide-list-info__text">
                  Минск, Атлант-М Уручье
                </a>
              </li>

              <li class="example-slide-list-info__item">
                <h6 class="example-slide-list-info__title">Тип покрытия</h6>
                <div class="example-slide-list-info__links">
                  <a href="#" class="example-slide-list-info__text">
                    Тип №5
                  </a>
                </div>
              </li>
            </ul>

            <a href="assets/images/case-3.png" class="example-slide-list-img material-swiper-slide-img" data-fancybox>
              <img src="assets/images/case-3.png" alt="" class="example-slide-list-img__img">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="feedback form-wrapper materials-form">
    <div class="feedback-container form-container container">
      <div class="feedback-info form-info feedback-anim_1 material-form-info">
        <h6 class="feedback-info__title form-info__title">
          Поможем в выборе!
        </h6>
        <p class="feedback-info__description form-info__description">
          Если у вас есть вопросы или вы не знаете, что выбрать, закажите звонок — мы позвоним, чтобы
          ответить на все вопросы.
        </p>
      </div>

      <div class="feedback-form-wrapper form-box feedback-anim_2">
        <form action="#" class="feedback-form form">
          <div class="form-send">
            <h6 class="form-send__title">Спасибо!</h6>
            <p class="form-send__description">
              Заявка отправлена. Мы свяжемся с вами в ближайшее время и обсудим детали
            </p>
          </div>
          <h6 class="form__title">Заказать звонок</h6>
          <input class="form__input" type="text" placeholder="Имя">
          <input class="form__input" type="text" placeholder="+375 (29) 000-00-00">
          <div class="custom-select-wrapper order-select-wrapper" id="square-select">
            <input class="custom-select__input" type="text" name="square">
            <button class="custom-select-btn" type="button">
              <span class="custom-select-btn__text placeholder"></span>
              <svg class="custom-select-btn__icon">
                <use href="#select-arrow-icon"></use>
              </svg>
            </button>

            <ul class="custom-select-list">
              <li class="custom-select-list__item placeholder">Площадь</li>
              <li class="custom-select-list__item" data-value="1">1</li>
              <li class="custom-select-list__item" data-value="2">2</li>
              <li class="custom-select-list__item" data-value="3">3</li>
              <li class="custom-select-list__item" data-value="4">4</li>
            </ul>
          </div>

          <div class="custom-select-wrapper order-select-wrapper" id="region-select">
            <input class="custom-select__input" type="text" name="square">
            <button class="custom-select-btn" type="button">
              <span class="custom-select-btn__text placeholder"></span>
              <svg class="custom-select-btn__icon">
                <use href="#select-arrow-icon"></use>
              </svg>
            </button>

            <ul class="custom-select-list">
              <li class="custom-select-list__item placeholder">Регион</li>
              <li class="custom-select-list__item" data-value="1">1</li>
              <li class="custom-select-list__item" data-value="2">2</li>
              <li class="custom-select-list__item" data-value="3">3</li>
              <li class="custom-select-list__item" data-value="4">4</li>
            </ul>
          </div>
          <label class="form__label">
            <span class="form__label-checkbox">
              <svg class="form__label-icon">
                <use href="#check-icon"></use>
              </svg>
            </span>
            Согласен с обработкой персональных данных
            <input class="form__checkbox" type="checkbox" name="checkbox">
          </label>
          <button type="submit" class="form__btn default-btn" data-form-send>Заказать звонок</button>
        </form>
      </div>
    </div>
  </div>

</section>