<section class="news">

    <div class="news-swiper swiper">
        <div class="news-swiper-wrapper swiper-wrapper">
            <div class="news-swiper-slide swiper-slide">
                <div class="news-swiper-slide-container container">
                    <div class="news-swiper-slide-info">
                        <h6 class="news-swiper-slide__subtitle">Новости</h6>
                        <h5 class="news-swiper-slide__title">Заголовок новости</h5>
                        <p class="news-swiper-slide__text">
                            23 года назад в подземном паркинге жилого комплекса по улице Грибоедова (г. Минск) было
                            выполнено
                            полимерное эпоксидное покрытие материалами компании СМТ марки Ризопокс.
                            <br>
                            <br>
                            После стольких лет безремонтного срока интенсивной эксплуатации покрытие до сих пор
                            находится в
                            хорошем состоянии. Можем смело утверждать, что в далеком 1999 году Заказчик принял верное
                            решение, выбирая Поставщика и исполнителя работ! Интервью с председателем ЖСПК Савицкой
                            Людмилой
                            Аркадьевной можно посмотреть по ссылке https://cmt.by/videos («Интервью с заказчиком: 23
                            года
                            эксплуатации покрытия!»)
                            <br>
                            <br>
                            Если Вы хотите заказать аналогичное покрытие, получить консультацию или подобрать
                            техническое
                            решение для Вашего объекта, звоните по указанным телефонам или оставьте заявку на нашем
                            сайте.
                        </p>
                        <span class="news-swiper-slide__date">10 октября 2022</span>
                    </div>
                </div>
                <div class="news-swiper-slide-img">
                    <img class="news-swiper-slide__img" src="assets/images/news_1.jpg" alt="news_1">
                </div>
            </div>

            <div class="news-swiper-slide swiper-slide">
                <div class="news-swiper-slide-container container">
                    <div class="news-swiper-slide-info">
                        <h6 class="news-swiper-slide__subtitle">Новости</h6>
                        <h5 class="news-swiper-slide__title">Заголовок новости</h5>
                        <p class="news-swiper-slide__text">
                            23 года назад в подземном паркинге жилого комплекса по улице Грибоедова (г. Минск) было
                            выполнено
                            полимерное эпоксидное покрытие материалами компании СМТ марки Ризопокс.
                            <br>
                            <br>
                            После стольких лет безремонтного срока интенсивной эксплуатации покрытие до сих пор
                            находится в
                            хорошем состоянии. Можем смело утверждать, что в далеком 1999 году Заказчик принял верное
                            решение, выбирая Поставщика и исполнителя работ! Интервью с председателем ЖСПК Савицкой
                            Людмилой
                            Аркадьевной можно посмотреть по ссылке https://cmt.by/videos («Интервью с заказчиком: 23
                            года
                            эксплуатации покрытия!»)
                            <br>
                            <br>
                            Если Вы хотите заказать аналогичное покрытие, получить консультацию или подобрать
                            техническое
                            решение для Вашего объекта, звоните по указанным телефонам или оставьте заявку на нашем
                            сайте.
                        </p>
                        <span class="news-swiper-slide__date">10 октября 2022</span>
                    </div>
                </div>
                <div class="news-swiper-slide-img">
                    <img class="news-swiper-slide__img" src="assets/images/news_1.jpg" alt="news_1">
                </div>
            </div>

            <div class="news-swiper-slide swiper-slide">
                <div class="news-swiper-slide-container container">
                    <div class="news-swiper-slide-info">
                        <h6 class="news-swiper-slide__subtitle">Новости</h6>
                        <h5 class="news-swiper-slide__title">Заголовок новости</h5>
                        <p class="news-swiper-slide__text">
                            23 года назад в подземном паркинге жилого комплекса по улице Грибоедова (г. Минск) было
                            выполнено
                            полимерное эпоксидное покрытие материалами компании СМТ марки Ризопокс.
                            <br>
                            <br>
                            После стольких лет безремонтного срока интенсивной эксплуатации покрытие до сих пор
                            находится в
                            хорошем состоянии. Можем смело утверждать, что в далеком 1999 году Заказчик принял верное
                            решение, выбирая Поставщика и исполнителя работ! Интервью с председателем ЖСПК Савицкой
                            Людмилой
                            Аркадьевной можно посмотреть по ссылке https://cmt.by/videos («Интервью с заказчиком: 23
                            года
                            эксплуатации покрытия!»)
                            <br>
                            <br>
                            Если Вы хотите заказать аналогичное покрытие, получить консультацию или подобрать
                            техническое
                            решение для Вашего объекта, звоните по указанным телефонам или оставьте заявку на нашем
                            сайте.
                        </p>
                        <span class="news-swiper-slide__date">10 октября 2022</span>
                    </div>
                </div>
                <div class="news-swiper-slide-img">
                    <img class="news-swiper-slide__img" src="assets/images/news_1.jpg" alt="news_1">
                </div>
            </div>

            <div class="news-swiper-slide swiper-slide">
                <div class="news-swiper-slide-container container">
                    <div class="news-swiper-slide-info">
                        <h6 class="news-swiper-slide__subtitle">Новости</h6>
                        <h5 class="news-swiper-slide__title">Заголовок новости</h5>
                        <p class="news-swiper-slide__text">
                            23 года назад в подземном паркинге жилого комплекса по улице Грибоедова (г. Минск) было
                            выполнено
                            полимерное эпоксидное покрытие материалами компании СМТ марки Ризопокс.
                            <br>
                            <br>
                            После стольких лет безремонтного срока интенсивной эксплуатации покрытие до сих пор
                            находится в
                            хорошем состоянии. Можем смело утверждать, что в далеком 1999 году Заказчик принял верное
                            решение, выбирая Поставщика и исполнителя работ! Интервью с председателем ЖСПК Савицкой
                            Людмилой
                            Аркадьевной можно посмотреть по ссылке https://cmt.by/videos («Интервью с заказчиком: 23
                            года
                            эксплуатации покрытия!»)
                            <br>
                            <br>
                            Если Вы хотите заказать аналогичное покрытие, получить консультацию или подобрать
                            техническое
                            решение для Вашего объекта, звоните по указанным телефонам или оставьте заявку на нашем
                            сайте.
                        </p>
                        <span class="news-swiper-slide__date">10 октября 2022</span>
                    </div>
                </div>
                <div class="news-swiper-slide-img">
                    <img class="news-swiper-slide__img" src="assets/images/news_1.jpg" alt="news_1">
                </div>
            </div>
        </div>

        <div class="news-control-wrapper">
            <div class="news-control-container container">

                <div class="news-swiper-control custom-swiper-control">
                    <div class="news-swiper-pagination custom-swiper-pagination">
                        <span class="news-swiper-pagination__current custom-swiper-pagination__current">01</span>
                        /
                        <span class="news-swiper-pagination__total custom-swiper-pagination__total">08</span>
                    </div>
                    <div class="news-swiper-btn custom-swiper-btn">
                        <svg class="custom-swiper-btn__icon">
                            <use href="#arrow-icon"></use>
                        </svg>
                    </div>
                    <h5 class="news-control__title">
                        Заголовок следующей новости
                    </h5>
                </div>

            </div>
        </div>
    </div>

</section>