<section class="news-item">
    <div class="container">

        <div class="news-item-head">
            <div class="news-item-head-img">
                <img src="assets/images/keys-4.png" alt="mariot" class="news-item-head-img__img">
                <div class="news-item-head-img__mask"></div>
            </div>

            <div class="news-item-head-container">
                <div class="news-item-head-info">
                    <div class="news-item-head-info-links">
                        <a href="index.html" class="news-item-head-info__link">Главная ></a>
                        <a href="news.html" class="news-item-head-info__link">Новости ></a>
                    </div>

                    <h3 class="news-item-head-info__title">
                        Гаражная система на службе Minsk Marriott Hotel!
                    </h3>

                    <p class="news-item-head-info__date">
                        19 августа 2022
                    </p>
                </div>

                <div class="news-item-head-description">
                    <p class="news-item-head-description__text">
                        Реализован очередной объект с использованием материалов компании СМТ – паркинг
                        спортивно-развлекательного комплекса «Falcon Club» (Minsk Marriott Hotel).
                    </p>
                </div>
            </div>
        </div>

        <ul class="news-item-list">
            <li class="news-item-list-item">
                <p class="news-item-list-item__text">
                    Специфика его в том, что, поддерживая свой статус, заказчик тщательно выбирал материалы и репутацию
                    поставщика, заказчик остановил свой выбор на «СМТ». Выполненное ранее полимерное покрытие от другого
                    поставщика подверглось значительному износу и локальному разрушению. Кроме того, не был учтён
                    тот факт, что в зимний период времени оно было очень скользким, что приводило к заносу автомобилей.
                    Выполненное покрытие материалами СМТ учитывает требования заказчика в полном объёме.
                </p>
            </li>

            <li class="news-item-list-item">
                <p class="news-item-list-item__text">
                    Исходное состояние пола:
                </p>
            </li>

            <li class="news-item-list-item">
                <a href="assets/images/news-item-1.png" class="news-item-list-item-img" data-fancybox>
                    <img src="assets/images/news-item-1.png" alt="item-1" class="news-item-list-item-img__img">
                </a>
            </li>

            <li class="news-item-list-item">
                <a href="assets/images/news-item-2.png" class="news-item-list-item-img" data-fancybox>
                    <img src="assets/images/news-item-2.png" alt="item-2" class="news-item-list-item-img__img">
                </a>
            </li>

            <li class="news-item-list-item">
                <p class="news-item-list-item__text">
                    Результат — жёстко-эластичное шероховатое покрытие с использованием материалов линейки «Ризопокс»
                    и «Ризопур» (гаражная система):
                </p>
            </li>

            <li class="news-item-list-item">
                <a href="assets/images/news-item-3.png" class="news-item-list-item-img" data-fancybox>
                    <img src="assets/images/news-item-3.png" alt="item-3" class="news-item-list-item-img__img">
                </a>
            </li>

            <li class="news-item-list-item">
                <a href="assets/images/news-item-4.png" class="news-item-list-item-img" data-fancybox>
                    <img src="assets/images/news-item-4.png" alt="item-4" class="news-item-list-item-img__img">
                </a>
            </li>

            <li class="news-item-list-item">
                <p class="news-item-list-item__text">
                    Благодарим дирекцию ООО «Фэлкон Инвестмент» за оказанное доверие!
                </p>
            </li>

            <li class="news-item-list-item">
                <p class="news-item-list-item__text">
                    Если вы хотите заказать аналогичное покрытие, получить консультацию или подобрать техническое
                    решение для вашего объекта, звоните по указанным телефонам или оставьте заявку на нашем сайте.
                </p>
            </li>
        </ul>

    </div>
</section>