<section class="news-page">
    <div class="container">

        <div class="example-header news-page-head">
            <a href="index.html" class="example-header__link">
                Главная >
            </a>
            <h3 class="example-header__title">
                Новости
            </h3>
        </div>

        <ul class="news-page-list">
            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/service-4.jpg" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        27 мая 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Состоялся ещё один демонстрационно — практический семинар!
                    </h4>

                    <p class="news-page-list-item__text">
                        26.05.2022 прошёл очередной семинар для наших клиентов и представителей проектных организаций
                        на тему «Полимерные покрытия полов для общественно-административных помещений и предприятий
                        торговли».
                    </p>
                </a>
            </li>

            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/service-1.jpg" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        22 сентября 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Полимерному покрытию СМТ 23 года!
                    </h4>

                    <p class="news-page-list-item__text">
                        23 года назад в подземном паркинге было выполнено полимерное эпоксидное покрытие материалами
                        компании СМТ марки Ризопокс.
                    </p>
                </a>
            </li>

            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/case-5.png" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        19 августа 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Гаражная система на службе Minsk Marriott Hotel!
                    </h4>

                    <p class="news-page-list-item__text">
                        Реализован очередной объект с использованием материалов компании СМТ – паркинг
                        спортивно-развлекательного комплекса «Falcon Club» (Minsk Marriott Hotel).
                    </p>
                </a>
            </li>

            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/service-4.jpg" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        27 мая 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Состоялся ещё один демонстрационно — практический семинар!
                    </h4>

                    <p class="news-page-list-item__text">
                        26.05.2022 прошёл очередной семинар для наших клиентов и представителей проектных организаций
                        на тему «Полимерные покрытия полов для общественно-административных помещений и предприятий
                        торговли».
                    </p>
                </a>
            </li>

            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/service-1.jpg" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        22 сентября 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Полимерному покрытию СМТ 23 года!
                    </h4>

                    <p class="news-page-list-item__text">
                        23 года назад в подземном паркинге было выполнено полимерное эпоксидное покрытие материалами
                        компании СМТ марки Ризопокс.
                    </p>
                </a>
            </li>

            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/case-5.png" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        19 августа 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Гаражная система на службе Minsk Marriott Hotel!
                    </h4>

                    <p class="news-page-list-item__text">
                        Реализован очередной объект с использованием материалов компании СМТ – паркинг
                        спортивно-развлекательного комплекса «Falcon Club» (Minsk Marriott Hotel).
                    </p>
                </a>
            </li>

            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/service-4.jpg" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        27 мая 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Состоялся ещё один демонстрационно — практический семинар!
                    </h4>

                    <p class="news-page-list-item__text">
                        26.05.2022 прошёл очередной семинар для наших клиентов и представителей проектных организаций
                        на тему «Полимерные покрытия полов для общественно-административных помещений и предприятий
                        торговли».
                    </p>
                </a>
            </li>

            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/service-1.jpg" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        22 сентября 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Полимерному покрытию СМТ 23 года!
                    </h4>

                    <p class="news-page-list-item__text">
                        23 года назад в подземном паркинге было выполнено полимерное эпоксидное покрытие материалами
                        компании СМТ марки Ризопокс.
                    </p>
                </a>
            </li>

            <li class="news-page-list-item">
                <a href="#" class="news-page-list-item__link">
                    <div class="news-page-list-item-img">
                        <img src="assets/images/case-5.png" alt="news" class="news-page-list-item-img__img">
                    </div>

                    <p class="news-page-list-item__date">
                        19 августа 2022
                    </p>

                    <h4 class="news-page-list-item__title">
                        Гаражная система на службе Minsk Marriott Hotel!
                    </h4>

                    <p class="news-page-list-item__text">
                        Реализован очередной объект с использованием материалов компании СМТ – паркинг
                        спортивно-развлекательного комплекса «Falcon Club» (Minsk Marriott Hotel).
                    </p>
                </a>
            </li>
        </ul>

        <div class="news-page-btn">
            <button class="default-btn news-page-btn__btn">Загрузить ещё</button>
        </div>

    </div>
</section>