<section class="object">
  <div class="container">

    <div class="catalogue-head catalog-all-head object-head">
      <div class="catalog-all-links materials-head-links">
        <a href="index.html" class="catalogue-head__link">Главная ></a>
        <a href="catalogue.html" class="catalogue-head__link">Каталог ></a>
        <a href="catalog-all.html" class="catalogue-head__link">Готовые решения для ></a>
      </div>

      <h3 class="catalogue-head__title">Автостоянки: стояночные места, зона проезда, пандусы и т.д.</h3>
    </div>

    <div class="object-inner">

      <div class="object-nav">
        <ul class="object-nav-list">
          <li class="object-nav-list-item _active">
            <a href="#" class="object-nav-list-item__link">
              Автостоянки
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Предприятия торговли
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Медицинские учреждения
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Объекты сельского хозяйства
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Склады, логистические комплексы
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Производственные помещения с высокими химическими и термическими нагрузками
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Холодильники, морозильные камеры
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Производственные помещения с сухими и умеренно влажными технологическими процессами
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Производственные помещения с особо влажными технологическими процессами
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Административные здания и сооружения
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Спортивные сооружения
            </a>
          </li>

          <li class="object-nav-list-item">
            <a href="#" class="object-nav-list-item__link">
              Подготовка оснований
            </a>
          </li>
        </ul>
        <button type="button" class="object-nav__btn">Развернуть...</button>
      </div>

      <div class="object-info">
        <div class="object-info-head">
          <div class="object-info-head-img">
            <img src="assets/images/parking.jpg" alt="parking" class="object-info-head-img__img">
          </div>

          <div class="object-info-head-box">
            <ul class="object-info-head-list">
              <li class="object-info-head-list-item">
                <h5 class="object-info-head-list-item__title">
                  Подходящие типы покрытий:
                </h5>
              </li>

              <li class="object-info-head-list-item">
                <div class="object-info-head-list-item-content">
                  <h6 class="object-info-head-list-item__subtitle">
                    Эконом
                  </h6>

                  <div class="object-info-head-list-item__links">
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №2,
                    </a>
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №3,
                    </a>
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №7
                    </a>
                  </div>
                </div>
              </li>

              <li class="object-info-head-list-item">
                <div class="object-info-head-list-item-content">
                  <h6 class="object-info-head-list-item__subtitle">
                    Стандарт
                  </h6>

                  <div class="object-info-head-list-item__links">
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №2,
                    </a>
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №7,
                    </a>
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №8,
                    </a>
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №10
                    </a>
                  </div>
                </div>
              </li>

              <li class="object-info-head-list-item">
                <div class="object-info-head-list-item-content">
                  <h6 class="object-info-head-list-item__subtitle">
                    VIP
                  </h6>

                  <div class="object-info-head-list-item__links">
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №2,
                    </a>
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №8,
                    </a>
                    <a href="#" class="object-info-head-list-item__value">
                      Тип №11
                    </a>
                  </div>
                </div>
              </li>
            </ul>

            <div class="object-info-head-btns">
              <button type="button" class="default-btn object-info-head__link" data-open-price>Получить помощь</button>
              <a href="#" class="default-btn default-btn_light object-info-head__link">Посмотреть примеры
                работ</a>
            </div>
          </div>
        </div>

        <div class="object-type-wrapper">

          <div class="object-type object-type_eco">
            <h3 class="object-type__title">
              Эконом
            </h3>

            <div class="object-type-info">
              <div class="object-type-info-content">
                <div class="object-type-info-content-item">
                  <h5>
                    Варианты готовых решений
                  </h5>

                  <h4>
                    Эпоксидная пропитка
                  </h4>

                  <p>
                    Бюджетное решение для обеспыливания, легкой уборки и долговременной защиты
                    бетона.
                  </p>
                </div>

                <div class="object-type-info-content-item">
                  <p class="object-type-info-content-price">
                    <span class="object-type-info-content-price__text object-type-info-content-price__text_green">
                      от 4,8 руб/м2
                    </span>
                    <span class="object-type-info-content-price__text object-type-info-content-price__text_grey">
                      без НДС
                    </span>
                  </p>
                </div>

                <div class="object-type-info-content-item">
                  <h4>
                    Преимущества покрытия
                  </h4>

                  <ul>
                    <li>
                      низкий бюджет;
                    </li>

                    <li>
                      одна рабочая операция;
                    </li>

                    <li>
                      возможность выполнить собственными силами;
                    </li>

                    <li>
                      при желании можно покрасить.
                    </li>
                  </ul>

                  <h4>
                    Недостатки покрытия
                  </h4>

                  <ul>
                    <li>
                      покрытие не имеет цвета;
                    </li>
                    <li>
                      эстетика невысокая и зависит от качества основания и количества
                      нанесенных
                      слоев.
                    </li>
                  </ul>
                </div>

                <div class="object-type-info-content-item">
                  <button type="button" class="default-btn object-type-info-content-item__link" data-open-request>
                    Заказать решение
                  </button>
                </div>
              </div>

              <div class="swiper object-type-info-swiper object-type-swiper_eco">
                <div class="swiper-wrapper object-type-info-swiper-wrapper">
                  <div class="swiper-slide object-type-info-swiper-slide">
                    <div class="object-type-info-swiper-img">
                      <img src="assets/images/econom-pol.png" alt="econom" class="object-type-info-swiper-img__img">
                    </div>
                  </div>
                </div>

                <div class="custom-swiper-control object-type-info-swiper-control object-type-swiper-control_eco">
                  <div class="object-type-swiper-pagination_eco custom-swiper-pagination">
                    <span class="object-type-swiper-pagination__current_eco custom-swiper-pagination__current">00</span>
                    /
                    <span class="object-type-swiper-pagination__total_eco custom-swiper-pagination__total">00</span>
                  </div>
                  <div class="object-type-swiper-btn_eco custom-swiper-btn">
                    <svg class="custom-swiper-btn__icon">
                      <use href="#arrow-icon"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="object-type-materials">
              <h3 class="object-type-materials__title">
                Варианты пропиток
              </h3>

              <ul class="object-type-materials-list">
                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/2vedra.png" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-1100
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>

                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/3vedra.jpg" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-3500
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>

                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/2vedra.png" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-1301
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="object-type object-type_standard">
            <h3 class="object-type__title">
              Стандарт
            </h3>

            <div class="object-type-info">
              <div class="object-type-info-content">
                <div class="object-type-info-content-item">
                  <h5 class="object-type-info-content__subtitle">
                    Варианты готовых решений
                  </h5>

                  <h4 class="object-type-info-content__title">
                    Окрасочное полимерное покрытие с базовым слоем
                  </h4>

                  <p class="object-type-info-content__description">
                    Экономичный вариант полимерного покрытия для умеренных нагрузок, толщина 2-3 мм.
                  </p>
                </div>

                <div class="object-type-info-content-item">
                  <p class="object-type-info-content-price">
                    <span class="object-type-info-content-price__text object-type-info-content-price__text_green">
                      28 руб/м2
                    </span>
                    <span class="object-type-info-content-price__text object-type-info-content-price__text_grey">
                      без НДС
                    </span>
                  </p>
                </div>

                <div class="object-type-info-content-item">
                  <h4 class="object-type-info-content-item__title">
                    Преимущества покрытия
                  </h4>

                  <ul class="object-type-info-content-item__list">
                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        экономия бюджета за счет возможности регулировать толщину покрытия в
                        зависимости от нагрузки в помещениях: зонирование;
                      </p>
                    </li>

                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        возможность регулирования степени шероховатости: от гладкой поверхности
                        до грубой наждачки;
                      </p>
                    </li>

                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        невысокий бюджет в сравнении с наливными покрытиями;
                      </p>
                    </li>

                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        простота обновления внешного вида.
                      </p>
                    </li>
                  </ul>
                </div>

                <div class="object-type-info-content-item">
                  <h4 class="object-type-info-content-item__title">
                    Недостатки покрытия
                  </h4>

                  <ul class="object-type-info-content-item__list">
                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        увеличенное количество рабочих операций в сравнении с наливными
                        покрытиями.
                      </p>
                    </li>
                  </ul>
                </div>

                <div class="object-type-info-content-item">
                  <button type="button" class="default-btn object-type-info-content-item__link" data-open-request>
                    Заказать решение
                  </button>
                </div>
              </div>

              <div class="swiper object-type-info-swiper object-type-swiper_standard">
                <div class="swiper-wrapper object-type-info-swiper-wrapper">
                  <div class="swiper-slide object-type-info-swiper-slide">
                    <div class="object-type-info-swiper-img">
                      <img src="assets/images/standart-pol.png" alt="econom" class="object-type-info-swiper-img__img">
                    </div>
                  </div>
                </div>

                <div class="custom-swiper-control object-type-info-swiper-control object-type-swiper-control_standard">
                  <div class="object-type-swiper-pagination_standard custom-swiper-pagination">
                    <span
                      class="object-type-swiper-pagination__current_standard custom-swiper-pagination__current">00</span>
                    /
                    <span
                      class="object-type-swiper-pagination__total_standard custom-swiper-pagination__total">00</span>
                  </div>
                  <div class="object-type-swiper-btn_standard custom-swiper-btn">
                    <svg class="custom-swiper-btn__icon">
                      <use href="#arrow-icon"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="object-type-materials">
              <h3 class="object-type-materials__title">
                Варианты пропиток
              </h3>

              <ul class="object-type-materials-list">
                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/2vedra.png" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-1100
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>

                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/3vedra.jpg" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-3500
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>

                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/2vedra.png" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-1301
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="object-type object-type_vip">
            <h3 class="object-type__title">
              VIP
            </h3>

            <div class="object-type-info">
              <div class="object-type-info-content">
                <div class="object-type-info-content-item">
                  <h5 class="object-type-info-content__subtitle">
                    Варианты готовых решений
                  </h5>

                  <h4 class="object-type-info-content__title">
                    Наливное полиуретановое покрытие пола Ризопур-4120.
                  </h4>

                  <p class="object-type-info-content__description">
                    Покрытие позволяет регулировать толщину покрытия в зависимости от интенсивности
                    движения, что существенно экономит бюджет на устройство покрытия.
                  </p>
                </div>

                <div class="object-type-info-content-item">
                  <p class="object-type-info-content-price">
                    <span class="object-type-info-content-price__text object-type-info-content-price__text_green">
                      От 34,5 руб/м2
                    </span>
                    <span class="object-type-info-content-price__text object-type-info-content-price__text_grey">
                      без НДС
                    </span>
                  </p>
                </div>

                <div class="object-type-info-content-item">
                  <h4 class="object-type-info-content-item__title">
                    Преимущества покрытия
                  </h4>

                  <ul class="object-type-info-content-item__list">
                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        возможность увеличения толщины покрытия под значительные нагрузки;
                      </p>
                    </li>

                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        выравнивает значительные неровности основания;
                      </p>
                    </li>

                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        привлекательный внешний вид: матовая или глянцевая зеркальная
                        поверхность;
                      </p>
                    </li>

                    <li class="object-type-info-content-item__info">
                      <p class="object-type-info-content-item__info-text">
                        длительный срок эксплуатации.
                      </p>
                    </li>
                  </ul>
                </div>

                <div class="object-type-info-content-item">
                  <button type="button" class="default-btn object-type-info-content-item__link" data-open-request>
                    Заказать решение
                  </button>
                </div>
              </div>

              <div class="swiper object-type-info-swiper object-type-swiper_vip">
                <div class="swiper-wrapper object-type-info-swiper-wrapper">
                  <div class="swiper-slide object-type-info-swiper-slide">
                    <div class="object-type-info-swiper-img">
                      <img src="assets/images/vip-pol.png" alt="econom" class="object-type-info-swiper-img__img">
                    </div>
                  </div>
                </div>

                <div class="custom-swiper-control object-type-info-swiper-control object-type-swiper-control_vip">
                  <div class="object-type-swiper-pagination_vip custom-swiper-pagination">
                    <span class="object-type-swiper-pagination__current_vip custom-swiper-pagination__current">00</span>
                    /
                    <span class="object-type-swiper-pagination__total_vip custom-swiper-pagination__total">00</span>
                  </div>
                  <div class="object-type-swiper-btn_vip custom-swiper-btn">
                    <svg class="custom-swiper-btn__icon">
                      <use href="#arrow-icon"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="object-type-materials">
              <h3 class="object-type-materials__title">
                Варианты пропиток
              </h3>

              <ul class="object-type-materials-list">
                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/2vedra.png" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-1100
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>

                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/3vedra.jpg" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-3500
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>

                <li class="object-type-materials-item">
                  <a href="#" class="object-type-materials-item__link">
                    <div class="object-type-materials-item-img">
                      <img src="assets/images/2vedra.png" alt="material" class="object-type-materials-item-img__img">
                    </div>

                    <h4 class="object-type-materials-item__title">
                      Ризопокс-1301
                    </h4>

                    <p class="object-type-materials-item__description">
                      Эпоксидная грунтовка-пропитка
                      с раcтворителем
                    </p>

                    <p class="object-type-materials-item__price">
                      от 15 руб/кг
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="form-wrapper object-form">
    <div class="feedback-container form-container container">
      <div class="feedback-info form-info feedback-anim_1">
        <h6 class="feedback-info__title form-info__title">
          Поможем в выборе!
        </h6>
        <p class="feedback-info__description form-info__description">
          Если у вас есть вопросы о формате или вы не знаете, что выбрать, закажите звонок — мы позвоним,
          чтобы ответить
          на все вопросы.
        </p>
      </div>

      <div class="feedback-form-wrapper form-box feedback-anim_2">
        <form action="#" class="feedback-form form">
          <div class="form-send">
            <h6 class="form-send__title">Спасибо!</h6>
            <p class="form-send__description">
              Заявка отправлена. Мы свяжемся с вами в ближайшее время и обсудим детали
            </p>
          </div>
          <h6 class="form__title">Заказать звонок</h6>
          <input class="form__input" type="text" placeholder="Имя">
          <input class="form__input" type="text" placeholder="+375 (29) 000-00-00">
          <div class="custom-select-wrapper order-select-wrapper" id="square-select">
            <input class="custom-select__input" type="text" name="square">
            <button class="custom-select-btn" type="button">
              <span class="custom-select-btn__text placeholder"></span>
              <svg class="custom-select-btn__icon">
                <use href="#select-arrow-icon"></use>
              </svg>
            </button>

            <ul class="custom-select-list">
              <li class="custom-select-list__item placeholder">Площадь</li>
              <li class="custom-select-list__item" data-value="1">1</li>
              <li class="custom-select-list__item" data-value="2">2</li>
              <li class="custom-select-list__item" data-value="3">3</li>
              <li class="custom-select-list__item" data-value="4">4</li>
            </ul>
          </div>

          <div class="custom-select-wrapper order-select-wrapper" id="region-select">
            <input class="custom-select__input" type="text" name="square">
            <button class="custom-select-btn" type="button">
              <span class="custom-select-btn__text placeholder"></span>
              <svg class="custom-select-btn__icon">
                <use href="#select-arrow-icon"></use>
              </svg>
            </button>

            <ul class="custom-select-list">
              <li class="custom-select-list__item placeholder">Регион</li>
              <li class="custom-select-list__item" data-value="1">1</li>
              <li class="custom-select-list__item" data-value="2">2</li>
              <li class="custom-select-list__item" data-value="3">3</li>
              <li class="custom-select-list__item" data-value="4">4</li>
            </ul>
          </div>
          <label class="form__label">
            <span class="form__label-checkbox">
              <svg class="form__label-icon">
                <use href="#check-icon"></use>
              </svg>
            </span>
            Согласен с обработкой персональных данных
            <input class="form__checkbox" type="checkbox" name="checkbox">
          </label>
          <button type="submit" class="form__btn default-btn" data-form-send>Заказать звонок</button>
        </form>
      </div>
    </div>
  </div>
</section>