<section class="partners">
    <div class="container">

        <div class="partners-info">
            <h3 class="partners-info__title">Наши партнеры</h3>
        </div>

        <ul class="partners-list">
            <li class="partners-list-item">
                <div class="partners-list-item-img">
                    <img src="assets/images/a1.png" alt="a1" class="partners-list-item__img">
                </div>
            </li>
            <li class="partners-list-item">
                <div class="partners-list-item-img">
                    <img src="../assets/images/harley.png" alt="harley" class="partners-list-item__img">
                </div>
            </li>
            <li class="partners-list-item">
                <div class="partners-list-item-img">
                    <img src="../assets/images/skoda.png" alt="skoda" class="partners-list-item__img">
                </div>
            </li>
            <li class="partners-list-item">
                <div class="partners-list-item-img">
                    <img src="../assets/images/babushka.png" alt="babushka" class="partners-list-item__img">
                </div>
            </li>
            <li class="partners-list-item">
                <div class="partners-list-item-img">
                    <img src="../assets/images/euroopt.png" alt="euroopt" class="partners-list-item__img">
                </div>
            </li>
            <li class="partners-list-item">
                <div class="partners-list-item-img">
                    <img src="../assets/images/belgee.png" alt="belgee" class="partners-list-item__img">
                </div>
            </li>
        </ul>

    </div>
</section>