<section class="questions">
  <div class="container questions-container">

    <div class="questions-inner">
      <a href="index.html" class="questions-link">
        Главная >
      </a>

      <h2 class="questions-title">
        Вопрос-ответ
      </h2>

      <ul class="questions-list">
        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Как выбрать из многообразия поставщиков материалов?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Какое оборудование и инструмент необходимо для устройства полимерных покрытий пола? Где его можно
                приобрести?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Чем отличается эпоксидное покрытие от полиуретанового?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Чем отличаются полимерные покрытия пола, например, от покрытий из керамической плитки?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Можно ли применять полимерные покрытия пола в домашних условиях?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Что такое шеф-монтаж?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Какие есть варианты по устройству полов из Ваших материалов?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Прочитал где-то, что эпоксидные полы вредны для человека и содержат большое количество формальдегида?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Объединенный ответ на часто задаваемый вопрос.
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Сколько стоит полимерное покрытие пола?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Какая гарантия на ваши полы?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>

        <li class="vacancy-list-item questions-list-item">
          <div class="vacancy-list-item__info">
            <div class="vacancy-list-item__box questions-list-item__box">
              <h3 class="vacancy-list-item__title questions-list-item__title">
                Что такое полимерные покрытия пола?
              </h3>
              <button type="button" class="vacancy-list-item__btn"></button>
            </div>
          </div>

          <ul class="vacancy-info-list questions-info-list">
            <li class="vacancy-info-list-item questions-info-list-item">
              <h5>
                Мы могли бы порекомендовать сделать для себя выбор по трем основным критериям:
              </h5>
              <ul>
                <li>
                  срок работы компании на рынке. Чем он дольше, тем больше опыт и выше доверие потребителей.
                </li>
                <li>
                  основная специализация. Чем она уже, тем выше компетенции компании в этой области.
                </li>
                <li>
                  широта линейки продуктов. Чем она шире, тем больше решений Вам могут предложить, с учетом специфики
                  Вашего
                  объекта.
                </li>
              </ul>
              <p>
                Выбор всегда будет за Вами!
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="questions-form-container">
      <div class="form-box questions-form-wrapper">
        <form action="#" class="form questions-form">
          <div class="form-send">
            <h6 class="form-send__title">Спасибо!</h6>
            <p class="form-send__description">
              Заявка отправлена. Мы свяжемся с вами в ближайшее время и обсудим детали
            </p>
          </div>
          <h6 class="form__title">Задать свой вопрос</h6>
          <input class="form__input questions-form__input" type="text" placeholder="Имя">
          <input class="form__input questions-form__input" type="text" placeholder="+375 (29) 000-00-00">
          <input class="form__input questions-form__input" type="text" placeholder="Текст вопроса">

          <label class="form__label" for="order-form-checkbox">
            <span class="form__label-checkbox">
              <svg class="form__label-icon">
                <use href="#check-icon"></use>
              </svg>
            </span>
            Согласен с обработкой персональных данных
            <input class="form__checkbox" type="checkbox" name="checkbox" id="order-form-checkbox">
          </label>
          <button type="submit" class="form__btn default-btn" data-form-send>Отправить</button>
        </form>
      </div>
    </div>

  </div>
</section>