<section class="resume-form form-wrapper">
  <div class="resume-form-container form-container container">
    <div class="resume-form-info form-info">
      <h6 class="resume-form-info__title form-info__title">
        Хотите у нас работать?
      </h6>
      <p class="resume-form-info__description form-info__description">
        Заполните форму, и вы свяжемся с вами
        <br> в течение 2 часов в рабочее время
      </p>
    </div>

    <div class="resume-form-form-wrapper form-box">
      <form action="#" class="resume-form-form form">
        <div class="form-send">
          <h6 class="form-send__title">Спасибо!</h6>
          <p class="form-send__description">
            Заявка отправлена. Мы свяжемся с вами в ближайшее время и обсудим детали
          </p>
        </div>
        <h6 class="form__title">Отправить резюме</h6>
        <input class="form__input" type="text" placeholder="Имя">
        <input class="form__input" type="text" placeholder="+375 (29) 000-00-00">

        <label class="resume-form-resume__label">
          + Прикрепить резюме
          <span class="resume-form-resume__file"></span>
          <input class="resume-form-resume__input" type="file" name="resume" id="resume-form-resume">
        </label>

        <input class="form__checkbox" type="checkbox" name="checkbox" id="resume-form-form-checkbox">
        <label class="form__label" for="resume-form-form-checkbox">
          <span class="form__label-checkbox">
            <svg class="form__label-icon">
              <use href="#check-icon"></use>
            </svg>
          </span>
          Согласен с обработкой персональных данных
        </label>
        <button class="form__btn default-btn">Отправить резюме</button>
      </form>
    </div>
  </div>
</section>