<section class="samples">
  <div class="container">
    <div class="samples-container">
      <div class="samples-swiper-progress"></div>
      <div class="samples-info">
        <h6 class="samples-info__subtitle">Область применения</h6>
        <h3 class="samples-info__title">Готовые решения под</h3>

        <ul class="samples-list">
          <li class="samples-list__item">
            Производство
            <svg class="samples-list__item-icon">
              <use href="#arrow-icon"></use>
            </svg>
          </li>
          <li class="samples-list__item">
            Склады
            <svg class="samples-list__item-icon">
              <use href="#arrow-icon"></use>
            </svg>
          </li>
          <li class="samples-list__item">
            Автосервисы и автостоянки
            <svg class="samples-list__item-icon">
              <use href="#arrow-icon"></use>
            </svg>
          </li>
          <li class="samples-list__item">
            Пищевая промышленность
            <svg class="samples-list__item-icon">
              <use href="#arrow-icon"></use>
            </svg>
          </li>
          <li class="samples-list__item">
            Спортивные объекты
            <svg class="samples-list__item-icon">
              <use href="#arrow-icon"></use>
            </svg>
          </li>
          <li class="samples-list__item">
            Офисные и административные помещения
            <svg class="samples-list__item-icon">
              <use href="#arrow-icon"></use>
            </svg>
          </li>
        </ul>

        <a href="#" class="samples-btn default-btn">
          Посмотреть типы объектов
        </a>
      </div>

      <div class="samples-swiper swiper">
        <div class="samples-swiper-wrapper swiper-wrapper">
          <div class="samples-swiper__slide swiper-slide">
            <a href="#" class="samples-swiper-img">
              <img class="samples-swiper-img__image" src="assets/images/parking.jpg" alt="image">
            </a>
          </div>
          <div class="samples-swiper__slide swiper-slide">
            <a href="#" class="samples-swiper-img">
              <img class="samples-swiper-img__image" src="assets/images/parking.jpg" alt="image">
            </a>
          </div>
          <div class="samples-swiper__slide swiper-slide">
            <a href="#" class="samples-swiper-img">
              <img class="samples-swiper-img__image" src="assets/images/parking.jpg" alt="image">
            </a>
          </div>
          <div class="samples-swiper__slide swiper-slide">
            <a href="#" class="samples-swiper-img">
              <img class="samples-swiper-img__image" src="assets/images/parking.jpg" alt="image">
            </a>
          </div>
          <div class="samples-swiper__slide swiper-slide">
            <a href="#" class="samples-swiper-img">
              <img class="samples-swiper-img__image" src="assets/images/parking.jpg" alt="image">
            </a>
          </div>
          <div class="samples-swiper__slide swiper-slide">
            <a href="#" class="samples-swiper-img">
              <img class="samples-swiper-img__image" src="assets/images/parking.jpg" alt="image">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>