<section class="service">
  <div class="container service-container">

    <div class="service-wrapper">
      <div class="service-box">
        <a href="index.html" class="service__link">
          Главная >
        </a>
        <h1 class="service__title">
          Услуги
        </h1>
      </div>

      <div class="service-info-wrapper">
        <div class="service-info">
          <h3 class="service-info__title">
            Предпродажный сервис
          </h3>
          <p class="service-info__text">
            Чтобы упростить вам выбор покрытия, наша компания предлагает предпродажный сервис. Подготовленные
            специалисты
            отдела продаж выяснят ключевые факторы и предложат несколько вариантов решения. По необходимости проведут
            обследование Ваших площадей с использованием поверенных приборов, подготовят индивидуальное коммерческое
            предложение.
            <br>
            <br>
            Наши специалисты подберут пол, который будет соответствовать всем необходимым характеристикам. Реализацию
            решений мы осуществляем через ограниченное количество подрядных организаций - партнеров, в квалификации
            которых есть уверенность.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>