<section class="services">
    <div class="container">

        <ul class="services-list">
            <li class="services-list-item services-info services-list-item_1">
                <h6 class="services__subtitle">
                    Услуги
                </h6>
                <h3 class="services__title">
                    Наши специалисты подберут пол, который будет соответствовать всем необходимым характеристикам
                </h3>
                <a href="#" class="services__link">
                    Посмотреть все услуги
                    <svg>
                        <use href="#arrow-icon"></use>
                    </svg>
                </a>
            </li>
            <li class="services-list-item services-list-item_2">
                <div class="services-list-item-img">
                    <img src="assets/images/service-1.jpg" alt="service-1" class="services-list-item__img">
                </div>
                <a href="#" class="services-list-item__link">
                    Подбор материалов в зависимости от требований эксплуатации
                </a>
            </li>
            <li class="services-list-item services-list-item_3">
                <div class="services-list-item-img">
                    <img src="assets/images/service-2.jpg" alt="service-2" class="services-list-item__img">
                </div>
                <a href="#" class="services-list-item__link">
                    Подбор материалов в зависимости от требований эксплуатации
                </a>
            </li>
            <li class="services-list-item services-list-item_4">
                <div class="services-list-item-img">
                    <img src="assets/images/service-3.jpg" alt="service-3" class="services-list-item__img">
                </div>
                <a href="#" class="services-list-item__link">
                    Подбор материалов в зависимости от требований эксплуатации
                </a>
            </li>
            <li class="services-list-item services-list-item_5">
                <div class="services-list-item-img">
                    <img src="assets/images/service-4.jpg" alt="service-4" class="services-list-item__img">
                </div>
                <a href="#" class="services-list-item__link">
                    Подбор материалов в зависимости от требований эксплуатации
                </a>
            </li>
            <li class="services-list-item services-list-item_6">
                <div class="services-list-item-img">
                    <img src="assets/images/service-5.jpg" alt="service-5" class="services-list-item__img">
                </div>
                <a href="#" class="services-list-item__link">
                    Подбор материалов в зависимости от требований эксплуатации
                </a>
            </li>
        </ul>

    </div>
</section>