<section class="service-for">
  <div class="container service-for-container">
    <ul class="service-for-list">
      <li class="service-for__item">
        <div class="custom-swiper-control service-for__control">
          <div class="keyes-swiper-pagination custom-swiper-pagination">
            <span class="keyes-swiper-pagination__current custom-swiper-pagination__current">01</span>
            /
            <span class="keyes-swiper-pagination__total custom-swiper-pagination__total">03</span>
          </div>
        </div>

        <h3 class="service-for__title">
          Для заказчиков
        </h3>

        <p class="service-for__text">
          Наши специалисты подберут пол, который будет соответствовать всем необходимым характеристикам. Реализацию
          решений мы осуществляем через ограниченное количество подрядных организаций - партнеров, в квалификации
          которых есть уверенность. [описание услуги]
          <br><br>
          Наши специалисты подберут пол, который будет соответствовать всем необходимым характеристикам. Реализацию
          решений мы осуществляем через ограниченное количество подрядных организаций - партнеров, в квалификации
          которых есть уверенность. [описание услуги]
        </p>

        <div class="service-for-btn">
          <button type="button" class="default-btn service-for__btn" data-open-price>
            Заказать звонок
          </button>
        </div>
      </li>

      <li class="service-for__item">
        <div class="custom-swiper-control service-for__control">
          <div class="keyes-swiper-pagination custom-swiper-pagination">
            <span class="keyes-swiper-pagination__current custom-swiper-pagination__current">02</span>
            /
            <span class="keyes-swiper-pagination__total custom-swiper-pagination__total">03</span>
          </div>
        </div>

        <h3 class="service-for__title">
          Для подрядчиков
        </h3>

        <p class="service-for__text">
          Наши специалисты подберут пол, который будет соответствовать всем необходимым характеристикам. Реализацию
          решений мы осуществляем через ограниченное количество подрядных организаций - партнеров, в квалификации
          которых есть уверенность. [описание услуги]
          <br><br>
          Наши специалисты подберут пол, который будет соответствовать всем необходимым характеристикам. Реализацию
          решений мы осуществляем через ограниченное количество подрядных организаций - партнеров, в квалификации
          которых есть уверенность. [описание услуги]
        </p>

        <div class="service-for-btn">
          <button type="button" class="default-btn service-for__btn" data-open-price>
            Заказать звонок
          </button>
        </div>
      </li>

      <li class="service-for__item">
        <div class="custom-swiper-control service-for__control">
          <div class="keyes-swiper-pagination custom-swiper-pagination">
            <span class="keyes-swiper-pagination__current custom-swiper-pagination__current">03</span>
            /
            <span class="keyes-swiper-pagination__total custom-swiper-pagination__total">03</span>
          </div>
        </div>

        <h3 class="service-for__title">
          Для проектировщиков
        </h3>

        <p class="service-for__text">
          Наши специалисты подберут пол, который будет соответствовать всем необходимым характеристикам. Реализацию
          решений мы осуществляем через ограниченное количество подрядных организаций - партнеров, в квалификации
          которых есть уверенность. [описание услуги]
          <br><br>
          Наши специалисты подберут пол, который будет соответствовать всем необходимым характеристикам. Реализацию
          решений мы осуществляем через ограниченное количество подрядных организаций - партнеров, в квалификации
          которых есть уверенность. [описание услуги]
        </p>

        <div class="service-for-btn">
          <button type="button" class="default-btn service-for__btn" data-open-price>
            Заказать звонок
          </button>
        </div>
      </li>
    </ul>

    <div class="service-for-img">
      <img src="assets/images/service-info-img.png" alt="service-for" class="service-for-img__img">
    </div>
  </div>
</section>