<section class="solutions">
    <div class="container">

        <div class="catalogue-head solutions-head">
            <div class="catalog-all-links">
                <a href="index.html" class="catalogue-head__link">Главная ></a>
                <a href="catalogue.html" class="catalogue-head__link">Каталог ></a>
            </div>

            <h3 class="catalogue-head__title">Готовые решения для:</h3>
        </div>

        <div class="solutions-inner">
            <form class="catalogue-form catalog-all-form" action="#">
                <h5 class="catalogue-form__title">Остались вопросы?</h5>

                <h6 class="catalogue-form__subtitle">Заполните форму, и вы свяжемся с вами в течение 2 часов в рабочее
                    время</h6>

                <input class="form__input catalogue-form__input" type="text" placeholder="Имя">
                <input class="form__input catalogue-form__input" type="text" placeholder="+375 (29) 000-00-00">

                <div class="custom-select-wrapper order-select-wrapper" id="square-select">
                    <input class="custom-select__input" type="text" name="square" id="#">
                    <button class="custom-select-btn" type="button">
                        <span class="custom-select-btn__text placeholder"></span>
                        <svg class="custom-select-btn__icon">
                            <use href="#select-arrow-icon"></use>
                        </svg>
                    </button>

                    <ul class="custom-select-list">
                        <li class="custom-select-list__item placeholder">Площадь</li>
                        <li class="custom-select-list__item" data-value="1">1</li>
                        <li class="custom-select-list__item" data-value="2">2</li>
                        <li class="custom-select-list__item" data-value="3">3</li>
                        <li class="custom-select-list__item" data-value="4">4</li>
                    </ul>
                </div>

                <div class="custom-select-wrapper order-select-wrapper" id="region-select">
                    <input class="custom-select__input" type="text" name="square" id="#">
                    <button class="custom-select-btn" type="button">
                        <span class="custom-select-btn__text placeholder"></span>
                        <svg class="custom-select-btn__icon">
                            <use href="#select-arrow-icon"></use>
                        </svg>
                    </button>

                    <ul class="custom-select-list">
                        <li class="custom-select-list__item placeholder">Регион</li>
                        <li class="custom-select-list__item" data-value="1">1</li>
                        <li class="custom-select-list__item" data-value="2">2</li>
                        <li class="custom-select-list__item" data-value="3">3</li>
                        <li class="custom-select-list__item" data-value="4">4</li>
                    </ul>
                </div>

                <input class="form__checkbox" type="checkbox" name="checkbox" id="order-form-checkbox">
                <label class="form__label" for="order-form-checkbox">
                    <span class="form__label-checkbox">
                        <svg class="form__label-icon">
                            <use href="#check-icon"></use>
                        </svg>
                    </span>
                    Согласен с обработкой персональных данных
                </label>
                <button class="form__btn default-btn" type="submit">Оставить заявку</button>
            </form>

            <ul class="solutions-list">
                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Автостоянки
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Стояночные места, зона проезда, пандусы
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/parking.jpg" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Предприятия торговли
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Торговые залы
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/torgovie-pom.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Медицинские учреждения
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Операционные, процедурные кабинеты, коридоры, подсобные помещения
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/medicinskie-pom.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Объекты сельского хозяйства
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Доильные залы, молочно-доильные блоки, прогоны, операционные, места содержания животных
                                и птиц
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/selskoe-hoz.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Склады, логистические комплексы
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Места установки стеллажей, зоны проезда, рампы, фрукто-, овоще- и зернохранилища
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/skladi.png" alt="parking" class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Производственные помещения с высокими химическими и термическими нагрузками
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Участки термической обработки пищевого сырья, химические и литейные производства,
                                стекольная и машиностроительная промышленность
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/him-pomeschenia.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Холодильные, морозильные камеры
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Холодильники, морозильники, неотапливаемые помещения
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/holodilnie.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Производственные помещения с сухими и умеренно влажными технологическими процессами
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Помещения, в которых воздействие жидкостей соответствует малой и средней интенсивности
                                по СНиП 2.03.13-88
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/suhie-proizvodstvenie.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Производственные помещения с особо влажными технологическими процессами
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Помещения, в которых воздействие жидкостей соответствует значительной интенсивности по
                                СНиП 2.03.13-88
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/proizvodstvennie-pom.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Административные здания и сооружения
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Офисные помещения, гостиницы, рестораны, кафе, вестибюли, выставочные комплексы
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/administracia.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Спортивные сооружения
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Беговые дорожки, теннисные корты, залы фитнеса и аэробики, игровые площадки
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/sport-soorujeniya.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="solutions-list-item">
                    <a href="#" class="solutions-list-item__link">
                        <div class="solutions-list-item__link-inner">
                            <h3 class="solutions-list-item__title">
                                Подготовка оснований
                            </h3>
                            <p class="solutions-list-item__subtitle">
                                Подготовка оснований
                            </p>
                        </div>

                        <svg class="catalogue-list-item__link-icon solutions-list-item__link-icon" width="62"
                            height="15" viewBox="0 0 62 15" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 6.5C0.447715 6.5 0 6.94772 0 7.5C0 8.05228 0.447715 8.5 1 8.5V6.5ZM61.7071 8.20711C62.0976 7.81658 62.0976 7.18342 61.7071 6.79289L55.3431 0.428932C54.9526 0.0384078 54.3195 0.0384078 53.9289 0.428932C53.5384 0.819457 53.5384 1.45262 53.9289 1.84315L59.5858 7.5L53.9289 13.1569C53.5384 13.5474 53.5384 14.1805 53.9289 14.5711C54.3195 14.9616 54.9526 14.9616 55.3431 14.5711L61.7071 8.20711ZM1 8.5H61V6.5H1V8.5Z" />
                        </svg>
                    </a>

                    <div class="solutions-list-item-info">
                        <div class="solutions-list-item-info-img">
                            <img src="assets/images/podgotovka-osnovaniy.png" alt="parking"
                                class="solutions-list-item-info-img__img">
                        </div>

                        <ul class="solutions-list-item-info-list">
                            <li class="solutions-list-item-info-item">
                                <h6 class="solutions-list-item-info-item__title">
                                    Подходящие типы покрытий:
                                </h6>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Эконом
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №3, Тип №7
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        Стандарт
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №7, Тип №8, Тип №10
                                    </p>
                                </div>
                            </li>

                            <li class="solutions-list-item-info-item">
                                <div class="solutions-list-item-info-item__content">
                                    <p class="solutions-list-item-info-item__subtitle">
                                        VIP
                                    </p>

                                    <p class="solutions-list-item-info-item__value">
                                        Тип №2, Тип №8, Тип №11
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>