<section class="type">
    <div class="container">

        <div class="catalogue-head solutions-head">
            <div class="catalog-all-links">
                <a href="index.html" class="catalogue-head__link">Главная ></a>
                <a href="type.html" class="catalogue-head__link">Типовые конструкции ></a>
            </div>

            <h3 class="catalogue-head__title">Тип 1</h3>
        </div>

        <div class="type-inner">

            <div class="type-nav">
                <ul class="type-nav-list">
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title _active">
                            Окрасочные покрытия
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link _active">
                            Тип 1
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 2
                        </a>
                    </li>

                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title">
                            Наливные покрытия
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 3
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 9
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 14
                        </a>
                    </li>

                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title">
                            Промышленно-декоративные покрытия
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 4
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 6
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 10
                        </a>
                    </li>

                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title">
                            Антистатические покрытия
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 5
                        </a>
                    </li>

                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title">
                            Полимерцементные покрытия
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 13
                        </a>
                    </li>

                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title">
                            Спортивные покрытия
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 19
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 24
                        </a>
                    </li>

                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title">
                            Толстослойные покрытия
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 20
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 21
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 22
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 23
                        </a>
                    </li>

                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title">
                            Бетонные полы с упрочнителями
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 7
                        </a>
                    </li>

                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__title">
                            Подготовка оснований
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 15
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 16
                        </a>
                    </li>
                    <li class="type-nav-list-item">
                        <a href="#" class="type-nav-list-item__link">
                            Тип 17
                        </a>
                    </li>
                </ul>

                <button type="button" class="type-nav__btn">Развернуть...</button>
            </div>

            <div class="type-info-wrapper">
                <div class="type-info-head">
                    <!-- 
                        все анимированые слои с модификатором "type-info-head-img_animated"
                        для всех анимированых слоев задается толщина слоя через CSS переменную --layerHeight: 0rem !!!ТОЛЩИНА ОТРИЦАТЕЛЬНАЯ или 0!!!
                     -->
                    <div class="type-info-head-img-container">
                        <div class="type-info-head-img">
                            <img class="type-info-head-img__img" src="assets/images/type-l-4.png" alt="layer-4">

                            <div class="type-info-head-img  type-info-head-img_animated" style="--layerHeight: 0rem">
                                <img class="type-info-head-img__img" src="assets/images/type-4-4.png" alt="layer-3">

                                <div class="type-info-head-img type-info-head-img_animated"
                                    style="--layerHeight: -0.9rem">
                                    <img class="type-info-head-img__img" src="assets/images/type-4-3.png" alt="layer-2">

                                    <div class="type-info-head-img type-info-head-img_animated"
                                        style="--layerHeight: 0rem">
                                        <img class="type-info-head-img__img" src="assets/images/type-4-2.png"
                                            alt="layer-1">

                                        <div class="type-info-head-img type-info-head-img_animated"
                                            style="--layerHeight: 0rem">
                                            <img class="type-info-head-img__img" src="assets/images/type-4-1.png"
                                                alt="layer-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="type-info-head-list">
                        <li class="type-info-head-list-item">
                            <span class="type-info-head-list-item__text">
                                1
                            </span>

                            <div class="type-info-head-list-item__box">
                                <p class="type-info-head-list-item__text type-info-head-list-item__info">
                                    Лицевой слой
                                </p>

                                <p
                                    class="type-info-head-list-item__text type-info-head-list-item__info type-info-head-list-item__text_green">
                                    Ризопокс-4610
                                </p>
                            </div>
                        </li>

                        <li class="type-info-head-list-item">
                            <span class="type-info-head-list-item__text">
                                2
                            </span>

                            <div class="type-info-head-list-item__box">
                                <p class="type-info-head-list-item__text type-info-head-list-item__info">
                                    Лицевой слой
                                </p>

                                <p
                                    class="type-info-head-list-item__text type-info-head-list-item__info type-info-head-list-item__text_green">
                                    Ризопокс-4610
                                </p>
                            </div>
                        </li>

                        <li class="type-info-head-list-item">
                            <span class="type-info-head-list-item__text">
                                3
                            </span>

                            <div class="type-info-head-list-item__box">
                                <p class="type-info-head-list-item__text type-info-head-list-item__info">
                                    Грунтовка
                                </p>

                                <p
                                    class="type-info-head-list-item__text type-info-head-list-item__info type-info-head-list-item__text_green">
                                    Ризопокс-1100
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="type-info">
                    <div class="type-info-main">
                        <div class="type-info-main-item">
                            <h4 class="type-info__title">
                                Назначение
                            </h4>

                            <p class="type-info-main-item__text">
                                Окрасочное полимерное покрытие пола.
                                <br><br>
                                Гаражи, стояночные места, склады, производства с сухими и умеренновлажными
                                технологическим процессами
                                эксплуатации, подстанции, дефростеры, венткамеры,
                                мастерские и прочие технические помещения.
                                <br><br>
                                Используется для
                                обновления существующих полимерных покрытий; нанесения
                                линий разметки; покрытия вертикальных поверхностей – стены,
                                ступени, фундаменты, колесотбойники.
                            </p>
                        </div>

                        <div class="type-info-main-item">
                            <h4 class="type-info__title">
                                Варианты выполнения покрытия
                            </h4>

                            <p class="type-info-main-item__text">
                                1 С использованием материалов:
                            </p>

                            <p class="type-info-main-item__info">
                                <span class="type-info-main-item__info-text type-info-main-item__info-text_green">
                                    Ризопокс-5601W
                                </span>
                                <span class="type-info-main-item__info-text">
                                    для лицевого слоя;
                                </span>
                            </p>

                            <p class="type-info-main-item__info">
                                <span class="type-info-main-item__info-text type-info-main-item__info-text_green">
                                    Ризопокс-1301W
                                </span>
                                <span class="type-info-main-item__info-text">
                                    для грунтовки.
                                </span>
                            </p>

                            <p class="type-info-main-item__text">
                                1 С использованием материалов:
                            </p>
                        </div>

                        <div class="type-info-main-item">
                            <h4 class="type-info__title">
                                Преимущества
                            </h4>

                            <p class="type-info-main-item__info">
                                <span class="type-info-main-item__info-text">
                                    низкий бюджет для класса
                                    эпоксидных покрытий
                                </span>
                            </p>

                            <p class="type-info-main-item__info">
                                <span class="type-info-main-item__info-text">
                                    технологичность: простота
                                    устройства и обновления

                                </span>
                            </p>

                            <p class="type-info-main-item__info">
                                <span class="type-info-main-item__info-text">
                                    широкая область применения
                                </span>
                            </p>

                            <p class="type-info-main-item__info">
                                <span class="type-info-main-item__info-text">
                                    возможность нанесения на
                                    деревянные и асфальтированные поверхности
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="type-info-specifications">

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="form-wrapper type-form">
        <div class="feedback-container form-container container">
            <div class="feedback-info form-info feedback-anim_1">
                <h6 class="feedback-info__title form-info__title">
                    Поможем в выборе!
                </h6>
                <p class="feedback-info__description form-info__description">
                    Если у вас есть вопросы о формате или вы не знаете, что выбрать, закажите звонок — мы позвоним,
                    чтобы ответить
                    на все вопросы.
                </p>
            </div>

            <div class="feedback-form-wrapper form-box feedback-anim_2">
                <form action="#" class="feedback-form form">
                    <div class="form-send">
                        <h6 class="form-send__title">Спасибо!</h6>
                        <p class="form-send__description">
                            Заявка отправлена. Мы свяжемся с вами в ближайшее время и обсудим детали
                        </p>
                    </div>
                    <h6 class="form__title">Заказать звонок</h6>
                    <input class="form__input" type="text" placeholder="Имя">
                    <input class="form__input" type="text" placeholder="+375 (29) 000-00-00">
                    <input class="form__checkbox" type="checkbox" name="checkbox" id="feedback-form-checkbox">
                    <label class="form__label" for="feedback-form-checkbox">
                        <span class="form__label-checkbox">
                            <svg class="form__label-icon">
                                <use href="#check-icon"></use>
                            </svg>
                        </span>
                        Согласен с обработкой персональных данных
                    </label>
                    <button class="form__btn default-btn">Заказать звонок</button>
                </form>
            </div>
        </div>
    </div>
</section>