<section class="types">
  <div class="container">

    <div class="catalogue-head solutions-head">
      <div class="catalog-all-links">
        <a href="index.html" class="catalogue-head__link">Главная ></a>
      </div>

      <h3 class="catalogue-head__title">Типовые конструкции</h3>
    </div>

    <div class="types__list">
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-1.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Окрасочные покрытия
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-2.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Наливные покрытия
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-3.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Полиуретан-цементные покрытия
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-4.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Антистатические покрытия
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-5.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Эпоксидно-кварцевые покрытия
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-6.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Декоративные покрытия
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-7.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Шероховатые покрытия
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-8.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Спортивные покрытия
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
      <div class="types-item">
        <div class="types-item__img">
          <img src="./assets/images/types-9.jpg" alt="">
        </div>
        <h3 class="types-item__title">
          Подготовка оснований
        </h3>
        <div class="types-item__list">
          <a href="#" class="types-item__link">тип 1</a>
          <a href="#" class="types-item__link">тип 2</a>
          <a href="#" class="types-item__link">тип 3</a>
        </div>
      </div>
    </div>

  </div>
</section>