<section class="vacancy">
  <div class="container vacancy-container">

    <ul class="vacancy-list">
      <li class="vacancy-list__item">
        <h5 class="vacancy-list__subtitle">
          Вакансии
        </h5>
      </li>

      <li class="vacancy-list-item">
        <div class="vacancy-list-item__info">
          <div class="vacancy-list-item__box">
            <h3 class="vacancy-list-item__title">
              Специалист отдела продаж
            </h3>
            <button type="button" class="vacancy-list-item__btn"></button>
          </div>
          <div class="vacancy-list-item-info">
            <p class="vacancy-info-list-item__text vacancy-list-item__info">
              Среднее специальное / <br>
              Высшее образование</p>
            <p class="vacancy-info-list-item__text vacancy-list-item__info">Опыт не требуется</p>
          </div>
        </div>

        <ul class="vacancy-info-list">
          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Обязанности
            </h5>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Работа с действующей базой проектировщиков;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Поиск и установление контакта с новыми проектными организациями путем телефонных переговоров/личных
              встреч;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Организация и проведение презентаций в офисе и на выезде (в т.ч. в регионах);
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Консультирование при внесении материалов в проект;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Подготовка КП.
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Требования
            </h5>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Высшее (преимущественно инженерное) образование;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Опыт работы в продажах от 1 года;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Наличие прав категории "Б" и личного автомобиля;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Презентабельный внешний вид;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Грамотная речь.
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Дополнительно
            </h5>
            <p class="vacancy-info-list-item__text">
              Рассмотрим Ваш отклик только при наличии сопроводительного письма!
              В сопроводительном письме просьба указать 3 причины, по которым именно ВЫ должны стать частью нашей
              дружной команды единомышленников.
              Будем рады знакомству и плодотворному сотрудничеству!!!
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Контактное лицо
            </h5>
            <p class="vacancy-info-list-item__text">
              Ходосевич Ксения
            </p>
            <p class="vacancy-info-list-item__text">
              Телефон
            </p>
            <p class="vacancy-info-list-item__text">
              Почта
            </p>
          </li>
        </ul>
      </li>

      <li class="vacancy-list-item">
        <div class="vacancy-list-item__info">
          <div class="vacancy-list-item__box">
            <h3 class="vacancy-list-item__title">
              Специалист по работе с проектными организациями
            </h3>
            <button type="button" class="vacancy-list-item__btn"></button>
          </div>
          <div class="vacancy-list-item-info">
            <p class="vacancy-info-list-item__text vacancy-list-item__info">
              Высшее (преимущественно <br> инженерное) образование
            <p class="vacancy-info-list-item__text vacancy-list-item__info">1-3 года опыта</p>
          </div>
        </div>

        <ul class="vacancy-info-list">
          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Обязанности
            </h5>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Работа с действующей базой проектировщиков;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Поиск и установление контакта с новыми проектными организациями путем телефонных переговоров/личных
              встреч;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Организация и проведение презентаций в офисе и на выезде (в т.ч. в регионах);
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Консультирование при внесении материалов в проект;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Подготовка КП.
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Требования
            </h5>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Высшее (преимущественно инженерное) образование;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Опыт работы в продажах от 1 года;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Наличие прав категории "Б" и личного автомобиля;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Презентабельный внешний вид;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Грамотная речь.
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Дополнительно
            </h5>
            <p class="vacancy-info-list-item__text">
              Рассмотрим Ваш отклик только при наличии сопроводительного письма!
              В сопроводительном письме просьба указать 3 причины, по которым именно ВЫ должны стать частью нашей
              дружной команды единомышленников.
              Будем рады знакомству и плодотворному сотрудничеству!!!
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Контактное лицо
            </h5>
            <p class="vacancy-info-list-item__text">
              Ходосевич Ксения
            </p>
            <p class="vacancy-info-list-item__text">
              Телефон
            </p>
            <p class="vacancy-info-list-item__text">
              Почта
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <div class="vacancy-info">
      <div class="vacancy-info-wrapper">
        <div class="vacancy-info-inner">
          <h3 class="vacancy-info__title">
            Работать с нами выгодно, потому что:
          </h3>

          <ul class="vacancy-info__list">
            <li class="vacancy-info__item">
              <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
                Мы стабильная, активно развивающаяся компания;
              </p>
            </li>

            <li class="vacancy-info__item">
              <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
                Официальное трудоустройство с 1-го дня;
              </p>
            </li>

            <li class="vacancy-info__item">
              <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
                Испытательный срок - 1 месяц;
              </p>
            </li>

            <li class="vacancy-info__item">
              <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
                Возможность влиять на уровень з/п;
              </p>
            </li>

            <li class="vacancy-info__item">
              <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
                График работы: с 9.00 до 17.30, при командировках - ненормируемый;
              </p>
            </li>

            <li class="vacancy-info__item">
              <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
                Комфортный офис в Минске, недалеко от ж.д. вокзала;
              </p>
            </li>

            <li class="vacancy-info__item">
              <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
                Дружный коллектив.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>