<section class="vacancy">
  <div class="container vacancy-container">

    <ul class="vacancy-list">
      <li class="vacancy-list__item">
        <h5 class="vacancy-list__subtitle">
          Вакансии
        </h5>
      </li>

      <li class="vacancy-list-item">
        <div class="vacancy-list-item__info">
          <div class="vacancy-list-item__box">
            <h3 class="vacancy-list-item__title">
              Специалист отдела продаж
            </h3>
            <button type="button" class="vacancy-list-item__btn"></button>
          </div>
          <div class="vacancy-list-item-info">
            <p class="vacancy-info-list-item__text vacancy-list-item__info">
              Среднее специальное / <br>
              Высшее образование</p>
            <p class="vacancy-info-list-item__text vacancy-list-item__info">Опыт не требуется</p>
          </div>
        </div>

        <ul class="vacancy-info-list">
          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Обязанности
            </h5>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Работа с действующей базой проектировщиков;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Поиск и установление контакта с новыми проектными организациями путем телефонных переговоров/личных
              встреч;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Организация и проведение презентаций в офисе и на выезде (в т.ч. в регионах);
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Консультирование при внесении материалов в проект;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Подготовка КП.
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Требования
            </h5>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Высшее (преимущественно инженерное) образование;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Опыт работы в продажах от 1 года;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Наличие прав категории "Б" и личного автомобиля;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Презентабельный внешний вид;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Грамотная речь.
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Дополнительно
            </h5>
            <p class="vacancy-info-list-item__text">
              Рассмотрим Ваш отклик только при наличии сопроводительного письма!
              В сопроводительном письме просьба указать 3 причины, по которым именно ВЫ должны стать частью нашей
              дружной команды единомышленников.
              Будем рады знакомству и плодотворному сотрудничеству!!!
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Контактное лицо
            </h5>
            <p class="vacancy-info-list-item__text">
              Ходосевич Ксения
            </p>
            <p class="vacancy-info-list-item__text">
              Телефон
            </p>
            <p class="vacancy-info-list-item__text">
              Почта
            </p>
          </li>
        </ul>
      </li>

      <li class="vacancy-list-item">
        <div class="vacancy-list-item__info">
          <div class="vacancy-list-item__box">
            <h3 class="vacancy-list-item__title">
              Специалист по работе с проектными организациями
            </h3>
            <button type="button" class="vacancy-list-item__btn"></button>
          </div>
          <div class="vacancy-list-item-info">
            <p class="vacancy-info-list-item__text vacancy-list-item__info">
              Высшее (преимущественно <br> инженерное) образование
            <p class="vacancy-info-list-item__text vacancy-list-item__info">1-3 года опыта</p>
          </div>
        </div>

        <ul class="vacancy-info-list">
          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Обязанности
            </h5>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Работа с действующей базой проектировщиков;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Поиск и установление контакта с новыми проектными организациями путем телефонных переговоров/личных
              встреч;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Организация и проведение презентаций в офисе и на выезде (в т.ч. в регионах);
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Консультирование при внесении материалов в проект;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Подготовка КП.
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Требования
            </h5>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Высшее (преимущественно инженерное) образование;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Опыт работы в продажах от 1 года;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Наличие прав категории "Б" и личного автомобиля;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Презентабельный внешний вид;
            </p>
            <p class="vacancy-info-list-item__text vacancy-info-list-item__text_mark">
              Грамотная речь.
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Дополнительно
            </h5>
            <p class="vacancy-info-list-item__text">
              Рассмотрим Ваш отклик только при наличии сопроводительного письма!
              В сопроводительном письме просьба указать 3 причины, по которым именно ВЫ должны стать частью нашей
              дружной команды единомышленников.
              Будем рады знакомству и плодотворному сотрудничеству!!!
            </p>
          </li>

          <li class="vacancy-info-list-item">
            <h5 class="vacancy-info-list-item__title">
              Контактное лицо
            </h5>
            <p class="vacancy-info-list-item__text">
              Ходосевич Ксения
            </p>
            <p class="vacancy-info-list-item__text">
              Телефон
            </p>
            <p class="vacancy-info-list-item__text">
              Почта
            </p>
          </li>
        </ul>
      </li>
    </ul>

    <div class="vacancy-info">
      <div class="resume-form-form-wrapper form-box vacancy-info-form">
        <form action="#" class="resume-form-form form">
          <div class="form-send">
            <h6 class="form-send__title">Спасибо!</h6>
            <p class="form-send__description">
              Заявка отправлена. Мы свяжемся с вами в ближайшее время и обсудим детали
            </p>
          </div>
          <div class="vacancy-info-form-inner">
            <h6 class="vacancy-info-form-inner__title">Хотите у нас работать?</h6>
            <p class="vacancy-info-form-inner__text">
              Отправьте резюме, и мы свяжемся с вами
            </p>
          </div>
          <input class="form__input" type="text" placeholder="Имя">
          <input class="form__input" type="text" placeholder="+375 (29) 000-00-00">

          <label class="resume-form-resume__label">
            + Прикрепить резюме
            <span class="resume-form-resume__file"></span>
            <input class="resume-form-resume__input" type="file" name="resume" id="resume-form-resume">
          </label>

          <input class="form__checkbox" type="checkbox" name="checkbox" id="resume-form-form-checkbox">
          <label class="form__label" for="resume-form-form-checkbox">
            <span class="form__label-checkbox">
              <svg class="form__label-icon">
                <use href="#check-icon"></use>
              </svg>
            </span>
            Согласен с обработкой персональных данных
          </label>
          <button class="form__btn default-btn">Отправить резюме</button>
        </form>
      </div>
    </div>
  </div>
</section>