<section class="video">
  <div class="container">

    <div class="video-head">
      <a href="index.html" class="video-head__link">Главная ></a>

      <h2 class="video-head__title">Видео</h2>
    </div>

  </div>

  <div class="video-swiper-container">
    <div class="container">
      <div class="swiper video-swiper">
        <div class="swiper-wrapper video-swiper-wrapper">
          <div class="swiper-slide video-swiper-slide">
            <a href="https://www.youtube.com/watch?v=r4Qemwz7y5o&ab_channel=%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B5%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5.%D0%93%D0%9E%D0%A1%D0%A2%D0%95%D0%9B%D0%95%D0%A0%D0%90%D0%94%D0%98%D0%9E%D0%A4%D0%9E%D0%9D%D0%94"
              class="video-swiper-slide-img" data-fancybox>
              <span class="work-swiper-icon video-swiper-slide-img__icon">
                <svg class="work-swiper__icon">
                  <use href="#play-icon"></use>
                </svg>
              </span>
              <img class="video-swiper-slide-img__img" src="assets/images/parking-2.jpg" alt="video-preview">
            </a>

            <div class="video-swiper-slide-info">
              <h3 class="video-swiper-slide__title">
                В процессе работы
              </h3>

              <p class="video-swiper-slide__description">
                Текст краткое описание видео
                <br><br>
                Monotonectally repurpose mission-critical relationships with diverse testing procedures. Appropriately
                architect performance based testing procedures through granular "outside the box" thinking.
              </p>
            </div>
          </div>

          <div class="swiper-slide video-swiper-slide">
            <a href="https://www.youtube.com/watch?v=r4Qemwz7y5o&ab_channel=%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B5%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5.%D0%93%D0%9E%D0%A1%D0%A2%D0%95%D0%9B%D0%95%D0%A0%D0%90%D0%94%D0%98%D0%9E%D0%A4%D0%9E%D0%9D%D0%94"
              class="video-swiper-slide-img" data-fancybox>
              <span class="work-swiper-icon video-swiper-slide-img__icon">
                <svg class="work-swiper__icon">
                  <use href="#play-icon"></use>
                </svg>
              </span>
              <img class="video-swiper-slide-img__img" src="assets/images/case-5.png" alt="video-preview">
            </a>

            <div class="video-swiper-slide-info">
              <h3 class="video-swiper-slide__title">
                В процессе работы
              </h3>

              <p class="video-swiper-slide__description">
                Текст краткое описание видео
                <br><br>
                Monotonectally repurpose mission-critical relationships with diverse testing procedures. Appropriately
                architect performance based testing procedures through granular "outside the box" thinking.
              </p>
            </div>
          </div>

          <div class="swiper-slide video-swiper-slide">
            <a href="https://www.youtube.com/watch?v=r4Qemwz7y5o&ab_channel=%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B5%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5.%D0%93%D0%9E%D0%A1%D0%A2%D0%95%D0%9B%D0%95%D0%A0%D0%90%D0%94%D0%98%D0%9E%D0%A4%D0%9E%D0%9D%D0%94"
              class="video-swiper-slide-img" data-fancybox>
              <span class="work-swiper-icon video-swiper-slide-img__icon">
                <svg class="work-swiper__icon">
                  <use href="#play-icon"></use>
                </svg>
              </span>
              <img class="video-swiper-slide-img__img" src="assets/images/parking-2.jpg" alt="video-preview">
            </a>

            <div class="video-swiper-slide-info">
              <h3 class="video-swiper-slide__title">
                В процессе работы
              </h3>

              <p class="video-swiper-slide__description">
                Текст краткое описание видео
                <br><br>
                Monotonectally repurpose mission-critical relationships with diverse testing procedures. Appropriately
                architect performance based testing procedures through granular "outside the box" thinking.
              </p>
            </div>
          </div>

          <div class="swiper-slide video-swiper-slide">
            <a href="https://www.youtube.com/watch?v=r4Qemwz7y5o&ab_channel=%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%BE%D0%B5%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5.%D0%93%D0%9E%D0%A1%D0%A2%D0%95%D0%9B%D0%95%D0%A0%D0%90%D0%94%D0%98%D0%9E%D0%A4%D0%9E%D0%9D%D0%94"
              class="video-swiper-slide-img" data-fancybox>
              <span class="work-swiper-icon video-swiper-slide-img__icon">
                <svg class="work-swiper__icon">
                  <use href="#play-icon"></use>
                </svg>
              </span>
              <img class="video-swiper-slide-img__img" src="assets/images/case-5.png" alt="video-preview">
            </a>

            <div class="video-swiper-slide-info">
              <h3 class="video-swiper-slide__title">
                В процессе работы
              </h3>

              <p class="video-swiper-slide__description">
                Текст краткое описание видео
                <br><br>
                Monotonectally repurpose mission-critical relationships with diverse testing procedures. Appropriately
                architect performance based testing procedures through granular "outside the box" thinking.
              </p>
            </div>
          </div>
        </div>

        <div class="custom-swiper-control video-swiper-control">
          <div class="video-swiper-pagination custom-swiper-pagination">
            <span class="video-swiper-pagination__current custom-swiper-pagination__current">00</span>
            /
            <span class="video-swiper-pagination__total custom-swiper-pagination__total">00</span>
          </div>
          <div class="video-swiper-btn custom-swiper-btn">
            <svg class="custom-swiper-btn__icon">
              <use href="#arrow-icon"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>