<section class="work">
  <div class="work-container container">
    <div class="work-info-box">
      <span class="work-info__subtitle">
        Видео
      </span>
      <h6 class="work-info__title">
        В процессе работы
      </h6>
    </div>

    <div class="work-swiper-container">
      <div class="work-swiper swiper">
        <div class="work-swiper-wrapper swiper-wrapper">

          <div class="work-swiper__slide swiper-slide">
            <div class="work-swiper__title">
              видео 1
            </div>
            <a href="https://youtu.be/Df3mkjtEwCY" class="work-swiper__link" data-fancybox>
              <span class="work-swiper-icon">
                <svg class="work-swiper__icon">
                  <use href="#play-icon"></use>
                </svg>
              </span>
              <img src="assets/images/parking-2.jpg" alt="parking" class="work-swiper__img">
            </a>
          </div>

          <div class="work-swiper__slide swiper-slide">
            <div class="work-swiper__title">
              видео 2
            </div>
            <a href="https://youtu.be/Df3mkjtEwCY" class="work-swiper__link" data-fancybox>
              <span class="work-swiper-icon">
                <svg class="work-swiper__icon">
                  <use href="#play-icon"></use>
                </svg>
              </span>
              <img src="assets/images/parking.jpg" alt="parking" class="work-swiper__img">
            </a>
          </div>

          <div class="work-swiper__slide swiper-slide">
            <div class="work-swiper__title">
              видео 3
            </div>
            <a href="https://youtu.be/Df3mkjtEwCY" class="work-swiper__link" data-fancybox>
              <span class="work-swiper-icon">
                <svg class="work-swiper__icon">
                  <use href="#play-icon"></use>
                </svg>
              </span>
              <img src="assets/images/catalog-1.png" alt="parking" class="work-swiper__img">
            </a>
          </div>

          <div class="work-swiper__slide swiper-slide">
            <div class="work-swiper__title">
              видео 4
            </div>
            <a href="https://youtu.be/Df3mkjtEwCY" class="work-swiper__link" data-fancybox>
              <span class="work-swiper-icon">
                <svg class="work-swiper__icon">
                  <use href="#play-icon"></use>
                </svg>
              </span>
              <img src="assets/images/catalog-3.png" alt="parking" class="work-swiper__img">
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="work-info">
      <span class="work-info__subtitle work-info__subtitle_first">
        Видео
      </span>

      <div class="custom-swiper-control">
        <div class="work-swiper-pagination custom-swiper-pagination">
          <span class="work-swiper-pagination__current custom-swiper-pagination__current"></span>
          /
          <span class="work-swiper-pagination__total custom-swiper-pagination__total"></span>
        </div>
        <div class="work-swiper-btn custom-swiper-btn">
          <svg class="custom-swiper-btn__icon">
            <use href="#arrow-icon"></use>
          </svg>
        </div>
      </div>

      <h6 class="work-info__title work-info__title_first">
        В процессе работы
      </h6>

      <a class="work-info__btn default-btn" href="#">Посмотреть все видео</a>
    </div>
  </div>
</section>